<div id="listing">
    <div class="page-header">
        {{#if @params.apiTier}}
            <h2 id="tierTopic">{{i18n "Advanced Throttle Policies"}}</h2>
        {{else if @params.applicationTier}}
            <h2 id="tierTopic">{{i18n "Application Tiers"}}</h2>
        {{else if @params.subscriptionTier}}
            <h2 id="tierTopic">{{i18n "Subscription Tiers"}}</h2>
        {{/if}}
        <p class="lead"></p>
    </div>
    {{#if @params.list}}
        <div class="content-section shadow-up">
            <div class="content-data">
                <table class="table table-striped table-hover table-bordered display data-table" id="api-policy" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="col-md-2">{{i18n "Name"}}</th>
                        <th class="col-md-2">{{i18n "Quota Policy"}}</th>
                        <th class="col-md-2">{{i18n "Quota"}}</th>
                        <th class="col-md-2">{{i18n "Unit Time"}}</th>
                        <th class="col-md-3 policy-listing-action">{{i18n "Actions"}}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    {{else}}
        <div  id="application-table-nodata" class=" message message-info">
            <h4><i class="icon fw fw-info"></i> {{i18n "No Applications"}}</h4>
            <p>{{i18n "No applications yet. Click Add Applications in the action bar to add an application."}}</p>
        </div>
    {{/if}}
</div>

