




<!--
~   Copyright (c) WSO2 Inc. (http://wso2.com) All Rights Reserved.
~
~   Licensed under the Apache License, Version 2.0 (the "License");
~   you may not use this file except in compliance with the License.
~   You may obtain a copy of the License at
~
~        http://www.apache.org/licenses/LICENSE-2.0
~
~   Unless required by applicable law or agreed to in writing, software
~   distributed under the License is distributed on an "AS IS" BASIS,
~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~   See the License for the specific language governing permissions and
~   limitations under the License.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="description" content=""/>

    <title>API Store - e2e</title>

    <script>
        var requestURL = 'https://localhost:9444/store/';
        var ssoEnabled = 'false';
        var oidcEnabled = 'false';
        var tenant = 'null';
        var urlPrefix = '';
        var siteContext = '/store';
    </script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="https://localhost:9444/store/site/themes/wso2/images/favicon-store.png">

    <link type="text/css" rel="stylesheet" href="/store/site/themes/wso2/libs/bootstrap_3.3.5/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/store/site/themes/wso2/libs/theme-wso2_1.0/css/theme-wso2.css"/>
    <link type="text/css" rel="stylesheet" href="/store/site/themes/wso2/libs/font-wso2_1.0.2/css/font-wso2.min.css"/>
    <link type="text/css" rel="stylesheet" href="/store/site/themes/wso2/libs/font-awesome/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="/store/site/themes/wso2/libs/bootstrap-select/css/bootstrap-select.min.css"/>
    <link type="text/css" rel="stylesheet" href="/store/site/themes/wso2/css/custom.css"/>
    <link type="text/css" rel="stylesheet" href="/store/site/themes/wso2/libs/bootstrap-rating/bootstrap-rating.css"/>
    <link type="text/css" rel="stylesheet" href="/store/site/themes/wso2/libs/data-tables_1.10.7/extensions/Bootstrap/css/dataTables.bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/store/site/themes/wso2/libs/data-tables_1.10.7/extensions/Responsive/css/dataTables.responsive.css"/>
    <link type="text/css" rel="stylesheet" href="/store/site/themes/wso2/templates/api/swagger/swagger/css/screen.css"/>
    <link type="text/css" rel="stylesheet" href="/store/site/themes/wso2/templates/forum/css/summernote.css"/>
    <script type="text/javascript" src="/store/site/themes/wso2/libs/jquery_1.11.0/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/libs/i18n/i18next-1.5.9.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/libs/jquery-csrf/jquery-csrf.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/libs/handlebars.min.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/libs/bootstrap-rating/bootstrap-rating.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/page/base/js/jagg.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/page/base/js/base.js"></script>
    <script type="text/javascript">jagg.site = {"context" : "/store", "registry" : ""};</script>
    <script type="text/javascript">jagg.loggedIn = true;</script>
    <script type="text/javascript" src="/store/site/themes/wso2/libs/handlebars.min.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/overview/js/jquery.sharrre.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/overview/js/overview.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/comment/comment-add/js/comment-add.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/object-assign-pollyfill.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/jquery.slideto.min.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/jquery.wiggle.min.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/js-yaml.min.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/lodash.min.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/backbone-min.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/swagger-ui.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/highlight.9.1.0.pack.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/highlight.9.1.0.pack_extended.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/jsoneditor.min.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/marked.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/swagger/swagger/lib/swagger-oauth.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/ui/tab/js/init-tabs.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/api/documentation/js/documentation.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/libs/summernote.min.js"></script>
    <script type="text/javascript" src="/store/site/themes/wso2/templates/user/login/js/login.js"></script>

    <script>
        var siteRoot = 'https://localhost:9444/store/site/themes/wso2';
    </script>
</head>
<body class="sticky-footer">







<!-- header -->
<header class="header header-default">
    <div class="container-fluid">
        <div class="pull-left brand float-remove-xs text-center-xs">
            <a href="https://localhost:9444/store/site/pages/index.jag" title="API Store">
                <img src="https://localhost:9444/store/site/themes/wso2/libs/theme-wso2_1.0/images/logo-inverse.svg" class="logo" alt="APIStore Home"/>
                <h1 class="display-block-xs">API Store</h1>
            </a>
        </div>

        <ul class="nav navbar-right float-remove-xs text-center-xs">



            <li class="visible-inline-block">
                <a title="user account" href="#" class="dropdown" data-toggle="dropdown">
					            <span class="icon fw-stack fw-lg">
					               <i class="fw fw-circle-outline fw-stack-2x"></i>
					               <i class="fw fw-user fw-stack-1x"></i>
					            </span>
                    <span class="hidden-xs"> &nbsp; admin<span class="caret"></span></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right float-remove-xs position-static-xs text-center-xs remove-margin-xs slideInDown" role="menu">
                    <li class="dropdown-header visible-xs">&nbsp; admin <span class="caret"></span></li>

                    <li><a title="My Account" href="/store/site/pages/user-info.jag"><i class="fw fw-settings"></i> &nbsp; My Account</a></li>

                    <li class="divider visible-xs"></li>
                    <li><a title="Sign Out" href="#" id="logout-link"><i class="fw fw-sign-out"></i> &nbsp; Sign Out</a></li>
                </ul>
            </li>
        </ul>


        <!-- TODO: Check and include relevant -->

        <!--  -->
    </div>
</header>


<!-- #page-content-wrapper -->
<div class="page-content-wrapper">
    <!-- media-->
    <div class="media">
        <!-- media left-->
        <div class="media-left sidebar-wrapper sidebar-nav visible-side-pane" id="left-sidebar" data-spy="affix" data-offset-top="50" data-side="left" data-width="200">


            <!-- Sidebar -->

            <nav class="navigation">
                <ul>

                    <li class="purple active"><a title="APIs" href="/store/"><i class="fw fw-api icon"></i><span class="left-menu-item ">APIs</span></a></li>
                    <li class="green"><a title="Applications" href="/store/site/pages/applications.jag" class="link-myapplications"><i class="fw fw-application icon"></i><span class="left-menu-item">Applications</span></a></li>

                    <li class="orange"><a title="forum" href="/store/forum"><i class="fw fw-forum icon"></i><span class="left-menu-item">Forum</span></a></li>

                    <li class="yellow"><a title="Statistics" href="/store/site/pages/statistics.jag?stat=perAppAPICount" class=""><i class="fw fw-statistics icon"></i><span class="left-menu-item">Statistics <i class="fw fw-down fw-stack-1x toggle-icon-up remove-float"></i></span></a>
                        <ul class="sublevel-menu">
                            <li><a title="API Usage" href="/store/site/pages/statistics.jag?stat=perAppAPICount" class=""><i class="fw fw-api icon"></i><span class="name">API Usage</span></a></li>
                            <li><a title="Top Users" href="/store/site/pages/statistics.jag?stat=topUsers" class=""><i class="fw fw-api icon"></i><span class="name">Top Users</span></a></li>
                            <li><a title="Resource Usage" href="/store/site/pages/statistics.jag?stat=apiCallType" class=""><i class="fw fw-api icon"></i><span class="name">Resource Usage</span></a></li>
                            <li><a title="Faulty Invocations" href="/store/site/pages/statistics.jag?stat=faultCount" class=""><i class="fw fw-api icon"></i><span class="name">Faulty Invocations</span></a></li>
                            <li><a title="Manage Alert Types" href="/store/site/pages/manage-alert-type.jag" class=""><i class="fw fw-notification icon"></i><span class="name">Manage Alert Types</span></a></li>
                        </ul>
                    </li>

                </ul>
            </nav>

            <!--
   <div class="sidebar-wrapper sidebar-nav" id="left-sidebar"
    data-side="left" data-width="300" data-fixed-offset-top="0" data-spy="affix" data-offset-top="50" style="width: 300px; left: 0px;">
    <div class="nano">
      <div class="nano-content">
        <ul class="nav nav-pills  nav-stacked pages">

               <li >
               <a title="Browse the latest versions of published APIs, make subscriptions and generate API keys." href="https://localhost:9444/store/" class="link-home">
               <i class="fw fw-api fw-2x"></i>
               APIs
               </a>
               </li>

               <li >
               <a title="Browse and create applications. Applications are required to make API subscriptions and consume them." href="https://localhost:9444/store/site/pages/applications.jag" class="link-myapplications">
               <i class="fw fw-application fw-2x"></i>
               My Applications
               </a>
               </li>

               <li >
               <a title="forum" href="https://localhost:9444/store/forum/" class="link-forum">
               <i class="fw fw-forum fw-2x"></i>
               Forum
               </a>
               </li>

          <li><a title="title" href="#" id="left-bar-menu-toggle" data-toggle="collapse" data-target="#secondaryMenu"
                               aria-expanded="false"><i class="fw fw-statistics fw-2x"></i> Statistics
                               <i class="icon fw fw-down fw-1x secondary-nav-toggle" title="Statistics"></i>
                               </a>
          <ul class="nav nav-pills secondary-nav collapse " id="secondaryMenu" role="menu" aria-labelledby="btn-1" >
              <li ><a class="substats"
                title="API Subscriptions" href="/publisher/site/pages/all-statistics.jag?page=api-subscriptions&stat=all-stat"
                onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-subscriptions&stat=all-stat',e:event,ssoEnabled:false})">
                <i class="icon fw fw-pie-chart"></i>
                API Subscriptions</a></li>
              <li ><a class="substats" title="API Usage"
                href="/publisher/site/pages/all-statistics.jag?page=api-usage-user&stat=all-stat"
                onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-usage-user&stat=all-stat',e:event,ssoEnabled:false})">
                <i class="icon fw fw-bar-chart"></i>
                API Usage</a></li>
              <li ><a class="substats" title="API Response Times"
                href="/publisher/site/pages/all-statistics.jag?page=api-response-times&stat=all-stat"
                onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-response-times&stat=all-stat',e:event,ssoEnabled:false})">
                <i class="icon fw fw-bar-chart"></i>
                API Response Times</a></li>
              <li ><a class="substats" title="API Last Access Times"
                href="/publisher/site/pages/all-statistics.jag?page=api-last-access-times&stat=all-stat"
                onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-last-access-times&stat=all-stat',e:event,ssoEnabled:false})">
                <i class="icon fw fw-table"></i>
                API Last Access Times</a></li>
            </ul>

</li>
        </ul>
      </div>
    </div>
</div> -->





        </div><!-- media left-->

        <!-- Page Content -->


        <!-- media body-->
        <div class="media-body">


            <!-- navbar -->
            <div class="navbar-wrapper ">
                <nav class="navbar navbar-default" data-spy="affix" data-offset-top="50" data-offset-bottom="40">
                    <a class="navbar-menu-toggle hidden-sm hidden-lg hidden-md" title="left-sidebar" data-toggle="sidebar" data-target="#left-sidebar" data-container=".page-content-wrapper" data-container-divide="true" aria-expanded="false" rel="leftmenu-sidebar">
                        <span class="icon fw-stack">
                            <i class="fw fw-menu fw-stack-1x toggle-icon-cancel"></i>
                        </span>
                    </a>

                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- div class="navbar-brand">
                                <a title="Components" href="#">Components</a>
                            </div -->
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">

                                <li>
                                    <a title="Go Back" href="/store/">
	                                <span class="icon fw-stack">
	                                    <i class="fw fw-left fw-stack-1x" title="Go Back"></i>
	                                    <i class="fw fw-circle-outline fw-stack-2x" title="Go Back"></i>
	                                </span>
                                        Go Back
                                    </a>
                                </li>

                            </ul>

                        </div><!--/.nav-collapse -->
                    </div>

                </nav>
            </div>


            <div class="container-fluid">
                <div class="body-wrapper">




                    <div class="page-header">

                        <script>var isRatingActivated = true, context = '/store',theme = 'wso2', user = true
                        var existingRating = null
                        </script>
                        <h2 class="truncate-children"><span>e2e - e2e<span></h2>

                    </div>
                    <div class="page-content">
                        <div class="row">
                            <div class="row-height">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 col-md-height col-sm-middle col-lg-top">
                                    <div class="white-wrapper details-wrapper">
                                        <div class="thumbnail icon">

                                            <div class="square-element setbgcolor">
                                                <div class="api-name-icon"></div>
                                                <div style="display: none">
                                                    <a href="" title="api name" class="api-name">e2e</a>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-md-height col-md-top">
                                    <div class="white-wrapper">
                                        <div class="api-details-container">
                                            <div class="add-padding-4x">
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-xs-4 col-sm-4 control-label"><strong>Version:</strong></label>
                                                        <div class="col-xs-8 col-sm-8">
                                                            <p class="form-control-static">e2e</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-4 col-sm-4 control-label"><strong>By:</strong></label>
                                                        <div class="col-xs-8 col-sm-8">
                                                            <p class="form-control-static">admin</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-4 col-sm-4 control-label"><strong>Updated:</strong></label>
                                                        <div class="col-xs-8 col-sm-8">
                                                            <p class="form-control-static">30/Nov/2016 15:27:43 PM IST</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-4 col-sm-4 control-label"><strong>Status:</strong></label>
                                                        <div class="col-xs-8 col-sm-8">
                                                            <p class="form-control-static"><span class="label label-primary">PUBLISHED</span></p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">

                                                        <label class="col-xs-4 col-sm-4 control-label"><strong>Rating:</strong></label>
                                                        <div class="col-xs-5 col-sm-5">
                                                            <p class="form-control-static">
                                                                <input type="hidden" class="rating-tooltip-manual rate_save" value="0"/>
                                                                <a class="remove_rating" title="remove rates"><i class="fw fw-error" style="font-size:11px;"></i></a>
                                                            </p>
                                                        </div>





                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 col-md-height col-md-top">

                                    <form class="form-api-subscription add-padding-4x">
                                        <!-- Load Application -->

                                        <div class="form-group">
                                            <label for="application-list">Applications</label>
                                            <select id="application-list" class="form-control">

                                                <option value="createNewApp">New Application...</option>
                                                <optgroup label="My Applications">


                                                    <option selected value="1">DefaultApplication</option>


                                                    <option value="33">wqwqwqw</option>

                                                </optgroup>
                                            </select>
                                        </div>

                                        <!--End Load Application -->
                                        <!-- Load Tiers -->

                                        <div class="form-group">
                                            <label for="tiers-list" class="hidden-xs">Tiers</label>
                                            <select id="tiers-list" name="tiers-list" class="form-control">

                                                <option   title="Unlimited" data-content="<span><strong>Unlimited</strong><br />Allows unlimited requests</span>" value="Unlimited">Unlimited</option>

                                            </select>

                                        </div>

                                        <button type="button" onclick="triggerSubscribe()" id="subscribe-button"
                                                class="btn btn-primary btn-mobile">
                                    <span class="icon fw-stack">
                                        <i class="fw fw-subscribe fw-stack-1x"></i>
                                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                                    </span>
                                            Subscribe

                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="add-margin-3x white-wrapper">

                                <ul class="nav nav-tabs" role="tablist">


                                    <li class="first active">
                                        <a data-toggle="tab" title="Overview" href="#tab0">Overview</a>
                                    </li>


                                    <li class="">
                                        <a data-toggle="tab" title="API Console" href="#tab1">API Console</a>
                                    </li>


                                    <li class="">
                                        <a data-toggle="tab" title="Documentation" href="#tab2">Documentation</a>
                                    </li>


                                    <li class="last">
                                        <a data-toggle="tab" title="Forum" href="#tab3">Forum</a>
                                    </li>

                                </ul>

                                <div class="tab-content">

                                    <div class="tab-pane fade in active" id="tab0">



                                        <div class="row">
                                            <div class="col-md-12 col-lg-9">



                                                <h4>Production and Sandbox Endpoints</h4>

                                                <h5 class="add-margin-top-2x">Production and Sandbox URLs:</h5>


                                                <div  class="endpoint-copybtn well well-sm add-margin-bottom-1x"><a
                                                        data-clipboard-text="http://172.17.0.1:8281/e2e2/e2e"
                                                        class="pull-right copy-button"  title="Copy"><i class="fw fw-copy"></i></a>http://172.17.0.1:8281/e2e2/e2e

                                                </div>


                                                <div  class="endpoint-copybtn well well-sm add-margin-bottom-1x"><a
                                                        data-clipboard-text="https://172.17.0.1:8244/e2e2/e2e"
                                                        class="pull-right copy-button"  title="Copy"><i class="fw fw-copy"></i></a>https://172.17.0.1:8244/e2e2/e2e

                                                </div>








                                                <h4 class="add-margin-top-5x">Share</h4>
                                                <ul class="nav nav-pills">
                                                    <li role="presentation" class="active"><a href="#" ref="social" class="share_links" title="Social Sites">Social Sites</a></li>
                                                    <li role="presentation"><a href="#" ref="embed" class="share_links" title="Embed" >Embed</a></li>
                                                    <li role="presentation"><a href="#" id="api_mailto" title="Email">Email</a></li>
                                                </ul>
                                                <div class="share-container add-margin-top-2x">
                                                    <div id="share_div_embed" class="share_dives highlight" style="display:none">
                                                        <div class="well well-sm remove-margin"><a data-clipboard-text="" id="embed-copy" class="pull-right copy-button" title="Copy"><i class="fw fw-copy"></i></a><code id="embed_iframe" class="html hljs xml"></code></div>
                                                    </div>

                                                    <div id="share_div_social" class="share_dives">
                                                        <!-- Facebook -->
                                                        <a class="social_links" id="facebook" href="#" target="_blank" title="facebook"><img src="https://localhost:9444/store/site/themes/wso2/images/facebook.png" alt="Facebook" /></a>
                                                        <!-- Twitter -->
                                                        <a class="social_links" id="twitter" href="#" target="_blank" title="twitter"><img src="https://localhost:9444/store/site/themes/wso2/images/twitter.png" alt="Twitter" /></a>
                                                        <!-- Google+ -->
                                                        <a class="social_links" id="googleplus" href="#" target="_blank" title="googleplus"><img src="https://localhost:9444/store/site/themes/wso2/images/google.png" alt="Google" /></a>
                                                        <!-- Digg -->
                                                        <a class="social_links" id="digg" href="#" target="_blank" title="digg"><img src="https://localhost:9444/store/site/themes/wso2/images/diggit.png" alt="Digg" /></a>
                                                        <div class="clearfix">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-9">
                                                <h4 class="add-margin-top-5x">Comments</h4>

                                                <div id="comment-add">
                                                    <div class="alert alert-error" id="commentAdd-error" style="display:none">
                                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                                        <strong>Comment exceeds character limit</strong>
                                                    </div>
                                                    <textarea id="comment-text" class="form-control comment-box resize-vertical-only"></textarea>
                                                    <div class="add-margin-top-2x">
                                                        <button id="comment-add-button" class="btn btn-secondary btn-mobile"><i class=" icon-plus-sign"></i>Add</button>
                                                    </div>
                                                </div>




                                                <div id="comment-list">

                                                    <p>No comments yet</p>

                                                </div>
                                                <script type="text/javascript">
                                                    jagg.printDate();
                                                </script>

                                            </div>
                                        </div>
                                        <script language="javascript">
                                            $(document).ready(function(){
                                                var link = window.location+'';
                                                $('#api_mailto').on("click",function(){
                                                    location.href = "mailto:?Subject="+encodeURIComponent(document.title)+"&body=Link : "+ encodeURIComponent(window.location);
                                                });
                                                $('#embed_iframe').text('<iframe width="450" height="120" src="'+link.replace('info','widget')+'" frameborder="0" allowfullscreen></iframe>');
                                                $('#embed-copy').attr('data-clipboard-text', '<iframe width="450" height="120" src="'+link.replace('info','widget')+'" frameborder="0" allowfullscreen></iframe>');

                                                $('.share_links,#api_mailto').click(function(){
                                                    $('.share_links,#api_mailto').parent().removeClass('active');
                                                    $(this).parent().addClass('active');
                                                    $('.share_dives').hide();
                                                    $('#share_div_' + $(this).attr('ref')).show();
                                                    return false;
                                                });

                                                var api_url = encodeURIComponent(window.location+'');
                                                var description = document.title + " : try this API at "+window.location;

                                                $("#facebook").attr("href","http://www.facebook.com/sharer.php?u="+api_url);
                                                $("#twitter").attr("href","http://twitter.com/share?url="+api_url+"&text="+encodeURIComponent(description));
                                                $("#googleplus").attr("href","https://plus.google.com/share?url="+api_url);
                                                $("#digg").attr("href","http://www.digg.com/submit?url="+api_url);



                                            });

                                        </script>

                                    </div>

                                    <div class="tab-pane fade " id="tab1">
                                        <script type="text/javascript">
                                            $(document).ready(function(){
                                                window.swaggerUi = new SwaggerUi({
                                                    url: "/store/api-docs/admin/e2e/e2e",
                                                    dom_id: "swagger-ui-container",
                                                    supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch', 'head'],
                                                    onComplete: function(swaggerApi, swaggerUi){
                                                        console.log("Loaded SwaggerUI");
                                                    },
                                                    onFailure: function(data) {
                                                        console.log("Unable to Load SwaggerUI");
                                                    },
                                                    docExpansion: "list",
                                                    jsonEditor: false,
                                                    defaultModelRendering: 'schema',
                                                    showRequestHeaders: true,
                                                    validatorUrl: null
                                                });

                                                window.swaggerUi.load();
                                            });
                                        </script>
                                        <div class="row">


                                            <script language="javascript">
                                                $(document).ready(function(){

                                                    $('.env_name').selectpicker();
                                                    var change_token = function(){
                                                        $(".notoken").hide();
                                                        var option = $("#sub_app_list option:selected");
                                                        var type = $("#key_type").val();
                                                        var key = option.attr("data-"+type);
                                                        if(key == "null"){
                                                            $(".notoken").show("slow");
                                                            $("#access_token").val("");
                                                        }else{
                                                            $("#access_token").val(key);
                                                        }
                                                        $("#access_token").trigger("change");
                                                    };

                                                    var show_environments = function(){
                                                        var type = $(".keytype").val();
                                                        $("#environment_name").children('option').hide();
                                                        $("#environment_name").children("option[class='" + type + "']").show();
                                                        $("#environment_name").children("option[class='hybrid']").show();
                                                        var options = $("#environment_name").children("option[class='hybrid'], option[class='" + type + "']");
                                                        if (options.length < 2) {
                                                            $(".env_name").hide();
                                                            $(".OnEnvironment").hide();
                                                        }
                                                        if(options.length > 1){
                                                            options[0].selected = true;
                                                            $(".OnEnvironment").show();
                                                            $(".btn-group.env_name").show();
                                                        } else if ($("#environment_name").children("option[class='hybrid']").length > 0) {
                                                            $("#environment_name").children("option[class='hybrid']")[0].selected = true;
                                                        } else if($("#environment_name").children("option[class='" + type + "']").length > 0) {
                                                            $("#environment_name").children("option[class='" + type + "']")[0].selected = true;
                                                        }else{
                                                            $(".env_name").hide();
                                                            $(".OnEnvironment").hide();
                                                        }
                                                        $(".env_name").selectpicker("refresh");
                                                        select_environment();
                                                    };

                                                    var select_environment = function(){
                                                        var selectedEnvironment = $("#environment_name");
                                                        var name =selectedEnvironment.val();
                                                        if (window.swaggerUi.api.url.indexOf("?")!=-1) {
                                                            if (window.swaggerUi.api.url.indexOf("envName")!=-1) {
                                                                window.swaggerUi.updateSwaggerUi({ "url" : swaggerUi.api.url.split("envName")[0] + "envName="+name});
                                                            }else{
                                                                window.swaggerUi.updateSwaggerUi({ "url" : swaggerUi.api.url + "&envName="+name});
                                                            }
                                                        }else{
                                                            window.swaggerUi.updateSwaggerUi({ "url" : swaggerUi.api.url + "?envName="+name});
                                                        }
                                                        change_token();
                                                    };

                                                    $("#access_token").change(function(){
                                                        var key = $(this).val();
                                                        if(key && key.trim() != "") {
                                                            swaggerUi.api.clientAuthorizations.add("default", new SwaggerClient.ApiKeyAuthorization("Authorization", "Bearer "+ key, "header"));
                                                        }
                                                        else{
                                                            swaggerUi.api.clientAuthorizations.add("default", new SwaggerClient.ApiKeyAuthorization("Authorization", "Bearer ", "header"));
                                                        }
                                                    });

                                                    $(".subapp").change(change_token);
                                                    $(".keytype").change(show_environments);
                                                    $(".env_name").change(select_environment);
                                                    show_environments();
                                                });

                                                function checkOnKeyPress(e) {
                                                    if (e.which == 13 ||e.keyCode == 13) {
                                                        return false;
                                                    }
                                                }
                                            </script>
                                            <div id="authorizations" class="col-md-12 col-lg-12">


                                                <div class="message message-info remove-margin-top">
                                                    <h4><i class="icon fw fw-info"></i>Notice </h4>
                                                    <p>Please subscribe to the API to generate an access token.&nbsp;If you already have an access token please provide it below.</p>
                                                </div>

                                                <div class="alert alert-warning hide notoken">
                                                    <button type="button" class="close" data-dismiss="alert"><i class="fw fw-cancel"></i></button>
                                                    <strong>Warning! </strong>
                                                    Selected application does not have an access token for the selected environment. Please go to the subscription page and generate an access token first.
                                                </div>



                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Set Request Header</label>
                                                        <div class=" col-sm-9">
                                                            <div class="input-group">
                                                                <span class="input-group-addon" id="sizing-addon1">Authorization : Bearer</span>
                                                                <input type="text" id="access_token" name="access_token" title="access_token" placeholder="Access Token" class="form-control" onkeypress="return checkOnKeyPress(event)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>


                                            <div class="col-md-12 col-lg-12">
                                                <div class="swagger-section">
                                                    <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
                                                    <div id="Download" style="float:right;font-size:14px"><a title="swagger" href='/store/api-docs/admin/e2e/e2e' target="_blank" style="font-size:14px"><i class="icon-share-alt" ></i> Swagger ( /swagger.json )</a></div>
                                                    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade " id="tab2">
                                        <div class="api-documentation panel-group accordion" role="tablist">

                                        </div>


                                        <div class="message message-info remove-margin">
                                            <h4><i class="icon fw fw-info"></i>No Documents Found</h4>
                                            <p>No documents have been associated with this API so far.</p>
                                        </div>


                                    </div>

                                    <div class="tab-pane fade " id="tab3">



                                        <div id="forum_topics_list_page">
                                            <div class="form-horizontal form-search">
                                                <div class="form-group">
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control clearable search-input" title="Search Forum" placeholder="Search Forum" id="forum_topic_search_value">
              <span class="input-group-btn">
                <button class="btn btn-secondary search-button" id="forum_topic_search" ><i class="fa fa-search"></i> Search</button>
              </span>
              <span class="input-group-btn">

                    <a title="Create New Topic" href="https://localhost:9444/store/forum/new?parentId=admin:e2e:e2e&" class="btn btn-primary  ">
                        Create New Topic
                    </a>

              </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="white-wrapper add-padding-5x forum_topics_list" style="display:none">
                                                        <div id="forum_topics_list" style="display:none"></div>
                                                    </div>
                                                    <div id="forum_no_topics" style="display:none" class="message message-info">
                                                        <h4><i class="icon fw fw-info"></i>No topics found.</h4>
                                                        <p>There are no forum topics available.</p>
                                                    </div>
                                                    <ul id="forum_topics_list_paginator" class="pull-right"></ul>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- STRAT : Handlebars templates -->

                                        <script id="forum_template_topics_list" type="text/x-handlebars-template">

                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th class="col-md-8">Topic</th>
                                                    <th class="col-md-2">By</th>
                                                    <th class="col-md-1">Replies</th >
                                                    <th class="col-md-1"></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {{#each topics}}
                                                    <tr>
                                                        <td>
                                                            <a title="forum topic" href = "/store/forum/topic/{{ topicId }}?"> <span class="word-break"> {{subject}} </span></a >
                                                        </td>
                                                        <td>{{ topicOwner }}</td>
                                                        <td>{{ replyCount }}</td>
                                                        <td>

                                                            {{#if_creator topicOwner user}}
                                                                <a class="forum_delete_topic_icon" data-id ="{{ topicId }}" data-subject = "{{ subject }}" title="Delete Comment">
                                <span class="fw-stack" style="font-size:10px">
                                    <i class="fw fw-delete fw-stack-1x"></i>
                                     <i class="fw fw-circle-outline fw-stack-2x"></i>
                                </span>
                                                                </a>
                                                            {{/if_creator}}

                                                        </td>
                                                    </tr>
                                                {{/each}}

                                                </tbody>
                                            </table >
                                        </script>

                                        <!-- END : Handlebars templates -->

                                        <script type="text/javascript">

                                            var parentId = "admin:e2e:e2e";
                                        </script>

                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="api-info">
                            <div class="row">
                                <div class="col-sm-12">


                                </div>
                            </div>
                        </div>


                    </div>









                    <script>
                        $(window).load(function(){

                            $(".setbgcolor").generateBgcolor({
                                definite:true
                            });

                            $(".api-name-icon").each(function() {
                                var elem = $(this).next().children(".api-name");
                                $(this).nametoChar({
                                    nameElement: elem
                                });
                            });

                        });
                    </script>

                </div>
            </div>
        </div><!-- /#media body-->
    </div><!-- /#media-->
</div><!-- /#page-content-wrapper -->




<script type="text/javascript">
    var isSecure = true;
    var showLogin = false;
    var redirectToHTTPS = '';

</script>


<div class="modal fade" id="messageModal"></div>

<!-- Login model -->
<div id="login-data" class="hide">



</div>
</div>


<div id="codnfirmation-data" style="display:none;">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h3 class="modal-title">Modal header</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" title="Save">Save changes</a>
        <a href="#" class="btn btn-other" data-dismiss="modal" title="Close">Close</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade hide" id="confirmation-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fw fw-cancel"></i></span></button>
                <h3 class="modal-title" id="myModalLabel">Modal title</h3>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary">Save changes</a>
                <a href="#" class="btn btn-other" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<footer class="footer">
    <div class="container-fluid">
        <p>WSO2 API Manager 2.0.0 | &copy; <script>document.write(new Date().getFullYear());</script> <a title="WSO2" href="http://wso2.com/" target="_blank"><i class="icon fw fw-wso2"></i> Inc</a>.</p>
    </div>
</footer>

<script type="text/javascript" src="/store/site/themes/wso2/js/main.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/bootstrap_3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/theme-wso2_1.0/js/theme-wso2.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/bootstrap-select/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/js/left-navigation.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/js/script.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/jquery-validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/jquery-validate-password/jquery.validate.password.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/jquery-cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/data-tables_1.10.7/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/data-tables_1.10.7/extensions/Bootstrap/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/data-tables_1.10.7/extensions/Responsive/js/dataTables.responsive.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/zeroclipboard/ZeroClipboard.min.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/jquery.buttonLoader.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/templates/api/api-info/js/api-info.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/js/common.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/templates/api/api-info/js/api-info.js"></script>
<script type="text/javascript">jagg.api = jQuery.parseJSON("{\x22name\x22 : \x22e2e\x22, \x22provider\x22 : \x22admin\x22, \x22version\x22 : \x22e2e\x22, \x22description\x22 : null, \x22rates\x22 : 0.0, \x22endpoint\x22 : null, \x22wsdl\x22 : null, \x22wadl\x22 : null, \x22updatedDate\x22 : \x2230\/Nov\/2016 15:27:43 PM IST\x22, \x22context\x22 : \x22\/e2e2\/e2e\x22, \x22status\x22 : \x22PUBLISHED\x22, \x22userRate\x22 : 0, \x22serverURL\x22 : \x22{\\\x22hybrid\\\x22:{\\\x22Production and Sandbox\\\x22:{\\\x22http\\\x22:\\\x22http:\\\\\/\\\\\/172.17.0.1:8281\\\x22,\\\x22https\\\x22:\\\x22https:\\\\\/\\\\\/172.17.0.1:8244\\\x22,\\\x22showInConsole\\\x22:true}}}\x22, \x22tiers\x22 : [{\x22tierName\x22 : \x22Unlimited\x22, \x22tierDisplayName\x22 : \x22Unlimited\x22, \x22tierDescription\x22 : \x22Allows unlimited requests\x22}], \x22subscribed\x22 : false, \x22thumbnailurl\x22 : \x22images\/api\-default.png\x22, \x22bizOwner\x22 : null, \x22bizOwnerMail\x22 : null, \x22techOwner\x22 : null, \x22techOwnerMail\x22 : null, \x22visibility\x22 : \x22public\x22, \x22visibleRoles\x22 : null, \x22uriTemplates\x22 : \x22[org.mozilla.javascript.NativeArray@779a57cb]\x22, \x22apiOwner\x22 : \x22admin\x22, \x22isAdvertiseOnly\x22 : false, \x22redirectURL\x22 : null, \x22subscriptionAvailability\x22 : null, \x22subscriptionAvailableTenants\x22 : null, \x22isDefaultVersion\x22 : false, \x22transports\x22 : \x22http,https\x22}");</script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/jquery-charCount/jquery.charCount.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/templates/forum/js/forum-list.js"></script>
<script type="text/javascript" src="/store/site/themes/wso2/libs/bootstrap-paginator.min.js"></script>

</body>
</html>
