{{layout "org.wso2.carbon.apimgt.publisher.commons.ui.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Endpoint Listing | " @config.appName}}
{{css "css/custom.css"}}
{{#fillZone "actionMenu"}}
    {{fragment "action-menu-endpoint-listing"}}
{{/fillZone}}
{{#fillZone "menubar"}}
    {{fragment "org.wso2.carbon.uuf.common.foundation.ui.menubar"}}
{{/fillZone}}
{{#fillZone "content"}}
    <div class="page-header">
        <h1>{{i18n "Endpoints"}}</h1>
    </div>
    {{fragment "global-endpoints-listing"}}
{{/fillZone}}