{{js "js/api-endpoint-create.js"}}
<div class="panel-group accordion" role="tablist">
    <div class="panel panel-default" id="production">
        <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent=".accordion" href="#production-endpoint-create" aria-expanded="false" aria-controls="production-endpoint-create">
            <h4 class="panel-title">
                <div>
                    <div class="heading">{{i18n "Production.Endpoint"}}</div>
                </div>
            </h4>
        </div>
        <div id="production-endpoint-create" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
        <div class="panel-body">
                <form class="form-horizontal sub-implementation-option" id="accordion1-collapse1">
                    <div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3"></label>
                            <div class="radio radio-inline">
                                <label class="checkbox-inline">
                                    <input type="radio" name="endpoint-select-production" value="global" onchange="showHideCreateEndpoint(this)"/>
                                    {{i18n "Select.From.Endpoint"}}
                                </label>
                            </div>
                            <div class="radio radio-inline">
                                <label class="checkbox-inline">
                                    <input type="radio" name="endpoint-select-production" value="api" id="api"
                                           onchange="showHideCreateEndpoint(this)" checked="checked"/>
                                    {{i18n "Create.New.Endpoint"}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9" id="create-new-endpoint-production">
                        {{fragment "endpoint-create" type="production"}}
                    </div>
                    <div class="col-sm-9 hidden" id="select-global-endpoint-production">
                        <select id="global-endpoint-production" name="global-endpoint" class="form-control">
                        </select>
                        <div id="no-global-endpoint-message-production" class="col-sm-9 hidden">
                            <div class="message message-success">
                                <h4><i class="icon fw fw-success"></i>{{i18n "No.Endpoints.to.list"}}</h4>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="sandbox">
        <div class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent=".accordion" href="#sandbox-endpoint-create" aria-expanded="false" aria-controls="sandbox-endpoint-create">
            <h4 class="panel-title">
                <div>
                    <div class="heading">{{i18n "SandBox.Endpoint"}}</div>
                </div>
            </h4>
        </div>
        <div id="sandbox-endpoint-create" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
            <div class="panel-body">
                <form class="form-horizontal sub-implementation-option" id="accordion1-collapse1">
                    <div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3"></label>
                            <div class="radio radio-inline">
                                <label class="checkbox-inline">
                                    <input type="radio" name="endpoint-select-sandbox" value="global" onchange="showHideCreateEndpoint(this)"/>
                                    {{i18n "Select.From.Endpoint"}}
                                </label>
                            </div>
                            <div class="radio radio-inline">
                                <label class="checkbox-inline">
                                    <input type="radio" name="endpoint-select-sandbox" value="api" onchange="showHideCreateEndpoint(this)" checked="checked"/>
                                    {{i18n "Create.New.Endpoint"}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9" id="create-new-endpoint-sandbox">
                        {{fragment "endpoint-create" type="sandbox"}}
                    </div>
                    <div class="col-sm-9 hidden" id="select-global-endpoint-sandbox">
                        <select id="global-endpoint-sandbox" name="global-endpoint" class="form-control">
                        </select>
                    </div>
                    <div id="no-global-endpoint-message-sandbox" class="col-sm-9 hidden">
                        <div class="message message-success">
                            <h4><i class="icon fw fw-success"></i>{{i18n "No.Endpoints.to.list"}}</h4>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>