<li>
    <a data-toggle="collapse" data-target="#forms" class="collapsed" aria-expanded="false"><i class="fw fw-throttling-policy fw-2x"></i> THROTTLING POLICIES <span class="arrow"></span></a>
    <ul class="sub-menu collapse" id="forms" aria-expanded="false" style="height: 0px;">
        <li><a href="{{@contextPath}}">ADVANCED THROTTLING</a></li>
        <li><a href="{{@contextPath}}">APPLICATION TIERS</a></li>
        <li><a href="{{@contextPath}}">SUBSCRIPTION TIERS</a></li>
        <li><a href="{{@contextPath}}">CUSTOM RULES</a></li>
        <li><a href="{{@contextPath}}">BLACK LIST</a></li>
    </ul>
</li>