<legend>Resources</legend>
    <div class="resource_create">
        <div class="control-group">
            <label class="control-label" for="inputPassword">URL Pattern</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">/{context}/{version}/</span>
                    <input style="width:500px" id="resource_url_pattern" type="text" placeholder="Url Pattern Ex: path/to/resource" class="resource_url_pattern"/>
                </div>
            </div>
        </div>
         <div class="control-group">
            <label class="control-label" for=""></label>
            <div class="controls">              
                    
                    <input type="checkbox" value="GET" class="http_verb_select">  GET  
                    <input type="checkbox" value="POST" class="http_verb_select">  POST                
                    <input type="checkbox" value="PUT" class="http_verb_select">  PUT
                    <input type="checkbox" value="DELETE" class="http_verb_select">  DELETE
                    <input type="checkbox" value="OPTIONS" class="http_verb_select">  OPTIONS                  
                
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputResource">Resource Name</label>
            <div class="controls">
                <input type="text" id="inputResource" placeholder="Resource">
            </div>
        </div>
        <button class="btn" type="button" id="add_resource" style="margin:0 0 10px 10px;"><i class="icon-plus-sign"></i>&nbsp;{{t "Add New Resource"}}</button>
    </div>
 <table style="width:100%">               
{{#each api_doc.apis}}

    <tr>
    <td colspan="4"><h4 class="resource_group_title">{{ path }}</h4></td>
    </tr>
    {{# each file.apis}}
      
        {{# each operations}}
        <tr class="resource_container">
            <td class="resource-method-td resource_expand" >
                <span class=" resource-method resource-method-{{ method }}">{{ method }}</span>
            </td>
            <td class="resource_expand"><a class="resource-path">{{ ../path }}</a></td>    
            <td  width="99%"><span class="operation-summary change_summary"  data-attr="summary" >{{ summary }}</span></td>
            <td class="delete_resource_td "><a class='operation-summary delete_resource' ><i class='icon-trash'></i></a></td>
        </tr>
        <tr><td colspan="4" class="resource_body hide" ></td></tr>
        {{/each}}
    {{/each}}

{{/each}}
 
</table>
                                

