
<div id='doc-add-container' class="row-fluid"  style='display:none;'>
	<form novalidate="novalidate" id='form-document-create' enctype="multipart/form-data" >

		<label id="docTopic" class='control-label' style='display:none;'>{{t "Update Document -"}}</label>
		<div class="container-fluid" style="padding-left:0">
			<input id="addDocVersion" value={{assets.version}} type="hidden"/>
	        <input id="addDocName" value={{assets.name}} type="hidden"/>
	        <input id="addDocProvider" value={{assets.provider}} type="hidden"/>
	        <input id="addDocPageId" value={{assets.id}} type="hidden"/>
	        <input id="errorMsgDocUrl" value={{t "Invalid Document URL"}} type="hidden"/>
	        <input id="docAction" value="createDocument" type="hidden"/>
	        {{#if assets.showAPIDocVisibility}}
	        <input id="showVisibility" value="true" type="hidden"/>
	        {{else}}
	        <input id="showVisibility" value="false" type="hidden"/>
	        {{/if}}
	        
	        <div class="row-fluid" >
				<div class="col-lg-12 add-wp">
                    <div class="col-lg-4  ">
                        <div class='control-group cnl-group'>
                            <label class='control-label cnl-label'>{{t "Name :"}}</label>
                            <div class='controls cnls'>
                                <input type='text' id='overview_name' name='overview_name'/>
                            </div>
                        </div>
						<div class="clear"></div>
                        <div class='control-group cnl-group'>
                            <label class='control-label cnl-label'>{{t "Summary :"}}</label>
                            <div class='controls cnls'>
                                <textarea name='overview_summary' id='overview_summary'></textarea>
                            </div>
                        </div>
						{{#if assets.showAPIDocVisibility}}
                            <div class='control-group cnl-group' style='display:inline-block;;'>
                                <label class='control-label cnl-label'>{{t "Visibility :"}}</label>
                                <div class='controls cnls'>
                                    <select class="select required" id="docVisibility" name="docVisibility" style="width:100%">
                                        <option value="API_LEVEL" selected="true">Same as API visibility</option>
                                        <option value="OWNER_ONLY">Private</option>
                                        <option value="PRIVATE">Visible to my domain</option>

                                    </select>
                                </div>
                            </div>
						{{/if}}
                    </div><!-- end of col 1-->

                    <div class="col-lg-4 border-right border-left ">
                        <div class='control-group cnl-group' id="type-control-group">
                            <label class='control-label cnl-label'>{{t "Type :"}}</label>
                            <div class='controls cnls'>
                                <label class="radio radio-lbs" >
                                    <input name="typeOptionRadio" id="typeOptionRadio1" type="radio" value="How To" />
									{{t "How To"}}
                                </label>
                                <label class="radio radio-lbs" >
                                    <input name="typeOptionRadio"  id="typeOptionRadio2" type="radio"  value="Samples"/>
									{{t "Samples and SDK"}}
                                </label>
                                <label class="radio radio-lbs" >
                                    <input name="typeOptionRadio"  id="typeOptionRadio3" type="radio"  value="Public Forum"/>
									{{t "Public Forum"}}
                                </label>
                                <label class="radio radio-lbs" >
                                    <input name="typeOptionRadio" id="typeOptionRadio4"  type="radio"  value="Support Forum"/>
									{{t "Support Forum"}}
                                </label>
                                <label class="radio radio-lbs" >
                                    <input name="typeOptionRadio"  id="typeOptionRadio5" type="radio"  value="Other"/>
									{{t "Other (specify)"}}
                                </label>
                                <div class='controls' id="otherNameControl" style='display:none;'>
                                    <span style='color:red;'>*</span>
                                    <input type='text' id='overview_other_name' name='overview_other_name' style="width:25%"/>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end of col 2-->
                    <div class="col-lg-4 ">
                        <div class='control-group cnl-group' id="source-control-group">
                            <label class='control-label cnl-label'>{{t "Source :"}}</label>
                            <div class='controls cnls'>
                                <label class="radio radio-lbs" >
                                    <input name="sourceOptionRadio" id="sourceOptionRadio1" type="radio" value="In line"/>
									{{t "In line"}}
                                </label>
                                <label class="radio radio-lbs" >
                                    <input name="sourceOptionRadio" id="sourceOptionRadio2"  type="radio" value="URL"/>
									{{t "URL"}}
                                </label>
                                <div class='controls' id="sourceDocUrl" style='display:none;'>
                                    <span style='color:red;'>*</span><input type='text' id='docUrl' name='docUrl' style="width:25%"/>
                                </div>
                                <label class="radio radio-lbs" >
                                    <input name="sourceOptionRadio"  id="sourceOptionRadio3" type="radio" value="File"/>
									{{t "File"}}
                                </label>
                                <div class='controls' id="sourceFile" style='display:none;'>
                                    <input type='file' id='fileUpload'  name='fileUpload' style="width:100%"/>
                                </div>
                                <label class='radio' style='display:none;' id='uploadFileName'/>
                            </div>
                        </div>
					</div><!-- end of col-->
					<div class="clear"></div>
                    <div class='form-actions'>
                        <input id="add-doc-btn" type='button' class='btn btn-primary' value='{{t "Add Document"}}' />
                        <input id="cancel-doc-btn" type='button' class='btn'  value='{{t "Cancel"}}' >
                    </div>
				</div>

	        </div>
			
		</div>
	</form>

</div>