<div class="row-fluid>
    <div class="span10">
<table class="table table-bordered">
    <tbody>
    <tr>
        <td class=" col-lg-2 bg-grey ">{{t "Visibilitty"}}</td>
        <td id="inUrl" class="col-lg-10">
			{{#if api.visibilityLevel.restricted}}
                "{{t "Restricted by roles, only visible to"}} {{api.roles}}"
			{{else}}
				{{api.visibility}}
			{{/if}}
        </td>
    </tr>
    <tr>
        <td class=" col-lg-2 bg-grey  ">{{t "Context"}}</td>
        <td id="inUrl" class="col-lg-10">{{api.context}}</td>
    </tr>

	{{#if api.simplifiedConfig.production_endpoints}}
        <tr>
            <td class=" col-lg-2 bg-grey  ">{{t "Production Endpoints"}}</td>
            <td id="inUrl" class="col-lg-10">
                <ul class="endpoint_list">
					{{#each api.simplifiedConfig.production_endpoints}}
						{{this.url}}
					{{/each}}
                </ul>
            </td>
        </tr>
	{{/if}}
	{{#if api.simplifiedConfig.production_failovers}}
        <tr>
            <td class=" col-lg-2 bg-grey  ">{{t "Production Failover Endpoints"}}</td>
            <td id="inUrl" class="col-lg-10">
                <ul class="endpoint_list">
					{{#each api.simplifiedConfig.production_failovers}}
						{{this.url}}
					{{/each}}
                </ul>
            </td>
        </tr>
	{{/if}}

	{{#if api.simplifiedConfig.sandbox_endpoints}}
        <tr>
            <td class=" col-lg-2 bg-grey ">{{t "Sandbox Endpoints"}}</td>
            <td id="inUrl"class="col-lg-10">
                <ul class="endpoint_list">
					{{#each api.simplifiedConfig.sandbox_endpoints}}
						{{this.url}}
					{{/each}}
                </ul>
            </td>
        </tr>
	{{/if}}
	{{#if api.simplifiedConfig.sandbox_failovers}}
        <tr>
            <td class=" col-lg-2 bg-grey  ">{{t "Sandbox Failover Endpoints"}}</td>
            <td id="inUrl" class="col-lg-10">
                <ul class="endpoint_list">
					{{#each api.simplifiedConfig.sandbox_failovers}}
						{{this.url}}
					{{/each}}
                </ul>
            </td>
        </tr>
	{{/if}}

	{{#if api.wsdl}}
        <tr>
            <td>{{t "WSDL"}}</td>
            <td id="wsdl">{{api.wsdl}}</td>
        </tr>
	{{/if}}
	{{#if api.wadl}}
        <tr>
            <td>{{t "WADL"}}</td>
            <td id="wsdl">{{api.wadl}}</td>
        </tr>
	{{/if}}
    <tr>
        <td class=" col-lg-2 bg-grey ">{{t "Lastupdated"}}</td>
        <td id="inUpdated" class="dateFull">{{api.lastUpdated}}</td>
    </tr>
    <tr>
        <td class=" col-lg-2 bg-grey ">{{t "Tier Availability"}}</td>
        <td id="tierAvb">{{api.availableTiersDisplayNames}}</td>
    </tr>
    <tr>
        <td class=" col-lg-2 bg-grey ">{{t "Default API Version"}}</td>
        <td id="defaultAPIVersion">
			{{#if api.hasDefaultVersion}}
				{{api.currentDefaultVersion}}
			{{else}}
				{{t "None"}}
			{{/if}}
        </td>
    </tr>
	{{#if api.tags}}
        <tr>
            <td class=" col-lg-2 bg-grey ">{{t "Tags"}}</td>
            <td id="tags"> {{api.tags}}</td>
        </tr>
	{{/if}}
	{{#if api.bizOwner}}
        <tr>
            <td class=" col-lg-2 bg-grey ">{{t "Business Ownser"}}</td>
            <td id="bizOwnerData">{{api.bizOwner}}
                [<a href="mailto:{{api.bizOwnerMail}}">{{api.bizOwnerMail}}</a>]
            </td>
        </tr>
	{{/if}}
	{{#if api.techOwner}}
        <tr>
            <td class=" col-lg-2 bg-grey ">{{t "Technical Owner"}}</td>
            <td id="techOwnerData">{{api.techOwner}}
                [<a href="mailto:{{api.techOwnerMail}}">{{api.techOwnerMail}}</a>]
            </td>
        </tr>
	{{/if}}
    <tr>
        <td class=" col-lg-2 bg-grey ">Published Environments</td>
        <td>
			{{#each api.publishedEnvionments}}
				{{this}}
			{{/each}}
        </td>
    </tbody>
</table>
</div>
</div>

