

<div class="row-fluid>

    <div class="span10">
    {{#if fields.description.value}}
        <div class="well" id="apiView">{{fields.description.value}}
        </div>
    {{/if}}
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="span3">{{t "context"}}</td>
                <td id="inUrl">{{context}}</td>
            </tr>
           {{#if prodEndpoint.url}} 
	            <tr>
	                <td class="span3">{{t "Production URL"}}</td>
	                <td id="inUrl">{{prodEndpoint.url}}</td>
	            </tr>
            {{/if}}
            {{#if fields.productionFailoverEp.value}}           
            <tr>
                <td>{{t "productionFailoverEp"}}</td>
                <td id="inUrl">{{fields.productionFailoverEp.value}}</td>
            </tr>
            {{/if}}
           {{#if sandboxEndpoint.url}}
            <tr>
                <td>{{t "sandbox Endpoint"}}</td>
                <td id="sandbox">{{sandboxEndpoint.url}}</td>
            </tr>
            {{/if}}
            

            {{#if wsdl}}
            <tr>
                <td>{{t "WSDL"}}</td>
                <td id="wsdl">{{wsdl}}</td>
            </tr>
            {{/if}}
            {{#if wadl}}
            <tr>
                <td>{{t "WADL"}}</td>
                <td id="wsdl">{{wadl}}</td>
            </tr>
            {{/if}}
            <tr>
                <td>{{t "Lastupdated"}}</td>
                <td id="inUpdated" class="dateFull">{{lastUpdatedDate}}</td>
            </tr>
            <tr>
                <td>{{t "Tier Availability"}}</td>
                <td id="tierAvb">{{tier}}</td>
            </tr>
            <tr>
                <td>{{t "Default API Version"}}</td>
                <td id="defaultAPIVersion">
                    {{#if isDefault}}
                        {{version}}
                    {{else}}
                        {{t "None"}}
                    {{/if}}
                </td>
            </tr>
            {{#if fields.tags.value}}
            <tr>
                <td>{{t "Tags"}}</td>
                <td id="tags"> {{fields.tags.value}}</td>
            </tr>
             {{/if}}
            {{#if fields.bizOwner.value}}
             <tr>
                <td>{{t "Business Ownser"}}</td>
                <td id="bizOwnerData">{{fields.bizOwner.value}} {{#if api.bizOwnerMail.value}}
                [<a href="mailto:{{api.bizOwnerMail.value}}">{{api.bizOwnerMail.value}}</a>]
                {{/if}}
                </td>
            </tr>
             {{/if}}
            {{#if fields.techOwner.value}}
             <tr>
                <td>{{t "Technical Owner"}}</td>
                <td id="techOwnerData">{{fields.techOwner.value}}{{#if fields.techOwnerMail.value}}
                [<a href="mailto:{{fields.techOwnerMail.value}}">{{fields.techOwnerMail.value}}</a>]
                {{/if}}
                </td>
            </tr>
            {{/if}}
            </tbody>
        </table>
    </div>
</div>

