<script language="javascript">
    //TODO move to code segment
    var VERBS = ['get', 'post', 'put', 'head', 'delete'];
    var AUTH_TYPES = [
        {"value": "None", "text": "{{t "None"}}"},
        {"value": "Application", "text": "{{t "Application"}}"},
        {"value": "Application User", "text": "{{t "Application User"}}"},
        {"value": "Application & Application User", "text": "{{t "Application & Application User"}}"}
    ];

    var DEFAULT_AUTH = "Application & Application User";
    var OPTION_DEFAULT_AUTH = "None";
    var insequence = "{{api.inSequence}}";
    var outsequence = "{{api.outSequence}}";
    var faultsequence = "{{api.faultSequence}}";
    var inSequencesLoaded = false;
    var outSequencesLoaded = false;
    var faultSequencesLoaded = false;


</script>
<div class="col-sm-12 text-center">
<ul class="new-sub-menu-wizard" style="margin:0 auto">
    <li>
        <a href='{{url ""}}/asts/api/create' class="wizard-active">
            <div class="wizard-number">1</div>
            <span>Design</span>
        </a>
    </li>
{{#unless api}}
    <li>
        <a href='#' class="">
            <div class="wizard-number">2</div>
            <span>Implement</span>
        </a>
    </li>
    <li>
        <a href='#' class="">
            <div class="wizard-number" >3</div>
            <span>Manage</span>
        </a>
    </li>
{{else}}
   <li>
        <a href='{{url ""}}/asts/api/implement/{{id}}' class="<%= implement_wlabel%>">
            <div class="wizard-number">2</div>
            <span>Implement</span>
        </a>
    </li>
    <li>
        <a href='#' class="<%= manage_wlabel%>">
            <div class="wizard-number" >3</div>
            <span>Manage</span>
        </a>
    </li>
{{/unless}}
</ul>
    <br/>
</div>
<h1>Design API</h1>
<div id="swaggerContent">
	<div id="swaggerUpload" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="swaggerUploadLabel">Import Swagger 2 Definition</h3>
				</div>
				<div class="modal-body">
					<div id="swagger_help" class="alert alert-danger hide" role="alert">
						Enter a valid url
						<button type="button" class="close" id="errorMsgClose"><span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="form-inline">
						<div class="control-group toggleRadios">
							<div class="controls">
								<label class="control-label sub-select-label">Upload swagger definition as</label>
								<label class="radio sub-labels"><input type="radio" class="select-file"
								                                       name="import-definition" id=""
								                                       value="swagger_import_file"/>Swagger File</label>
								<label class="radio sub-labels urlSelect-label"><input type="radio" class="select-url"
								                                                       name="import-definition"
								                                                       value="swagger_import_url"/>Swagger
								                                                                                   Url</label>
							</div>
						</div>
					</div>
					<div class="control-group toggleContainers">
						<div class="controls" style="display: none">
							<input type="file" id="swagger_import_file" name="swagger_import_file" size="chars">
						</div>
						<div class="controls" style="display: none">
							<label>Definition URL:</label>
							<input type="text" placeholder="" class="span12" id="swagger_import_url"
							       name="swagger_import_url">
							<span class="help-block">Example : http://petstore.swagger.io/v2/swagger.json </span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary has-spinner" id="import_swagger">Import</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="swaggerEditer" editor-url="{{url ""}}/extensions/assets/api/themes/default/lib/swagger-editor/#/"
	     style="position:absolute;z-index:9000; top:0; left:0; height:100%; width:100%" class="hide">
		<div class="swagger_editer_header">
			<button class="btn btn-primary" id="update_swagger">Save</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true" id="close_swagger_editor">Close</button>
		</div>
	</div>
</div>

{{#if api}}
	<form id="form-asset-create" class='form-horizontal' method='post' action='{{url ""}}/apis/assets/{{api.id}}?type={{rxt.shortName}}' enctype="multipart/form-data">
{{else}}
	<form id="form-asset-create" class='form-horizontal' method='post' action='{{url ""}}/apis/assets?type={{rxt.shortName}}' enctype="multipart/form-data">
{{/if}}
	<legend>General Details</legend>
    {{#unless api}}
    <div class='form-group'>
        <label class='custom-form-label col-lg-2' for='overview_name'>Name:<span class="requiredAstrix">*</span></label>
        <div class='custom-form-right col-lg-5 '>
            <input type='text' id='overview_name' class="form-control required" name='overview_name' >
            <a class="icon-question-sign help_popup" help_data="name_help"></a>
            <p id="name_help" class="hide">{{ t "Display name to be shown in the API Store."}}</p>
        </div>
    </div>
    <div class='form-group'>
        <label class='custom-form-label   col-lg-2'>Context:<span class="requiredAstrix">*</span></label>
        <div class='custom-form-right col-lg-5 '>
            <input type='text' id='overview_context' name='overview_context' class="form-control required" >
            <a class="icon-question-sign help_popup" help_data="context_help"></a>
            <p id="context_help" class="hide">{{t "contextHelpMsg"}}</p>
        </div>
    </div>
    <div class='form-group'>
        <label class='custom-form-label col-lg-2 '>Version:<span class="requiredAstrix">*</span></label>
        <div class='custom-form-right col-lg-5 '>
            <input type='text' id='overview_version' name='overview_version' class="form-control required validInput noSpace" >
            <p class="help-block">{{t "E.g.,: v1.0.0 ,v1.0 , 1.0.0, 1.0"}}</p>
        </div>
    </div>
    {{else}}
        <input type="hidden" name="overview_name" value="{{api.name}}" />
        <input type="hidden" name="overview_version" value="{{api.version}}" />
        <input type="hidden" name="overview_provider" value="{{api.provider}}" />
        <input type="hidden" name="overview_context" value="{{api.context}}" />

    {{/unless}}
    <div class='form-group'>
        <label class='custom-form-label col-lg-2 '>Visibility:</label>
        <div class="custom-form-right col-lg-5 ">
            <select class="select required" id="visibility" name="visibility">
                {{#if api}}
                    <option value="public"  {{#if public_visibility}} selected="selected" {{/if}}>Public</option>
                    <option value="private" {{#if private_visibility}} selected="selected" {{/if}}>Restricted by Roles</option>

                {{else}}
                    <option value="public">Public</option>
                    <option value="private">Restricted by Roles</option>
                {{/if}}
            </select>

        </div>
    </div>
    {{#if api }}
        <div class="form-group" id="rolesDiv" {{#unless private_visibility}}style="display: none;"{{/unless}}>
            <label class="custom-form-label col-lg-2 " for="roles" id="rolesLabel" name="rolesLabel">
                {{t "roles"}}:<span class="requiredAstrix">*</span>
            </label>
            <div class="custom-form-right col-lg-5 ">
                <input type="text" class="form-control required validInput validateRoles" id="roles" name="roles"  value="{{roles}}"/>
                <p class="help-block" id="rolesHelp">{{t "Comma separated list (e.g.,: role1,role2,role3)"}}</p>
            </div>
        </div>
    {{else}}
        <div class="form-group" id="rolesDiv" style="display: none;">
            <label class="custom-form-label col-lg-2" for="roles" id="rolesLabel" name="rolesLabel">
                {{t "roles"}}:<span class="requiredAstrix">*</span>
            </label>

            <div class="custom-form-right col-lg-5">
                <input type="text" class="form-control required validInput validateRoles" id="roles" name="roles"/>
                <p class="help-block" id="rolesHelp">{{t "Comma separated list (e.g.,: role1,role2,role3)"}}</p>
            </div>
        </div>
    {{/if}}

    {{#if api}}
        <div class="form-group">
            <label class="custom-form-label col-lg-2" for="imageUrl">{{t "Thumbnail"}}</label>
            <div class="custom-form-right col-lg-5">
                     {{#if api.thumb}}
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <img src='{{url ""}}/storage/{{assets.type}}/{{id}}/{{api.thumb}}' alt="" id="apiEditThumb"/>
                  </div>
                    {{else}}
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                           <img id="apiEditThumb" alt="" src="{{url "/extensions/assets/api/themes/default/imgs/api-default.png"}}"/>
                       </div>
                    {{/if}}
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                    <a onclick="javascript:$('#imageUrl').toggle('slow')" class="btn btn-primary">
                        <i class="icon-picture"></i> {{t "Change Icon"}}
                    </a>
                </div>

            </div>
            </div>
        <div class="form-group">
            <label class="custom-form-label col-lg-2 " for=""></label>
            <div id="imageUrl" style="display:none;">
                <div class="custom-form-right col-lg-5 " id="apiThumb-container">
                    <input type="file" class="form-control validateImageFile" name="overview_thumbnail" id="overview_thumbnail" />
                </div>
                <div class="custom-form-right col-lg-1">
                    <input class="btn btn-default" type="button" id="clearThumb" value="{{t "clear"}}"/>
                </div>
            </div>

            <div class="help-block pull-left inline-help custom-form-right col-lg-9 col-md-9 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-2">
                <ul>
                    <li>{{t "Size (max): 1MB"}}</li>
                    <li>{{t "Dimensions (max): 100 x 100 pixels"}}</li>
                </ul>
            </div>
        </div>
    {{else}}
        <div class="form-group">
            <label class="custom-form-label col-lg-2 " for="apiThumb">{{t "Thumbnail"}}:</label>
            <div class="custom-form-right col-lg-5 ">
                <div id="inpFile">
                    <div id="apiThumb-container"  style="display: inline;">
                        <input type="file" class="form-control" id="overview_thumbnail" name="overview_thumbnail"/></div>
                </div>
            </div>
            <div class="custom-form-right col-lg-1 ">
                <input type="button" class="btn btn-default" id="clearThumb" value="{{t "Clear"}}"/>
            </div>
            <div class="help-block inline-help custom-form-right col-lg-9 col-md-9 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-2">
                <ul>
                    <li>{{t "Size (max): 1MB"}}</li>
                    <li>{{t "Dimensions (max): 100 x 100 pixels"}}</li>
                </ul>
            </div>
        </div>
    {{/if}}
       <div class="form-group">
        <label class="custom-form-label col-lg-2 ">Description:</label>
        <div class="custom-form-right col-lg-5">
         <textarea class="form-control" id="overview_description" name="overview_description" rows="3" style="width:100%; height:70px;">{{api.description}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="custom-form-label col-lg-2 ">Tags:</label>
        <div class="custom-form-right col-lg-5 ">
            <input type="text" placeholder="Add tags" class="form-control validInput validRegistryName" id="overview_tags" name="overview_tags" value="{{api.tags}}" data-role="tagsinput"/>
            <a class="icon-question-sign help_popup" help_data="tag_help"></a>
            <p id="tag_help" class="hide">{{t "Use keywords and common search terms as tags to group APIs that have similar characteristics. After publishing the API, consumers can click these tags to jump to a group of similar APIs."}}</p>
        </div>
    </div>
    <br/><br/>
    {{#if apiMetaData.wsdl}}
        <div id="api_designer">
            <a  href="#wsdlUpload" role="button" class="btn pull-right" data-toggle="modal" ><i class="icon-download-alt" ></i> {{t "Import"}} </a>
            <legend>{{t "API Definition"}}</legend>
            <div class="control-group api_wsdl">
                <label class="control-label" for="wsdl">{{t "WSDL"}}:</label>
                <div class="controls">
                <div class="input-append">
                <input type="text" class="input-xlarge validInput" id="wsdl" name="wsdl"  value="{{apiMetaData.wsdl}}" />
                <button class="btn check_url_valid" url-type="wsdl" type="button" >{{t "Test URI"}}</button>
                <a class="icon-question-sign help_popup" help_data="wsdldesc_help"></a>
                <p id="wsdldesc_help" class="hide">{{t "wsdlDescHelpMsg"}}</p>
            </div>
            <p class="help-block">{{t "wsdlDescHelpMsg"}}</p>
        </div>
    {{else}}
		{{#if api}}
		{{#if api.wsdl}}
			<div id="api_designer">
				<a  href="#wsdlUpload" role="button" class="btn pull-right" data-toggle="modal" ><i class="icon-download-alt" ></i> {{t "Import"}} </a>
				<legend>{{t "API Definition"}}</legend>
			<div class="control-group api_wsdl">
				<label class="control-label" for="wsdl">{{t "WSDL"}}:</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" class="input-xlarge validInput" id="wsdl" name="wsdl"  value="{{api.wsdl}}" />
						<button class="btn check_url_valid" url-type="wsdl" type="button" >{{t "Test URI"}}</button>
						<a class="icon-question-sign help_popup" help_data="wsdldesc_help"></a>
						<p id="wsdldesc_help" class="hide">{{t "wsdlDescHelpMsg"}}</p>
					</div>
					<p class="help-block">{{t "wsdlDescHelpMsg"}}</p>
				</div>
		{{else}}
				<div id="api_designer">
					<a  href="#swaggerUpload" role="button" class="btn pull-right" data-toggle="modal" ><i class="icon-download-alt" ></i> Import </a>
					<a  href="#" id="swaggerEditor" class="btn pull-right" style="margin:0 10px" ><i class="icon-edit" ></i> Edit Source</a>
					<div id = "resource_overview">
						<legend>API Definition</legend>
						<div class="resource_create">
							<div class="control-group">
								<label class="control-label" for="inputPassword">URL Pattern</label>
								<div class="controls">
									<div class="input-prepend">
										{{#if api}}
											<span class="add-on" id="resource_url_pattern_refix">{{api.context}}</span>
										{{else}}
											<span class="add-on" id="resource_url_pattern_refix">/{context}/{version}/</span>
										{{/if}}
										<input style="width:500px" id="resource_url_pattern" type="text" placeholder="Url Pattern Ex: path/to/resource" class="resource_url_pattern"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="resource_details">
					</div>
				</div>
		{{/if}}
		{{else}}
				<div id="api_designer">
					<a  href="#swaggerUpload" role="button" class="btn pull-right" data-toggle="modal" ><i class="icon-download-alt" ></i> Import </a>
					<a  href="#" id="swaggerEditor" class="btn pull-right" style="margin:0 10px" ><i class="icon-edit" ></i> Edit Source</a>
					<div id = "resource_overview">
						<legend>API Definition</legend>
						<div class="resource_create">
							<div class="control-group">
								<label class="control-label" for="inputPassword">URL Pattern</label>
								<div class="controls">
									<div class="input-prepend">
										{{#if api}}
											<span class="add-on" id="resource_url_pattern_refix">{{api.context}}</span>
										{{else}}
											<span class="add-on" id="resource_url_pattern_refix">/{context}/{version}/</span>
										{{/if}}
										<input style="width:500px" id="resource_url_pattern" type="text" placeholder="Url Pattern Ex: path/to/resource" class="resource_url_pattern"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="resource_details">
					</div>
				</div>
		{{/if}}
    {{/if}}
    <input type="hidden" name="action" value="design"/>
    <input type="hidden" id="swagger" name="swagger"/>

    <div class="form-actions" style="display:none" id="saveMessage">
        <div class="btn loadingButton">Saving API. Please wait..</div>
    </div>
    <div class="form-actions" id="saveButtons">
        <input type="submit" class="btn btn-primary" value="Save" action="design"/>
        <a class="btn btn-primary" id="go_to_implement">{{t "Next"}}: {{t "Implement"}} ></a>
        <input type="reset" class="btn" value="{{t "Cancel"}}" onclick="javascript:window.location.href='./'"/>
    </div>
</form>
<script id="designer-apidoc-template" type="text/x-handlebars-template">

</script>


<hr/>
