<script language="javascript">
	//TODO move to code segment
	var VERBS = ['GET', 'POST', 'PUT', 'DELETE', 'OPTIONS'];
	var AUTH_TYPES = [
		{"value": "None", "text": "{{t "None"}}"},
		{"value": "Application", "text": "{{t "Application"}}"},
		{"value": "Application User", "text": "{{t "Application User"}}"},
		{"value": "Application & Application User", "text": "{{t "Application & Application User"}}"}
	];

	var TIERS = [
		{{#each api.configuredTiers}}
			{"value": "{{this.tierName}}", "text": "{{this.tierDisplayName}}"}
			{{#unless this.last}},{{/unless}}
		{{/each}}
	];

		{{#each api.configuredTiers}}
			{{#if this.last}}
			var DEFAULT_TIER = "{{this.tierName}}";
			{{/if}}
		{{/each}}
	var DEFAULT_AUTH = "Application & Application User";
	var OPTION_DEFAULT_AUTH = "None";
	var insequence = "{{api.inSequence}}";
	var outsequence = "{{api.outSequence}}";
	var faultsequence = "{{api.faultSequence}}";
	var inSequencesLoaded = false;
	var outSequencesLoaded = false;
	var faultSequencesLoaded = false;


</script>
<div class="col-sm-12 text-center">
<ul class="new-sub-menu-wizard" style="margin:0 auto">
    <li>
        <a href='{{url ""}}/asts/api/create' class="wizard-active">
            <div class="wizard-number">1</div>
            <span>Design</span>
        </a>
    </li>
{{#unless api}}
    <li>
        <a href='#' class="">
            <div class="wizard-number">2</div>
            <span>Implement</span>
        </a>
    </li>
    <li>
        <a href='#' class="">
            <div class="wizard-number" >3</div>
            <span>Manage</span>
        </a>
    </li>
{{else}}
   <li>
        <a href='{{url ""}}/asts/api/implement/{{id}}' class="<%= implement_wlabel%>">
            <div class="wizard-number">2</div>
            <span>Implement</span>
        </a>
    </li>
    <li>
        <a href='#' class="<%= manage_wlabel%>">
            <div class="wizard-number" >3</div>
            <span>Manage</span>
        </a>
    </li>
{{/unless}}
</ul>
    <br/>
</div>
<h1>Design API</h1>
<a href='' class='btn btn-success'><i class='fa-download-alt'></i>Import Swagger Definition</a>
<br/><br/>

<form id="form-asset-create" class='form-horizontal' method='post' action='{{url ""}}/apis/assets?type={{rxt.shortName}}' enctype="multipart/form-data">
    <legend>General Details</legend>
    {{#unless api}}
    <div class='form-group'>
        <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12' for='overview_name'>Name:<span class="requiredAstrix">*</span></label>
        <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
            <input type='text' id='overview_name' class="form-control required" name='overview_name' >
            <a class="icon-question-sign help_popup" help_data="name_help"></a>
            <p id="name_help" class="hide">{{ t "Display name to be shown in the API Store."}}</p>
        </div>
    </div>
    <div class='form-group'>
        <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Context:<span class="requiredAstrix">*</span></label>
        <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
            <input type='text' id='overview_context' name='overview_context' class="form-control required" >
            <a class="icon-question-sign help_popup" help_data="context_help"></a>
            <p id="context_help" class="hide">{{t "contextHelpMsg"}}</p>
        </div>
    </div>
    <div class='form-group'>
        <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Version:<span class="requiredAstrix">*</span></label>
        <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
            <input type='text' id='overview_version' name='overview_version' class="form-control required validInput noSpace" >
            <p class="help-block">{{t "E.g.,: v1.0.0 ,v1.0 , 1.0.0, 1.0"}}</p>
        </div>
    </div>
    {{else}}
        <input type="hidden" name="overview_name" value="{{name}}" />
        <input type="hidden" name="overview_version" value="{{version}}" />
        <input type="hidden" name="overview_provider" value="{{provider}}" />
        <input type="hidden" name="overview_context" value="{{context}}" />

    {{/unless}}
    <div class='form-group'>
        <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Visibility:</label>
        <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
            <select class="select required" id="visibility" name="visibility">
                {{#if api}}
                    <option value="public"  {{#if public_visibility}} selected="selected" {{/if}}>Public</option>
                    <option value="private" {{#if private_visibility}} selected="selected" {{/if}}>Restricted by Roles</option>

                {{else}}
                    <option value="public">Public</option>
                    <option value="private">Restricted by Roles</option>
                {{/if}}
            </select>

        </div>
    </div>
    {{#if api }}
        <div class="form-group" id="rolesDiv" {{#unless private_visibility}}style="display: none;"{{/unless}}>
            <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12" for="roles" id="rolesLabel" name="rolesLabel">
                {{t "roles"}}:<span class="requiredAstrix">*</span>
            </label>
            <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                <input type="text" class="form-control required validInput validateRoles" id="roles" name="roles"  value="{{roles}}"/>
                <p class="help-block" id="rolesHelp">{{t "Comma separated list (e.g.,: role1,role2,role3)"}}</p>
            </div>
        </div>
    {{else}}
        <div class="form-group" id="rolesDiv" style="display: none;">
            <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12" for="roles" id="rolesLabel" name="rolesLabel">
                {{t "roles"}}:<span class="requiredAstrix">*</span>
            </label>

            <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                <input type="text" class="form-control required validInput validateRoles" id="roles" name="roles"/>
                <p class="help-block" id="rolesHelp">{{t "Comma separated list (e.g.,: role1,role2,role3)"}}</p>
            </div>
        </div>
    {{/if}}

    {{#if api}}
        <div class="form-group">
            <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12" for="imageUrl">{{t "Thumbnail"}}</label>
            <div class="custom-form-right col-lg-5 col-md-8 col-sm-9 col-xs-10">
                    {{#unless thumb}}
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                            <img id="apiEditThumb" alt="" src="{{url "/themes/default/img/icons/ico-sort.png"}}"/>
                        </div>
                    {{else}}
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                            <img id="apiEditThumb" alt="" src="<%=jagg.getRegistryPath(api.thumb)%>"/>
                        </div>
                    {{/unless}}
                <div class="col-lg-10 col-md-8 col-sm-6 col-xs-6">
                    <a onclick="javascript:$('#imageUrl').toggle('slow')" class="btn btn-primary">
                        <i class="icon-picture"></i> {{t "Change Icon"}}
                    </a>
                </div>

            </div>
            </div>
        <div class="form-group">
            <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12" for=""></label>
            <div id="imageUrl" style="display:none;">
                <div class="custom-form-right col-lg-5 col-md-8 col-sm-9 col-xs-10" id="apiThumb-container">
                    <input type="file" class="form-control validateImageFile" name="apiThumb" />
                </div>
                <div class="custom-form-right col-lg-1 col-md-4 col-sm-3 col-xs-2">
                    <input class="btn btn-default" type="button" id="clearThumb" value="{{t "clear"}}"/>
                </div>
            </div>

            <div class="help-block pull-left inline-help custom-form-right col-lg-9 col-md-9 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-2">
                <ul>
                    <li>{{t "Size (max): 1MB"}}</li>
                    <li>{{t "Dimensions (max): 100 x 100 pixels"}}</li>
                </ul>
            </div>
        </div>
    {{else}}
        <div class="form-group">
            <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12" for="apiThumb">{{t "Thumbnail"}}:</label>
            <div class="custom-form-right col-lg-5 col-md-8 col-sm-9 col-xs-10">
                <div id="inpFile">
                    <div id="apiThumb-container"  style="display: inline;">
                        <input type="file" class="form-control" id="overview_thumbnail" name="overview_thumbnail"/></div>
                </div>
            </div>
            <div class="custom-form-right col-lg-1 col-md-4 col-sm-3 col-xs-2">
                <input type="button" class="btn btn-default" id="clearThumb" value="{{t "Clear"}}"/>
            </div>
            <div class="help-block inline-help custom-form-right col-lg-9 col-md-9 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-2">
                <ul>
                    <li>{{t "Size (max): 1MB"}}</li>
                    <li>{{t "Dimensions (max): 100 x 100 pixels"}}</li>
                </ul>
            </div>
        </div>
    {{/if}}

    <div class="form-group">
        <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Description:</label>
        <div class="custom-form-right col-lg-5 col-md-8 col-sm-9 col-xs-10">
         <textarea class="form-control" id="overview_description" name="overview_description" rows="3" style="width:100%; height:70px;">{{description}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Tags:</label>
        <div class="custom-form-right col-lg-5 col-md-8 col-sm-9 col-xs-10">
            <input type="text" placeholder="Add tags" class="form-control validInput validRegistryName" id="overview_tags" name="overview_tags" value="{{tags}}" data-role="tagsinput"/>
            <a class="icon-question-sign help_popup" help_data="tag_help"></a>
            <p id="tag_help" class="hide">{{t "Use keywords and common search terms as tags to group APIs that have similar characteristics. After publishing the API, consumers can click these tags to jump to a group of similar APIs."}}</p>
        </div>
    </div>
    <br/><br/>
    <div id="api_designer">
        <div id="resource_details">
            <legend>Resources</legend>
            <div class="resource_create">
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12" for="inputPassword">URL Pattern</label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-9 col-xs-10">
                        <div class="input-prepend">
                            <span class="add-on">/{context}/{version}/</span>
                            <input id="resource_url_pattern" type="text" placeholder="Url Pattern Ex: path/to/resource" class="resource_url_pattern form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12" for=""></label>
                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-9 col-xs-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="GET" class="http_verb_select"> GET
                        </label>
                        <label class="checkbox-inline">
                        <input type="checkbox" value="POST" class="http_verb_select"> POST
                        </label>
                            <label class="checkbox-inline">
                        <input type="checkbox" value="PUT" class="http_verb_select"> PUT
                            </label>
                                <label class="checkbox-inline">
                        <input type="checkbox" value="DELETE" class="http_verb_select"> DELETE
                                </label>
                                    <label class="checkbox-inline">
                        <input type="checkbox" value="OPTIONS" class="http_verb_select"> OPTIONS
                                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputResource">Resource Name</label>

                    <div class="controls">
                        <input type="text" id="inputResource" placeholder="Resource">
                    </div>
                </div>
                <button class="btn" type="button" id="add_resource" style="margin:0 0 10px 10px;"><i class="icon-plus-sign"></i>&nbsp;{{t "Add New Resource"}}</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="action" value="design"/>
    <input type="hidden" id="swagger" name="swagger"/>

    <div class="form-actions" style="display:none" id="saveMessage">
        <div class="btn loadingButton">Saving API. Please wait..</div>
    </div>
    <div class="form-actions" id="saveButtons">
        <input type="submit" class="btn btn-primary" value="Save" action="design"/>
        <a class="btn btn-primary" id="go_to_implement">Implement</a>
        <input type="reset" class="btn" value="{{t "cancel"}}" onclick="javascript:window.location.href='./'"/>
    </div>
</form>
<script id="designer-apidoc-template" type="text/x-handlebars-template">

</script>


<hr/>
