<div class="resource_body_padding">
	<h5>Description :</h5>
	<a class="notes" data-path="{{resource_path}}" data-attr="description">{{ description }}</a>
	<br />
	<br />
	<h5>Response Content Type : <a href="#" data-path="{{resource_path}}" data-attr="content_type" class="content_type"
								   data-type="typeaheadjs" data-pk="1" data-title="Responce Content Type">{{ content_type
	}}</a></h5>
	<br />
	<h5>Parameters :</h5>
	{{#if parameters}}
	<table class="table table-condensed table-hover table-bordered">
		<tr>
			<th width="200px">Parameter Name</th>
			<th>Description</th>
			<th width="100px">Parameter Type</th>
			<th width="100px">Data Type</th>
			<th width="100px">Required</th>
		</tr>
		{{#each parameters}}
			<tr>
				<td>{{ name }}</td>
				<td>{{ description }}</td>
				<td>{{ in }}</td>
				<td>{{ type }}</td>
				<td>{{toString required }}</td>
			</tr>
		{{/each}}
	{{/if}}
</table>
</div>  
