<div class="control-group">
		<label class="control-label" for=""></label>
		<div class="controls">
			{{#each verbs}}
				<label class="checkbox inline" style="text-transform:uppercase;">
					<input type="checkbox" value="{{ . }}" class="http_verb_select" >  {{ . }}
				</label>
			{{/each}}
			<div class "checkbox inline" id="options" style="display: none;" >
			<label class="checkbox inline">
				<input type="checkbox" value="options" class="http_verb_select"> OPTIONS
			</label>
			<a class="icon-question-sign help_popup" help_data="options_help" data-trigger="hover"></a>
			<p id="options_help" class="hide">{{t "Select Options method to send OPTIONS calls to backed. If not selected
			API gateway will return OPTIONS call with the allowed methods in gateway."}}</p>
			<label id="less" style="display:inline;">less</label>
		</div>
		<label id="more" style="display:inline;">more</label>
	</div>
</div>
<!-- div class="control-group">
	<label class="control-label" for="inputResourceTags">Tags</label>
	<div class="controls">
		<input type="text" id="inputResourceTags" placeholder="tags">
	</div>
</div -->
<div class="control-group">
	<label class="control-label"></label>
	<div class="controls">
		<button class="btn" type="button" id="add_resource" style="margin:10px 0 0px 0px;"><i class="icon-plus-sign"></i>&nbsp;Add</button>
	</div>
</div>
</div>
<table style="width:100%">
	{{#each doc.paths}}
		{{# each this}}
			<tr class="resource_container" data-path="$.paths.{{ path }}.{{@key}}">
				<td class="resource-method-td resource_expand" data-path="$.paths.{{ path}}.{{ @key }}">
					<span class=" resource-method resource-method-{{ @key }}">{{ @key }}</span>
				</td>
				<td class="resource_expand"><a class="resource-path">{{ path }}</a></td>
				<td  width="99%"><span class="operation-summary change_summary" data-path="$.paths.{{ path }}.{{@key}}" data-attr="summary" >{{ summary }}</span></td>
				<td class="delete_resource_td "><a class='operation-summary delete_resource' data-operation="{{ @key }}"
												   data-path-name="{{ path }}" data-path="$.paths.{{ path }}.{{@key}}"
												   data-index="{{ @index }}"><i class='fa fa-trash'></i></a></td>
			</tr>
			<tr><td colspan="4" class="resource_body" data-path="$.paths.{{ path }}.{{@key}}"></td></tr>
		{{/each}}
	{{/each}}
</table>
