<table style="width:100%">
	{{#each api_doc.apis}}
		{{ setIndex @index}}
		<tr>
			<td colspan="6"><h4 class="resource_group_title">{{ path }}</h4></td>
		</tr>
		{{# each file.apis}}
			{{ setIndex @index}}
			{{# each operations}}
				<tr class="resource_container" data-path="$.apis[{{ ../../index}}].file.apis[{{ ../index }}].operations[{{ @index }}]">
					<td class="resource-method-td resource_expand" data-path="$.apis[{{ ../../index}}].file.apis[{{ ../index }}].operations[{{ @index }}]">
						<span class=" resource-method resource-method-{{ method }}">{{ method }}</span>
					</td>
					<td class="resource_expand"><a class="resource-path">{{ ../path }}</a></td>
					<td width="99%"><span class="operation-summary change_summary" data-path="$.apis[{{ ../../index}}].file.apis[{{ ../index }}].operations[{{ @index }}]" data-attr="summary" >{{ summary }}</span></td>
					<td><a class="operation-summary auth_type_select"  data-type="select" data-path="$.apis[{{ ../../index}}].file.apis[{{ ../index }}].operations[{{ @index }}]" data-attr="auth_type" data-value="{{ auth_type }}"></a></td>
					<td><a class='operation-summary throttling_select'  data-type="select" data-path="$.apis[{{ ../../index}}].file.apis[{{ ../index }}].operations[{{ @index }}]" data-attr="throttling_tier">{{ throttling_tier }}</a></td>
					<td><a class="operation-summary scope_select"  data-type="select" data-path="$.apis[{{ ../../index}}].file.apis[{{ ../index }}].operations[{{ @index }}]" data-attr="scope">{{ scope }}</a></td>
				</tr>
				<tr><td colspan="6" class="resource_body" data-path="$.apis[{{ ../../index}}].file.apis[{{ ../index }}].operations[{{ @index }}]"></td></tr>
			{{/each}}
		{{/each}}

	{{/each}}
</table>
