<div class="resource_body_padding">
		<h5>Description :</h5>
		<a class="notes" data-path="{{resource_path}}" data-attr="description">{{ description }}</a>
		<br />
		<br />
		<h5>Response Content Type : <a href="#" data-path="{{resource_path}}" data-attr="content_type" class="content_type" data-type="typeahead" data-pk="1" data-title="Responce Content Type">{{ content_type }}</a></h5>
		<br />
		<h5>Parameters :</h5>
		{{#if parameters}}
		<table class="table table-condensed table-hover table-bordered">
			<tr>
				<th width="200px">Parameter Name</th>
				<th>Description</th>
				<th width="100px">Parameter Type</th>
				<th width="100px">Data Type</th>
				<th width="100px">Required</th>
			</tr>
			{{#each parameters}}
				<tr>
					<td>{{ name }}</td>
					<td>{{ description }}</td>
					<td>{{ in }}</td>
					<td>{{ type }}</td>
					<td>{{toString required }}</td>
				</tr>
			{{/each}}
		{{/if}}
	</table>
	</div>

	<br />
	<table style="width:100%">
		{{#each doc.paths}}
			{{# each this}}
				<tr class="resource_container" data-path="$.paths.{{ path }}.{{@key}}">
					<td class="resource-method-td resource_expand" data-path="$.paths.{{ path}}.{{ @key }}">
						<span class=" resource-method resource-method-{{ @key }}">{{ @key }}</span>
					</td>
					<td class="resource_expand"><a class="resource-path">{{ path }}</a></td>
					<td  width="99%"><span class="operation-summary change_summary" data-path="$.paths.{{ path }}.{{@key}}" data-attr="summary" >{{ summary }}</span></td>
					<td><a class="operation-summary auth_type_select"  data-type="select" data-path="$.paths.{{ path }}.{{@key}}" data-attr="x-auth-type" data-value="{{ x-auth-type }}"></a></td>
					<td><a class='operation-summary throttling_select'  data-type="select" data-path="$.paths.{{ path }}.{{@key}}" data-attr="x-throttling-tier">{{ x-throttling-tier }}</a></td>
					<td><a class="operation-summary scope_select"  data-type="select" data-path="$.paths.{{ path }}.{{@key}}" data-attr="x-scope">{{ scope }}</a></td>        </tr>
				<tr><td colspan="6" class="resource_body hide" data-path="$.paths.{{ path }}.{{@key}}"></td></tr>
			{{/each}}
		{{/each}}
	</table>

	<div class="scope_container">
		{{#if api_doc.securityDefinitions.apim.x-wso2-scopes }}
			<h4>Scopes</h4>
			<ul>
				{{#each api_doc.securityDefinitions.apim.x-wso2-scopes }}
					<li>
						<h6><a data-index='{{ @index }}' class='delete_scope'><i class='icon-trash'></i></a> &nbsp;&nbsp; {{ key }} {{#if name }}: {{ name }}{{/if}}  </h6>
						<strong>Roles</strong> : {{ roles }}
						<p>{{ description }}</p>
					</li>
				{{/each}}
			</ul>
		{{/if}}
		<a id="define_scopes" class="pointer btn"><i class="icon-plus-sign"></i>&nbsp;Add Scopes</a>
	</div>
