<div class="resource_body_padding">
	<h5>Description :</h5>
	<a class="notes" data-path="{{resource_path}}" data-attr="description">{{ description }}</a>
	<br />
	<br />
	<h5>Response Content Type : <a href="#" data-path="{{resource_path}}" data-attr="produces" class="content_type
	produces" data-type="typeaheadjs" data-pk="1" data-title="Response Content Type">{{ produces }}</a></h5>
	<br />
	<h5>Parameters :</h5>
	{{#if parameters}}
	<table class="table table-condensed table-hover table-bordered">
		<tr>
			<th width="200px">Parameter Name</th>
			<th>Description</th>
			<th width="100px">Parameter Type</th>
			<th width="100px">Data Type</th>
			<th width="100px">Required</th>
			<th width="100px">Delete</th>
		</tr>
		{{#each parameters}}
			<tr id="{{name}}">
				<td>{{ name }}</td>
				<td><a class="param_desc" data-path="{{ ../resource_path}}.parameters[{{@index}}]" data-attr="description">{{ description }}</a></td>
				<td><a class="param_paramType" data-type="select" data-path="{{ ../resource_path}}.parameters[{{@index}}]" data-attr="in">{{ in }}</a></td>
				<td><a class="param_type" data-path="{{../resource_path}}.parameters[{{@index}}]" data-attr="type">{{ type }}</a></td>
				<td><a class="param_required" data-type="select" data-path="{{../resource_path}}.parameters[{{@index}}]" data-attr="required" data-value="{{toString required }}"></a></td>
				<td align="center"><a data-path-name="{{path}}" data-path="{{../resource_path}}.parameters[{{@index}}]" data-index="{{@index}}" style="margin-left: 40px" class="delete_parameter fa fa-trash"></a></td>
			</tr>
		{{/each}}
	{{/if}}
</table>
	<input type="text" class="parameter_name" name="parameter_name" placeholder="Parameter Name" style="padding:2px 4px"/>
	<a class="btn btn-small add_parameter" type="button" ><i class="icon-plus-sign"></i>&nbsp;Add Parameter</a>
</div>  
