<div class="resource_body_padding">
    <h5>Implementation Notes :</h5>
    <a class="notes" data-path="{{resource_path}}" data-attr="notes">{{ notes }}</a>
    <br />
    <br />        
    <h5>Response Content Type : <a href="#" data-path="{{resource_path}}" data-attr="content_type" class="content_type" data-type="text" data-pk="1" data-title="Responce Content Type">{{ content_type }}</a></h5>

    <br />    
    <h5>Parameters :</h5>
    {{#if parameters}}
    <table class="table table-condensed table-hover table-bordered">
        <tr>
        <th width="200px">Parameter Name</th>
        <th>Description</th>
        <th width="100px">Parameter Type</th>
        <th width="100px">Data Type</th>
        <th width="100px">Required</th>            
        </tr>     
    {{#each parameters}}
        <tr>
        <td>{{ name }}</td>
        <td>{{ description }}</td>
        <td>{{ paramType }}</td>
        <td>{{ type }}</td>
        <td>{{ required }}</td>
        </tr> 
    {{/each}}
    {{/if}}
    </table>      
    <h5>Script :</h5>
    <textarea class="editor span12" width="100%" style="height:150px;">{{#if mediation_script }}{{ mediation_script }}{{else}}/* mc.setProperty('CONTENT_TYPE', 'application/json');
    {{#each parameters}}var {{ name }} = mc.getProperty('uri.var.{{ name }}');
{{/each}}
mc.setPayloadJSON('{ "data" : "sample JSON"}');*/
//Un-comment the above to send a sample responce.{{/if}}
</textarea>
</div>

