<div class="resource_body_padding">
    <h5>Description :</h5>
    <a class="notes" data-path="{{resource_path}}" data-attr="description">{{ description }}</a>
    <br />
    <br />        
    <h5>Response Content Type : <a href="#" data-path="{{resource_path}}" data-attr="content_type" class="content_type" data-type="typeahead" data-pk="1" data-title="Responce Content Type">{{ content_type }}</a></h5>
    <br />
    <h5>Parameters :</h5>
    {{#if parameters}}
    <table class="table table-condensed table-hover table-bordered">
        <tr>
        <th width="200px">Parameter Name</th>
        <th>Description</th>
        <th width="100px">Parameter Type</th>
        <th width="100px">Data Type</th>
        <th width="100px">Required</th>            
        </tr>    
    {{#each parameters}}
        <tr>
        <td>{{ name }}</td>
        <td><a class="param_desc" data-path="{{ ../resource_path}}.parameters[{{@index}}]" data-attr="description">{{ description }}</a></td>
        <td><a class="param_paramType" data-type="select" data-path="{{ ../resource_path}}.parameters[{{@index}}]" data-attr="in">{{ in }}</a></td>
        <td><a class="param_type" data-path="{{../resource_path}}.parameters[{{@index}}]" data-attr="type">{{ type }}</a></td>
        <td><a class="param_required" data-type="select" data-path="{{../resource_path}}.parameters[{{@index}}]" data-attr="required" data-value="{{toString required }}"></a></td>
        </tr> 
    {{/each}}
    {{/if}}
    </table>   
    <h5>Script :</h5>
    <textarea class="editor span12" width="100%" style="height:150px;">{{#if x-mediation-script }}{{ x-mediation-script }}{{else}}/* mc.setProperty('CONTENT_TYPE', 'application/json');
    {{#each parameters}}var {{ name }} = mc.getProperty('uri.var.{{ name }}');
{{/each}}
mc.setPayloadJSON('{ "data" : "sample JSON"}');*/
/*Uncomment the above comment block to send a sample response.*/{{/if}}
</textarea>
</div>  