<ul class='nav nav-tabs'>
	<li><a href='{{url ""}}/asts/api/create'>Design</a></li>
	<li><a href='{{url ""}}/asts/api/implement'>Implement</a></li>
	<li><a href='{{url ""}}/asts/api/manage'>Manage</a></li>
</ul>

<form id="api-implement">
    {{t "Implementation Method"}}
    <input type="radio" name="api-implementation-method" value="endpoint" checked>{{t "Backend Endpoint"}}
    <input type="radio" name="api-implementation-method" value="inline">{{t "Specify Inline"}}

    <div id ="api-implement-endpoints">

    {{t "Endpoints"}}
    <br/>

    {{t "Endpoint Type"}}
        <select id = "api-implement-endpoint-type">
            <option value="http" selected="selected">{{t "HTTP Endpoint"}}</option>
            <option value="address">{{t "Address Endpoint"}}</option>
            <option value="wsdl">{{t "WSDL Endpoint"}}</option>
            <option value="failover">{{t "Failover Endpoint"}}</option>
            <option value="load_balance">{{t "Load Balanced Endpoint"}}</option>
        </select>
        <br/>

        <div id="api-implement-endpoints-http">
            {{t "Production Endpoint"}} <input type="text" id= "api-implement-endpoints-http-production-endpoint">
            <br/>
            {{t "Sandbox Endpoint"}} <input type="text" id= "api-implement-endpoints-http-sandbox-endpoint">
        </div>

        <div id="api-implement-endpoints-address" style="display:none;">
            {{t "Production Endpoint"}} <input type="text" id= "api-implement-endpoints-address-production-endpoint">
            <br/>
            {{t "Sandbox Endpoint"}} <input type="text" id= "api-implement-endpoints-address-sandbox-endpoint">
        </div>

        <div id="api-implement-endpoints-wsdl" style="display:none;">
            {{t "Production WSDL"}} <input type="text" id= "api-implement-endpoints-wsdl-production-wsdl">
            <br/>
            {{t "service"}} <input type ="text" id ="api-implement-endpoints-wsdl-service">
            <br/>
            {{t "Port"}} <input type ="text" id="api-implement-endpoints-wsdl-port">
            <br/>
            {{t "Sandbox Endpoint"}} <input type="text" id= "api-implement-endpoints-address-sandbox-endpoint">
            <br/>
            {{t "service"}} <input type ="text" id ="api-implement-endpoints-wsdl-sandbox-service">
            <br/>
            {{t "Port"}} <input type ="text" id="api-implement-endpoints-wsdl-sandbox-port">
            <br/>
        </div>

        <div id="api-implement-endpoints-failover" style="display:none;">
            {{t "Production Endpoint"}} <input type="text" id= "api-implement-endpoints-failover-production-failover">
            <br/>
            {{t "Production Failover Endpoints"}} 
            <div id = "prod-failover-endpoints">
                <span id= "prod-failover-endpoint-1">
                    {{t "Endpoint 1 )"}} <br/>
                    <input type="text" id= "api-implement-endpoints-failover-production-endpoint-1">
                </span>
            </div>
            <div id = "prod-failover-endpoints-btns">
            <!-- TODO add font awesome css and use appropriate buttons-->
            <input type = "button" id = "prod-failover-endpoint-add-btn" value="Add">
            <input type = "button" id = "prod-failover-endpoint-remove-btn" value="Remove last">
            </div>
            <br/>
            {{t "Sandbox Endpoint"}} <input type="text" id= "api-implement-endpoints-address-sandbox-endpoint-failover">
            <br/>
            {{t "Sandbox Failover Endpoints"}} 
            <div id ="sandbox-failover-endpoints">
                <span id= "sandbox-failover-endpoint-1">
                    {{t "Endpoint 1 )"}} <br/>
                    <input type ="text" id ="api-implement-endpoints-failover-sandbox-endpoint-1">
                </span>
            </div>
            <div id = "sandbox-failover-endpoints-btns">
            <!-- TODO add font awesome css and use appropriate buttons-->
            <input type = "button" id = "sandbox-failover-endpoint-add-btn" value="Add">
            <input type = "button" id = "sandbox-failover-endpoint-remove-btn" value="Remove last">
            </div>
            <br/>
        </div>

        <div id="api-implement-endpoints-load_balance" style="display:none;">
            {{t "Production Endpoint"}} <input type="text" id= "api-implement-endpoints-load_balance-production-load_balance">
            <br/>
            <div id = "prod-loadbalance-endpoints">
                <span id="prod-loadbalance-endpoint-1">
                    {{t "Endpoint 1 )"}} <br/>
                    <input type="text" id= "api-implement-endpoints-loadbalance-production-loadbalance-1">
                <span>
            </div>
            <div id = "prod-loadbalance-endpoints-btns">
            <!-- TODO add font awesome css and use appropriate buttons-->
            <input type = "button" id = "prod-loadbalance-endpoint-add-btn" value="Add">
            <input type = "button" id = "prod-loadbalance-endpoint-remove-btn" value="Remove last">
            </div>
            <br/>
            {{t "Algorithm"}} 
             <select id ="api-implement-endpoints-load_balance-algoritm">
              <option value="round-robin" selected="selected">{{t "Round Robin"}}</option>
              <option value="other">{{t "Other"}}</option>
            </select> 
            <br/>
            {{t "Failover State"}}
            <select id ="api-implement-endpoints-load_balance-failover-state">
              <option value="true" selected="selected">{{t "True"}}</option>
              <option value="false">{{t "False"}}</option>
            </select> 
            <br/>
            <div id = "api-implement-endpoints-load_balance-algo-div" style="display:none;">
            {{t "Class Name for Algorithm"}}
            <input type ="text" id = "api-implement-endpoints-load_balance-classname">
            <br/>
            </div>
            {{t "Session Management"}} 
             <select id ="api-implement-endpoints-load_balance-session-mgt">
              <option value="transport" selected="selected">{{t "Transport"}}</option>
              <option value="soap">{{t "SOAP"}}</option>
              <option value="clientid">{{t "Clien ID"}}</option>
              <option value="none">{{t "None"}}</option>
            </select> 
            <br/>
            {{t "Session Timeout (Millis)"}}
            <input type ="text" id = "api-implement-endpoints-load_balance-session-timeout">
            <br/>
            {{t "Sandbox Endpoint"}} <input type="text" id= "api-implement-endpoints-address-sandbox-endpoint-failover">
            <br/>
            {{t "Sandbox Endpoints"}} 
            <div id ="sandbox-loadbalance-endpoints">
                <span id="sandbox-loadbalance-endpoint-1">
                    {{t "Endpoint 1 )"}} <br/>
                    <input type ="text" id ="api-implement-endpoints-loadbalance-sandbox-endpoint-1">
                </span>
            </div>
            <div id = "sandbox-loadbalance-endpoints-btns">
            <!-- TODO add font awesome css and use appropriate buttons-->
            <input type = "button" id = "sandbox-loadbalance-endpoint-add-btn" value="Add">
            <input type = "button" id = "sandbox-loadbalance-endpoint-remove-btn" value="Remove last">
            </div>
            <br/>
        </div>

        <a href="#" id = "api-implement-show-more">Show More Options</a>
        <a href="#" id = "api-implement-show-less" style="display:none;">Show Less Options</a>

        <div id ="api-implement-more" style="display:none;"><br/>
            {{t "Endpoint Security Scheme"}} 
             <select id ="api-implement-more-security">
              <option value="non-secured" selected="selected">{{t "Non Secured"}}</option>
              <option value="secured">{{t "Secured"}}</option>
            </select> 
            <br/>

            <div id ="api-implement-more-credentials" style="display:none;">
            {{t "Credentials"}} <input type="text"><input type="password">
            </div>

            {{t "WSDL"}} <input type ="text" id="api-implement-more-wsdl">
            <br/>
            {{t "WADL"}} <input type ="text" id="api-implement-more-wadl">
        </div>
    </div>

    <div id ="api-implement-resources" style="display:none;">
    {{t "Resources"}}
    </div>

    <!--TODO check values within following hidden fields-->
    <input type="hidden" name="name" value="{{api.name}}}" />
    <input type="hidden" name="version" value="<%= {{api.version}}" />
    <input type="hidden" name="provider" value="<%= encode.forHtml(api.provider) %>" />
    <input type="hidden" name="action" value="implement" />
    <input type="hidden" id="swagger" name="swagger" value="" />

    <div id="api-implement-action-buttons">
        <input type="submit" value="Save"/>
        <input type="button" value="Deploy Prototype"/>
        <input type="submit" value="Manage"/>
        <input type="reset" value="Cancel"/>
    </div>

</form>