<ul class='nav nav-tabs'>
    <li><a href='{{url ""}}/asts/api/create'>Design</a></li>
    <li><a href='{{url ""}}/asts/api/implement'>Implement</a></li>
    <li><a href='{{url ""}}/asts/api/manage'>Manage</a></li>
</ul>
    <div class="title-section">
        <h2>API name goes here</h2>
    </div>     
    <div class="content-section shadow-up">
    <div class="content-data">   
    <div class="alert alert-error" id="addAPIError" style="display:none">
        <span id="addErrorSpan"></span>
    </div>

    <div class="row-fluid">
        <div class="span12">                             
            <form class="form-horizontal" method="POST" id="implement_form" enctype="multipart/form-data" 
                action="#">
    <div class="well well-small" style="padding:0px">        
    <fieldset>    
    <div class="control-group">
        <label class="control-label" for="context">Implementation Method</label>
        <div class="controls">

            <label class="radio inline">
            <input class="implementation_methods" type="radio" value="endpoint" name="implementation_methods" selected="selected" > Backend Endpoint
            </label>
            <label class="radio inline">
            <input class="implementation_methods" type="radio" value="inline" name="implementation_methods"> Specify Inline
            </label>
        </div>
    </div>        
    </fieldset>
    </div> <!-- closing the well for endpoints -->    
                <div class="clear"></div>
                <fieldset class="implementation_method_endpoint implementation_method">
                <legend style="margin-left:0px;text-indent:10px"></legend>


                <div class="control-group">
                    <label class="control-label" for="endpoint_type">Endpoint Type:<span class="requiredAstrix">*</span></label>
                        <div class="controls">
                            <select class="select required" id="endpoint_type" name="endpoint_type">
                                <option value="http"  selected="selected">HTTP Endpoint</option>
                                <option value="address">Address Endpoint</option>
                                <option value="wsdl">WSDL Endpoint</option>
                                <option value="failover">Failover Endpoint</option>
                                <option value="load_balance">Load balanced Endpoint</option>
                            </select>
                            <a class="icon-question-sign help_popup" help_data="endpoint_help"></a>
                        </div>
                </div>
                

                <input id="endpoint_config" type="hidden" value="" name="endpoint_config">

                <div id="endpoint_help" class="hide">
                 <strong>HTTP Endpoint </strong><p>A REST service endpoint based on a URI template</p>
                 <strong>Address Endpoint</strong><p>The direct URL of the service</p>
                 <strong>WSDL Endpoint</strong><p>The WSDL, service and port</p>
                 <strong>Failover Group </strong><p>The endpoints that the service tries to connect to in case of a failure. This happens in a round robin manner.</p>
                 <strong>Load Balance</strong><p>The endpoints where the incoming requests are directed to in a round robin manner. They automatically handle fail-over as well.</p>
                </div>

                <div id="endpoint_form" class="endpoint_dives" style="display:block">
                </div>

                 <div class="control-group">
                    <div class="controls">
                        <a href="#" class="more-options but" ref="more-options-endpoints">Show More</a>
                     </div>
                 </div>
                <div id="more-options-endpoints" style="display:block">


                <div class="control-group">
                    <label class="control-label" for="endpointType">{{t "Endpoint Security Scheme"}}:<span class="requiredAstrix">*</span></label>
                    <div class="controls">
                    <select class="select required" id="endpointType" name="endpointType" >
                        <option value="nonsecured"  selected="selected">Non Secured</option>
                        <option value="secured">Secured</option>
                    </select>
                    <a class="icon-question-sign help_popup" help_data="endpointSec_help"></a>
                    <p id="endpointSec_help" class="hide"></p>
                    </div>
                </div>

                <div class="control-group" id="credentials">
                    <label class="control-label" for="credentials">{{t "Credentials"}}:<span class="requiredAstrix">*</span></label>
                    <div class="controls">
                        <input type="text" class="input-small required validInput" id="epUsername" name="epUsername"  value="">
                        <input type="password" class="input-small required" id="epPassword" name="epPassword" value="">
                    </div>
                </div>

                 <div class="control-group api_wsdl">
                 <label class="control-label" for="wsdl">{{t "WSDL"}}:</label>
                 <div class="controls">
                 <div class="input-append">
                 <input type="text" class="input-xlarge validInput" id="wsdl" name="wsdl"  value="" />
                 <button class="btn check_url_valid" url-type="wsdl" type="button" >{{t "Test URI"}}</button>
                 <a class="icon-question-sign help_popup" help_data="wsdldesc_help"></a>
                 <p id="wsdldesc_help" class="hide"></p>
                 </div>
                 <p class="help-block"></p>
                
                 </div>
                 </div>
                 <div class="control-group">
                 <label class="control-label" for="wadl">{{t "WADL"}}:</label>
                 <div class="controls">
                 <div class="input-append">
                 <input type="text" class="input-xlarge validInput" id="wadl" name="wadl" value="" />
                 <button class="btn check_url_valid"  type="button" >{{t "Test URI"}}</button>
                 </div>
                 <p class="help-block"></p>
                 </div>
                 </div>

                
                <!--Southboud statistics -->
                <div class="control-group">
                    <label class="control-label" for="destinationStats">{{t "Destination Stats"}}:</label>
                      <div class="controls">
                       <select class="select required" id="destinationStats" name="destinationStats">
                            <option value="disabled" </option>
                            <option value="enabled" </option>
                        </select>
                        <a class="icon-question-sign help_popup" help_data="stats_help"></a>
                        <p id="stats_help" class="hide"></p>
                     </div>
                </div>
                <!--Southboud statistics End -->
                

                </div><!-- more option endpoint -->

                </fieldset>

                
                <div id="api_designer">
                    <div id ="apidoc_details"></div>
                    <div id ="resource_details"></div>
                </div>            
                <input type="hidden" name="name" value="" />
                <input type="hidden" name="version" value="" />
                <input type="hidden" name="provider" value="" />
                <input type="hidden" name="action" value="implement" />
                <input type="hidden" id="swagger" name="swagger" value="" />
                <div class="form-actions" style="display:none" id="saveMessage">
                    <div class="btn loadingButton">Saving API. Please wait..</div>
                </div>
                <div class="form-actions" id="saveButtons">
                    <input type="submit" class="btn btn-primary manageSaveButton" value="Save"/>
                    <!--TODO-->
                     <a class="btn btn-warning manageSaveButton" id="prototyped_api">Deploy Prototype</a>
                    <a id="go_to_manage" class="btn btn-primary manageSaveButton" >Manage</a> 
                    <input type="reset" class="btn" value="cancel" onclick="javascript:window.location.href='./'" />                                                            
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
</div>

<div  id="advance_endpoint_config" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Advanced Endpoint Configuration</h3>
            </div>
            <div class="modal-body">
            <form id="advance_form"></form>
            </div>
            <div class="modal-footer">
            <div id="res" class="hide" style="color:red;float:left"></div>
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary" id="advance_ep_submit">Save changes</a>
            </div>
        </div>
    </div>
</div>