	<script language="javascript">
	    //TODO move to code segment
	    var VERBS = ['get', 'get', 'get', 'get', 'get'];
	    var AUTH_TYPES = [
	        {"value": "None", "text": "{{t "None"}}"},
	        {"value": "Application", "text": "{{t "Application"}}"},
	        {"value": "Application User", "text": "{{t "Application User"}}"},
	        {"value": "Application & Application User", "text": "{{t "Application & Application User"}}"}
	    ];
	    
	    var DEFAULT_AUTH = "Application & Application User";
	    var OPTION_DEFAULT_AUTH = "None";
	    var DEFAULT_TIER = "Unlimited";
	    var insequence = "{{api.inSequence}}";
	    var outsequence = "{{api.outSequence}}";
	    var faultsequence = "{{api.faultSequence}}";
	    var inSequencesLoaded = false;
	    var outSequencesLoaded = false;
	    var faultSequencesLoaded = false;
	</script>

	    <div class="col-sm-12 text-center">
	            <ul class="new-sub-menu-wizard" style="margin:0 auto">
	                <li>
	                    <a href='{{url ""}}/asts/api/design/{{api.id}}?name={{api.name}}&version={{api.version}}&provider={{api.provider}}' class="wizard-done">
	                        <div class="wizard-number">1</div>
	                        <span>Design</span>
	                    </a>
	                </li>
	                <li>
	                    <a href='{{url ""}}/asts/api/implement/{{api.id}}?name={{api.name}}&version={{api.version}}&provider={{api
	                    .provider}}'
	                       class="wizard-active">
	                        <div class="wizard-number">2</div>
	                        <span>Implement</span>
	                    </a>
	                </li>
	                <li>
	                    <a href='{{url ""}}/asts/api/manage/{{api.id}}?name={{api.name}}&version={{api.version}}&provider={{api
	                    .provider}}'  class="wazard">
	                        <div class="wizard-number">3</div>
	                        <span>Manage</span>
	                    </a>
	                </li>
	            </ul>
	    <br/>
	    </div>
	    <h1>{{t "Implement API"}}&nbsp;&nbsp;<span class="text-muted">{{api.name}}({{api.version}}) : {{api.context}}</span></h1>
	    <div class="content-section shadow-up">
	    <div class="content-data">
	        <div class="alert alert-danger" id="addAPIError" style="display:none">
	        <span id="addErrorSpan"></span>
	    </div>
	            <div class="api-implement-type" value="#managed-api">
	                <div class="span11">
						<table class="opt-selectable">
							<tr>
								<td class="collapse-icon-wrp"><i class="fa fa-plus-circle fa-2x"></i></td>
								<td class="icon-wrp"><i class="fa fa-cogs fa-3x"></i></td>
								<td>
                                    <h4>Managed API</h4>
                                    <p>Provide endpoints of the production API and sandbox API to be managed.</p>
								</td>
							</tr>
						</table>
	                </div>
	            </div>

	            <div class="slideContainer hide" id="managed-api">
	                <div class="well" >
	            <form class="form-horizontal" method="POST" id="implement_form" enctype="multipart/form-data" 
	                action="{{url ""}}/apis/assets/{{api.id}}?type=api">

	                <fieldset class="implementation_method_endpoint_manage implementation_method">
	                <div class="form-group">
	                    <label class="custom-form-label col-lg-2  " for="endpoint_type">Endpoint Type:<span class="requiredAstrix">*</span></label>
	                    <div class="custom-form-right col-lg-5  ">
	                            <select class="select required" id="endpoint_type" name="endpoint_type">
	                                <option value="http"  selected="selected">HTTP Endpoint</option>
	                                <option value="address">Address Endpoint</option>
	                                <option value="failover">Failover Endpoint</option>
	                                <option value="load_balance">Load balanced Endpoint</option>
	                            </select>
	                            <a class="icon-question-sign help_popup" help_data="endpoint_help"></a>
	                        </div>
	                </div>
	                <br/><br/>
	                <input id="endpoint_config" type="hidden" value="" name="endpoint_config">
	                <div id="endpoint_help" class="hide">
	                    <div class="form-group">
	                        <label class="custom-form-label col-lg-2  " for="">HTTP Endpoint</label>
	                        <div class="custom-form-right col-lg-5  ">A REST service endpoint based on a URI template</div>
	                    </div>
	                    <div class="form-group">
	                        <label class="custom-form-label col-lg-2  " for="">Address Endpoint</label>
	                        <div class="custom-form-right col-lg-5  ">The direct URL of the service</div>
	                    </div>
	                    <div class="form-group">
	                        <label class="custom-form-label col-lg-2  " for="">WSDL Endpoint</label>
	                        <div class="custom-form-right col-lg-5  ">The WSDL, service and port</div>
	                    </div>
	                    <div class="form-group">
	                        <label class="custom-form-label col-lg-2  " for="">Failover Group</label>
	                        <div class="custom-form-right col-lg-5  ">The endpoints that the service tries to connect to in case of a failure. This happens in a round robin manner</div>
	                    </div>
	                    <div class="form-group">
	                        <label class="custom-form-label col-lg-2  " for="">Load Balance</label>
	                        <div class="custom-form-right col-lg-5  ">The endpoints where the incoming requests are directed to in a round robin manner. They automatically handle fail-over as well</div>
	                    </div>
	                </div>

	                <div id="endpoint_form" class="endpoint_dives" style="display:block">
	                </div>

	                <div class="form-group">
	                    <label class="custom-form-label col-lg-2  " for=""></label>
	                    <div class="custom-form-right col-lg-5   show-more" style="display:block">
	                        <a href="#" class="more-options btn btn-default" ref="more-options-endpoints">Show More</a>
	                    </div>
	                    <div class="custom-form-right col-lg-5   show-less" style="display:none">
	                        <a href="#" class="less-options btn btn-default" ref="less-options-endpoints">Show Less</a>
	                    </div>
	                </div>
	                <div id="more-options-endpoints" style="display:none">

	                    <div class="form-group">
	                        <label class="custom-form-label col-lg-2  " for="endpointType">{{t "Endpoint Security Scheme"}}:<span
	                                class="requiredAstrix">*</span></label>

	                        <div class="custom-form-right col-lg-5  ">
	                    <select class="select required" id="api-implement-more-security" name="endpointType" >
	                                <option value="nonsecured" selected="selected">Non Secured</option>
	                        <option value="secured">Secured</option>
	                    </select>
	                    <a class="icon-question-sign help_popup" help_data="endpointSec_help"></a>

	                    <p id="endpointSec_help" class="hide"></p>
	                    </div>
	                </div>

	                <div class="form-group" id="api-implement-more-credentials" style="display:none">
	                    <label class="custom-form-label col-lg-2  " for="credentials">{{t "Credentials"}}:<span class="requiredAstrix">*</span></label>
	                        <div class="custom-form-label col-lg-5  ">
	                            <input type="text" class="form-control required validInput" id="epUsername"
	                                   name="epUsername" value="">
	                            </div>
	                        <div class="clearfix"></div><br/>
	                        <label class="custom-form-label col-lg-2  " for=""></label>
	                        <div class="custom-form-label col-lg-5  ">
	                            <input type="password" class="form-control required" id="epPassword"
	                                   name="epPassword" value="">
	                        </div>
	                    </div>

	                 <div class="form-group api_wsdl">
	                 <label class="custom-form-label col-lg-2  " for="wsdl">{{t "WSDL"}}:</label>

	                 <div class="custom-form-label col-lg-5  ">
	                 <div class="input-append">
	                 <input type="text" class="form-control validInput" id="wsdl" name="wsdl"  value="" />

	                                <a class="icon-question-sign help_popup" help_data="wsdldesc_help"></a>

	                                <p id="wsdldesc_help" class="hide"></p>
	                            </div>
	                            <p class="help-block"></p>

	                        </div>
	                        <div class="custom-form-right col-lg-1  ">
	                            <button class="btn btn-default check_url_valid" url-type="wsdl" type="button">{{t "Test URI"}}</button>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="custom-form-label col-lg-2  " for="wadl">{{t "WADL"}}:</label>

	                        <div class="custom-form-label col-lg-5  ">
	                 <div class="input-append">
	                 <input type="text" class="form-control validInput" id="wadl" name="wadl" value="" />
	                 </div>
	                 <p class="help-block"></p>
	                 </div>
	                        <div class="custom-form-right col-lg-1  ">
	                            <button class="btn btn-default check_url_valid" type="button">{{t "Test URI"}}</button>
	                 </div>
	                </div><!-- more option endpoint -->
	                    <!--Southboud statistics -->
	                    <div class="form-group">
	                        <label class="custom-form-label col-lg-2  " for="destinationStats">{{t "Destination Stats"}}:</label>

	                        <div class="custom-form-label col-lg-5  ">
	                            <select class="select required form-control" id="destinationStats" name="destinationStats">
	                                <option value="disabled"> </option>
	                                <option value="enabled"> </option>
	                            </select>
	                            <a class="icon-question-sign help_popup" help_data="stats_help"></a>
	                            <p id="stats_help" class="hide"></p>
	                        </div>
	                    </div>
	                    <!--Southboud statistics End -->
	            </fieldset>
	           
	                <input type="hidden" name="name" value="{{api.name}}" />
	                <input type="hidden" name="version" value="{{api.version}}" />
	                <input type="hidden" name="provider" value="{{api.provider}}" />
	                <input type="hidden" name="action" value="implement" />
	                <input type="hidden" id="swagger" name="swagger" value="{{api.swagger}}" />
	                <div class="form-actions" style="display:none" id="saveMessage">
	                    <div class="btn loadingButton">Saving API. Please wait..</div>
	                </div>
	                <div class="form-actions" id="saveButtons">
	                    <input type="submit" class="btn btn-primary manageSaveButton" value="Save"/>
	                    <a id="go_to_manage" class="btn btn-primary manageSaveButton" >Manage</a> 
	                </div>
	            </form>
	            </div>
	            </div>
	        </div>
	    </div>
	  

                        <div class="api-implement-type" value="#prototype">
                            <div class="span11">
                                <table class="opt-selectable">
                                    <tr>
                                        <td class="collapse-icon-wrp"><i class="fa fa-plus-circle fa-2x"></i></td>
                                        <td class="icon-wrp"><i class="fa fa-cog fa-3x"></i></td>
                                        <td>
                                            <h4>Prototype</h4>
                                            <p>Use the inbuilt javascript engine to prototype the API or provide an endpoint to a prototype API. Inbuilt javascript engine do not have support to prototype SOAP APIs.</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

	            <div class="slideContainer hide" id="prototype">
	            <div class="well">
	            <form class="form-horizontal" method="POST" id="prototype_form" enctype="multipart/form-data"
	                action="{{url ""}}/apis/assets/{{api.id}}?type=api">
	                <fieldset>
	        <legend>Implementation Method</legend>
	            <div class="form-group">
	        <label class="custom-form-label col-lg-2  " for="context">Implementation Method</label>
	                <label class="checkbox-inline">
	                            <input class="implementation_methods" type="radio" value="inline"
	                                   name="implementation_methods"> {{t "Inline"}}
	                        </label>
	                <label class="checkbox-inline">
	                            <input class="implementation_methods" type="radio" value="endpoint"
	                                   name="implementation_methods" checked="checked"> {{t "Endpoint"}}
	                        </label>

	                </div>
	            <!-- closing the well for endpoints -->
	                </fieldset>

	                <!-- div id="api_designer">
	                    <div id ="apidoc_details"></div>
	                    <div id ="resource_details"></div>
	                </div -->

	                <div id="api_designer" class="api_designer" style="display:none">
	                    <div id ="resource_details"></div>
	                </div> 

	                <div class="clear"></div>

	                <fieldset class="implementation_method_endpoint implementation_method">
	                    <input type="hidden" class="prototype_config" name="endpoint_config" value="{{api.endpointConfig}}"/>
	                    <div class="control-group">
	                        <label class="control-label">Prototype Endpoint:</label>
	                        <div class="controls">
	                            <div class="input-append">
	                            <input type="text" id="prototype_endpoint" value="http://localhost" name="prototype_endpoint" class="required">
	                            <button type="button" class="btn check_url_valid">Test</button>

	                            <a style="margin-left:3px" class="icon-question-sign help_popup" help_data="endpoint_test_help"></a>
	                            <div id="endpoint_test_help" class="hide">
	                                <p>WSO2 API Manager uses HTTP Head to check the validity of the endpoint.</p>
	                            </div>

	                        </div>
	                        <p class="help-block">E.g.,: http://appserver/resource</p>
	                        <span style="display:none;" class="help-block jsonform-errortext"></span>
	                    </div>
	                </fieldset>

	                <div class="form-actions" id="saveButtons">

	                    <input type="hidden" name="name" value="{{api.name}}" />
	                    <input type="hidden" name="version" value="{{api.version}}" />
	                    <input type="hidden" name="provider" value="{{api.provider}}" />
	                    <input type="hidden" name="action" value="implement" />
	                    <input type="hidden" id="swagger" name="swagger" class="swagger" value="" />
	                    <button type="submit" class="btn btn-primary manageSaveButton has-spinner" id="savePrototypeBtn" >Save</button>
	                    <button class="btn btn-warning pull-right has-spinner" id="prototyped_api" >Deploy as a Prototype</button>

	                </div>
	            </form>
	            </div>

	            <div id="prototype-success" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	                <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                <h3>API Publisher - Notification</h3>
	                </div>
	                <div class="modal-body">
	                <table>
	                    <tbody>
	                        <tr>
	                            <td><img src="/publisher/site/themes/default/images/info.png" align="center" hspace="10"></td>
	                            <td><span class="messageText">API deployed as a Prototype.</span></td>
	                    </tbody>
	                </table>
	                </div>
	                <div class="modal-footer">
	                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
	                <a href='#' class="btn has-spinner">Go to API Store</a>
	                </div>
	            </div>
	            </div>
	  </div>
	<div  id="advance_endpoint_config" class="modal fade" role="dialog" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <h3>Advanced Endpoint Configuration</h3>
	            </div>
	            <div class="modal-body">
	            <form id="advance_form"></form>
	            </div>
	            <div class="modal-footer">
	            <div id="res" class="hide" style="color:red;float:left"></div>
	            <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
	            <a href="#" class="btn btn-primary" id="advance_ep_submit">Save changes</a>
	            </div>
	        </div>
	    </div>
	</div>
