<div>
	<div id="assets-container" data-pages="{{pages}}">

		{{#if assets}}
		{{#slice assets size="4"}}
		<div class="row-fluid">

			{{#each .}}
			<div class="span3 asset" data-id="{{id}}" data-type="{{type}}">
				{{#attributes}}
				<a href="{{url "/asts"}}/{{../type}}/details/{{../id}}">
				<div class="asset-icon">
					{{#if ../indashboard}}
						<i class="icon-bookmark store-bookmark-icon"></i>
					{{/if}}
				<img src="{{url ""}}/extensions/assets/api/themes/default/imgs/03-twitter-icon.png">
				</div> </a>

				<div class="asset-details">
					<div class="asset-name">
						<a href="{{url "/asts"}}/{{../type}}/details/{{../id}}"> <h4>{{overview_name}}</h4> </a>
					</div>
					<div class="asset-rating">
						<div class="asset-rating-{{../avgRating}}star">

						</div>
					</div>
					<div class="asset-author-category">
						<ul>
							<li>
								<h4>{{t "Version"}}</h4>
								<a class="asset-version" href="#">{{overview_version}}</a>

							</li>
							<li>
								<h4>{{t "Category"}}</h4>
								<a class="asset-category" href="#">{{cap ../type}}</a>
							</li>
							<li>
								<h4>{{t "Author"}}</h4>
								<a class="asset-author" href="#">{{overview_provider}}</a>

							</li>

						</ul>


					</div>
				</div>
				{{/attributes}}
			</div>
			{{/each}}
		</div>
		{{/slice}}
		{{else}}
			<div class="empty-assert">
				<p>{{t "No APIs created yet.Click the button below to get started."}} </p>
				<a class='btn'>New API...</a>
			</div>
		{{/if}}

	</div>
	<div class="loading-inf-scroll"></div>

</div>