<!--
  ~ Copyright (c) WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 wr-filters">
      {{#if assetCategoryDetails.hasCategories}}
        <div class="wr-filter-category">
          <a href="#" class="ico-filter ctrl-filter-category dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="categoryDropDown" title="All Categories">
              {{#if assetCategoryDetails.selectedCategory}}
                {{assetCategoryDetails.selectedCategory}}
              {{else}}
                <span>All Categories</span>
              {{/if}}
              <span class="fa fa-angle-down pull-right"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              {{#if assetCategoryDetails.selectedCategory}}
                <li><a tabindex="-1" href="#">All Categories</a></li>
              {{/if}}
              {{#each assetCategoryDetails.values}}
              <li><a tabindex="-1" href="#">{{this}}</a></li>
              {{/each}}
          </ul>
      </div>
      {{/if}}

      <div class="wr-search">
        <div>
        <form class="form-group" id="assetSearchForm" action='{{url "/assets/"}}{{rxt.shortName}}/list' style="margin-left:-4px">
          <input type="text" name="query" class="" placeholder="{{t "Search.."}}" id="inp_searchAsset" value="{{paging.query}}" /><a type="button" href="#" class="btn-search" id="searchButton"><span class="fa fa-search"></span></a>
          <input type="hidden" name="sortby" value="{{paging.sortBy}}"/>
          <input type="hidden" name="sort" value="{{paging.sortOrder}}"/>
        </form>
        </div>
      </div>
    <a href="{{url ""}}/pages/advanced-search" class="btn btn-default pull-left advance-search-btn" title="Advanced Search">
        <span class="advanced-search-text">Advanced Search</span>
        <span class="fa fa-cog fa-2x advanced-search-icons"></span>
    </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 wr-filters">
        <div class="dropdown pull-right">
            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <span class="sort-asset-info"><span>( <span class="hidden-xs">{{sorting.selected.help}}</span> <i class="fa {{sorting.selected.helpIcon}}"></i> )</span> <img src="{{url "/themes/default/img/icons/ico-sort.png"}}" />
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="ul-sort-assets">
                {{#each sorting.list}}
                    <li role="presentation" class="{{#if active}}active{{/if}}"><a class="filter-item" href="?sort={{sortNext}}{{sortBy.field}}"><span class="pull-left">{{sortBy.label}}</span><i class="fa {{sortIcon}} pull-right"></i> </a></li>
                {{/each}}
            </ul>
    </div>
</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <!-- content -->
        <div class="ast-container" id="list_assets_table_body">
            {{#if assets}}
                <div id="list_assets_content">
                    {{>list_assets_table_body assets}}
                </div>
            {{else}}
                <div class="emptyAssets-MsgDiv">

                    <p class="emptyAssets">We are sorry! we couldn't find anything for you ...</p>

                </div>
            {{/if}}
        </div>
    </div>
</div>

