
<div id='doc-list-container' class="row-fluid"  style='display:inline;'>
	<table class='table table-bordered'>
		<thead>
			<tr>
				<th>{{t "Name"}}</th>
				<th>{{t "Type"}}</th>
				{{#if assets.visibility_display}} 
					<th>{{t "Visibility"}}</th>
				{{/if}}	
				
				<th>{{t "Modified On"}}</th>
				<th>{{t "Actions"}}</th>
			</tr>
		</thead>
		<tbody>
			{{#each documents}}
			<tr>
				<td>{{name}}</td>
				<td>{{type_display}}</td>				
				{{#if visibility_display}} 
					<td>
						{{visibility_display}}
					</td>
				{{/if}}				
				<td>{{lastUpdated}}</td>
				<td>
					<ul class="art-vmenu">
						{{#if filePath}} 
							<a  download="" target="_blank" href="{{filePath}}"><i name="rowAction1" class='fa fa-pencil-square-o' style="color:black"></i> {{t "Open"}}
							|</a>
						{{/if}}
						{{#if sourceUrl}}
							<a    href="javascript:editDocumentation('{{sourceUrl}}','{{filePath}}','{{overview_editContent}}')"><i name="rowAction2" class='fa fa-pencil-square-o' style="color:black"></i> {{t "View"}}
							|</a>
						{{/if}}
						{{#if overview_editContent}} 
							<a    href="javascript:getInlineContent('{{../../assets.provider}}','{{../../assets.name}}','{{../../assets.version}}','{{name}}','edit','{{../../cuser/tenantDomain}}')"><i name="rowAction3" class='fa fa-pencil-square-o' style="color:black"></i> {{t "Edit Content"}}
							|</a>
						{{/if}}
						
						<a href="javascript:updateDocumentation('{{name}}','{{type_display}}','{{summary}}','{{sourceType}}','{{sourceUrl}}','{{filePath}}','{{otherTypeName}}','{{visibility}}','{{t "Update"}}')"> <i name="rowAction4" class='fa fa-retweet' style="color:black"></i> {{t "Update"}}|</a>
						<a   href="javascript:removeDocumentation('{{../assets.provider}}','{{../assets.name}}','{{../assets.version}}','{{name}}','{{type}}')"><i name="rowAction5" class='fa fa-trash' style="color:black"></i> {{t "Delete"}}</a>
					</ul>
				</td>
			</tr>
			{{/each}}		
		</tbody>
	</table>
</div>