<!-- secondary header - app bar -->

<nav class="navbar navbar-default navbar-themed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="wr-asset-type-switcher">
            <a id="popoverExampleTwo" data-placement="bottom" class="ctrl-asset-type-switcher pull-left" href="#" data-original-title="" title="">
                <span class="btn-asset"></span>
            </a>

            <a class="pull-left switcher-link" href='{{url ""}}{{currentUrl}}{{ribbon.currentUrl}}'>{{rxt.pluralLabel}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{#each leftNav}}
                <li>
                    <a href='{{url ""}}{{this.url}}' >
                        <span class="fa-stack fa-lg menu-stack-icons">
                          <i class="fa {{this.iconClass}} fa-stack-1x"></i>
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                        </span>
                        {{this.name}}
                    </a>
                </li>
                {{/each}}
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>

<!--Need to delete these sections down-->
<div id="content-asset-types" style="display: none">
    <div>
        {{#each ribbon.breadcrumb}}
            <a class="ast-type-item" target="_self" href='{{url ""}}{{this.url}}'><i class="{{this.assetIcon}}"></i>{{assetTitle}}</a>
        {{/each}}
    </div>
</div>

<div id="modal-redirect" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <div class="modal-loading"></div>
        <p>
            Redirecting you to the new Asset Version...
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">
            Redirect now
        </button>
    </div>
</div>
