<div class="row">
	<div class="col-lg-12 ">
		<h1>Lets get started!</h1>
	</div>
	<div class="get-started col-lg-11 col-lg-offset-1 col-md-offset-1">

		<label class="radio select-label create-options col-lg-12 ">
			<input class="create-api" type="radio" name="create-api" data-target="#existingAPI"/>{{t "I have an Existing API"}}
			<br/>
			<p>{{t "Use an existing API endpoint to create a managed API. If you have API definition you can import it to
            speed up API creation."}}</p>
		</label>

		<div id="existingAPI" class="slideContainer col-lg-12 " style="display:none">
			<div class="well">
				<form role="form" id="startFromExistingAPI-form" enctype="multipart/form-data" action="{{url ""}}/asts/api/apis/start" method="post">
					<fieldset>
						<div class="form-inline">
							<div class="control-group toggleRadios">
								<div class="controls">
									<label class="control-label sub-select-label">{{ t "Import API Definition as"}}</label>
									<label class="radio sub-labels"><input type="radio" class="select-file" name="import-definition" id="" value="swagger-file"/>{{t "Swagger File"}}
									</label>
									<label class="radio sub-labels urlSelect-label">
										<input type="radio" class="select-url" name="import-definition" value="swagger-url"/>{{t "Swagger Url"}}
									</label>
								</div>
							</div>
						</div>
						<div class="control-group toggleContainers">
							<div class="controls" style="display:none">
								<input name="swagger-url" id="swagger-url" class="input-xxlarge"
								       type="text"/>
								<br/>
								<span class="label label-info">Ex: http://petstore.swagger.io/v2/swagger.json</span>
							</div>
							<div class="controls" style="display:none">
								<input name="swagger-file" id="swagger-file" type="file" class="upload"/>
							</div>
						</div>
						<input name="action" value="start" type="hidden"/>
						<input name="type" value="rest" type="hidden"/>
						<button id="startFromExistingAPI" class="btn btn-primary pull-right" type="button">{{t "Start Creating"}}</button>
					</fieldset>
				</form>
			</div>
		</div>

		<label class="radio select-label create-options col-lg-12 ">
			<input class="create-api" type="radio" name="create-api" data-target="#soapEndpoint">{{t "I have a SOAP Endpoint"}}
			<p>{{t "Use an existing SOAP endpoint to create a managed API. Import WSDL of the SOAP service."}}</p>
		</label>

		<div id="soapEndpoint" class="slideContainer col-lg-12  well" style="display:none">
			<form role="form" id="startFromExistingSOAPEndpoint-form" action="{{url ""}}/asts/api/apis/start" method="post">
				<fieldset>
					<div class="form-group">
						<label class="custom-form-label marg-top-6 col-lg-2 ">{{t "Provide WSDL URL"}}</label>
						<div class="custom-form-right col-lg-8 col-md-8 ">
							<input name="wsdl-url" id="wsdl-url" class="form-control" type="text"/>
						</div>
						<div class="custom-form-right col-lg-8 col-md-8 " style="display:none">
							<input name="wsdl-file" type="file"/>
						</div>
						<div class="custom-form-right col-lg-2 ">
							<input name="action" value="start" type="hidden"/>
							<input name="type" value="soap" type="hidden"/>
							<button id="startFromExistingSOAPEndpoint" class="btn btn-primary pull-right" type="button">{{t "Start Creating"}}</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<label class="radio select-label create-options col-lg-12 ">
			<input class="create-api" id="create-new-api" type="radio" name="create-api"/>{{t "Design new API"}}
			<p>{{t "Design and prototype a new API with API Manager."}}</p>
		</label>
		<div class="designNewAPIContainer col-lg-12  well" style="display:none;">
			<div class="custom-form-right col-lg-12  ">
				<a href="design" id="designNewAPI" class="btn btn-primary pull-right" type="button">{{t "Start Creating"}}</a>
			</div>
		</div>


	</div>
</div>
