<div class="well asset-well">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				{{#if assets.thumbnail}}
					<img src='{{url ""}}/storage/{{../../rxt.shortName}}/{{id}}/{{assets.thumbnail}}' class="" alt="Thumb"/>
				{{else}}
					<img src="{{url ""}}/extensions/assets/api/themes/default/imgs/api.png"/>
				{{/if}}
			</div>
			<div class="col-lg-10">
				<div class="asset-name"><h2>{{api.name}}</h2></div>
				<div class="well-description">
					<i class="fa fa-users"><a href = "{{url ""}}/asts/{{rxt.shortName}}/users/{{assets.id}}">{{api.subs}}
						{{t "Users"}}</a></i></div>
				<div class="well-description"><i class="fa fa-circle"></i> {{assets.lifecycleState}}</div>
				<div class="well-description">
					<i class="fa fa-book"><a href = "{{url ""}}/asts/{{rxt.shortName}}/docs/{{assets.id}}">{{t "Docs"}}</a></i></div>
				<div class="well-description">
					<i class="fa fa-square">{{api.version}}</i>
				</div>
				<div class="well-description">
					{{api.description}}
				</div>
			</div>
		</div>
	</div>
</div>
{{> api_details .}}

<div class="row-fluid">
	<div class="simple-space-maker">
		<button  id="copy-api-button" class="btn btn-primary ">{{t "Create New Version"}}</button>
	</div>
</div>

{{> copy_api .}}
