<div class="well asset-well">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				{{#if assets.thumbnail}}
					<img src='{{url ""}}/storage/{{../rxt.shortName}}/{{assets.id}}/{{assets.thumbnail}}' class=""
					     alt="Thumb"/>
				{{else}}
					<img src="{{url ""}}/extensions/assets/api/themes/default/imgs/api.png"/>
				{{/if}}
			</div>
			<div class="col-lg-10">
				<div class="asset-name"><h2>{{api.name}}</h2></div>
				<div class="well-description">
					<a href = "{{url ""}}/assets/{{rxt.shortName}}/users/{{assets.id}}">
						<i class="fa fa-users"></i>{{api.subs}}{{t "Users"}}</a></div>
				<div class="well-description">
					<i class="fa fa-circle"></i> {{assets.lifecycleState}}</div>
				<div class="well-description">
				<a href = "{{url ""}}/assets/{{rxt.shortName}}/docs/{{assets.id}}">	<i class="fa fa-book"></i>{{t "Docs"}}</a></div>
				<div class="well-description">
					<i class="fa fa-square"></i>{{api.version}}
                    <div class="version-wp">
                        <button  id="copy-api-button" class="btn btn-primary ">{{t "Create New Version"}}</button>

                    </div>
				</div>
				<div class="well-description">
					{{api.description}}
				</div>

				<div class="vs-wp">
				{{> copy_api .}}
            </div>
			</div>
		</div>
	</div>
</div>
{{> api_details .}}

