<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{include title}} | WSO2 Enterprise Store back-office</title>
    <!-- Bootstrap -->
    <link href="{{url "/themes/default/css/bootstrap.min.css"}}" rel="stylesheet" media="screen">
    <link href="{{url "/themes/default/css/custom.css"}}" rel="stylesheet">
    <link href="{{url "/themes/default/css/custom-theme.css"}}" rel="stylesheet">
    <link href="{{url "/themes/default/css/styles.css"}}" rel="stylesheet">



    <!-- fontawesome -->
    <link rel="stylesheet" href="{{url "/themes/default/css/font-awesome.min.css"}}">

    <!-- Token input -->
    <link rel="stylesheet" href="{{url "/themes/default/js/token.input/css/token-input-facebook.css"}}">
    <!-- Helper css injections -->
    {{css}}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{url "/themes/default/js/html5shiv.min.js"}}"></script>
    <script src="{{url "/themes/default/js/respond.min.js"}}"></script>
    <![endif]-->

</head>

<body>

    <div class="wrapper">
        <div class="container-fluid">
            {{ include header}}
        </div>
        <div class="container-fluid ribbon-container">
            {{include ribbon}}
        </div>
        <div class="container-fluid wr-main-content">
            {{include listassets}}
        </div>
        {{>footer}}

    </div>

    <!-- /content/body -->




<script src="{{url "/themes/default/js/jquery-1.10.2.min.js"}}"></script>
<script src="{{url "/themes/default/js/libs/jquery.form.min.js"}}"></script>
<script src="{{url "/themes/default/js/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/default/js/async.min.js"}}"></script>
<script src="{{url "/themes/default/js/publisher.commons.js"}}"></script>
<script src="{{url "/themes/default/js/lc.processor.js"}}"></script>
<script src="{{url "/themes/default/js/sugyama.js"}}"></script>
<script src="{{url "/themes/default/js/raphael-min.js"}}"></script>
<script src="{{url "/themes/default/js/graph.js"}}"></script>
<script src="{{url "/themes/default/js/token.input/jquery.tokeninput.js"}}"></script>
<script src="{{url "/themes/default/js/handlebars.js"}}"></script>
<!-- Helper files js injector -->
{{js}}
{{code}}

<script src="{{url "/themes/default/js/caramel.handlebars.client.js"}}"></script>
<script src="{{url "/themes/default/js/caramel-client.js"}}"></script>




<script type="text/javascript">

$( document ).ready(function() {
    $("[data-toggle=popover]").popover();

    $(".ctrl-asset-type-switcher").popover({
        html : true,
        content: function() {
            return $('#content-asset-types').html();
        }
    });

    $('#nav').affix({
        offset: {
            top: $('header').height()
        }
    });
});

</script>
</body>
</html>
