{{layout "org.wso2.carbon.apimgt.publisher.commons.ui.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Listing | " @config.appName}}
{{js "js/api/new.js"}}
{{css "css/custom.css"}}
{{#fillZone "actionMenu"}}
    {{fragment "actionMenuApiNew"}}
{{/fillZone}}
{{#fillZone "content"}}
    <div class="row">
        <div class="page-header" id="apiTitleContainer">
            <h2>Add New API</h2>
        </div>
        <div class="col-lg-10 col-sm-offset-1">
            <form class="">
                <!-- Name version context input fields-->
                <div class="row">
                    <div class="col-xsm-12 col-lg-4">
                        <div class="input-group input-wrap res-wrap">
                            <label class="control-label">Name</label>
                            <input id="new-api-name" type="text" class="form-control" placeholder="MyAPIName" required>
                        </div>
                    </div>
                    <div class="col-xsm-12 col-lg-4">
                        <div class="input-group input-wrap res-wrap">
                            <label class="control-label">Context</label>
                            <input id="new-api-context" type="text" class="form-control" placeholder="APIContext"
                                   required>
                        </div>
                    </div>
                    <div class="col-xsm-12 col-lg-4">
                        <div class="input-group input-wrap res-wrap">
                            <label class="control-label">Version</label>
                            <input id="new-api-version" type="text" class="form-control" placeholder="1.0.0" required>
                        </div>
                    </div>
                </div>
                <!-- Implementation method section -->
                <div class="row add-padding-top-5x">
                    <h4>Implementation Method</h4>
                    <div class="col-sm-4" style="padding-right: 0">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="radio apim-pub-new-api">
                                    <input type="radio" name="delete-option">
                                    <span class="helper">Endpoint</span>
                                </label>
                                <label class="radio apim-pub-new-api no-border">
                                    <input type="radio" name="delete-option">
                                    <span class="helper">Import Swagger</span>
                                </label>
                                <label class="radio apim-pub-new-api no-border">
                                    <input type="radio" name="delete-option">
                                    <span class="helper">Mock</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row add-padding-top-2x">
                    <div class="col-sm-6 apim-pub-nested-method-selection">
                        <!-- Text input-->
                        <div class="form-group impl_method" id="Endpoint">
                            <label class="control-label" for="endpoint">Endpoint</label>
                            <div class="input-group max_width">
                                <input id="endpoint" name="endpoint" placeholder="URL of the endpoint."
                                       class="form-control input-md" type="text">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                            data-toggle="modal" data-target="#myModal">Test
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group impl_method" style="display:none" id="ImportSwagger">
                            <label for="exampleInputFile">Upload Swagger File</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Supports Swagger 2</p>
                            <label class="control-label" for="endpoint">Or Provide Swagger URL</label>
                            <div class="input-group max_width">
                                <input id="endpoint" name="endpoint"
                                       placeholder="Ex: http://petstore.swagger.io/v2/swagger.json"
                                       class="form-control input-md" type="text">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                            data-toggle="modal" data-target="#myModal">Test
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button -->
                <hr/>
                <div class="form-group">
                    <button id="api-create-submit" class="btn btn-primary" data-toggle="modal"
                            data-target="#myModal2">Create API
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Test Endpoint</h4>
                </div>
                <div class="modal-body">
                    <h5>Endpoint URL :</h5>
                    <div class="well">http://sample.com/api</div>
                    <h5>HTTP Headers</h5>
                    <pre class="well">Accept-Ranges bytes
                        Connection  Keep-Alive
                        Content-Encoding  gzip
                        Content-Length  2408
                        Content-Type  application/json
                        Date  Tue, 03 Mar 2015 09:01:51 GMT
                        Last-Modified Tue, 03 Mar 2015 09:01:48 GMT
                        Server  Apache/2.4.7 (Ubuntu)
                    </pre>
                    <h5>Responce</h5>
                    <pre class="well">{
                          "error": 404,
                          "message": "Resource Not Found"
                        }
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Try Again</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>


{{/fillZone}}