{{layout "org.wso2.carbon.apimgt.publisher.commons.ui.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Listing | " @config.appName}}
{{js "js/api/api-info.js"}}
{{css "css/custom.css"}}
{{#fillZone "actionMenu"}}
    {{fragment "actionMenuApiDetails"}}
{{/fillZone}}
{{#fillZone "content"}}
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-holder"
                 style="    padding-bottom: 10px;border-bottom: 1px solid darkcyan;box-shadow: 0px 13px 18px -18px black;">
                <div class="button-bar">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a href="#overview-tab" aria-controls="overview-tab"
                                                                  role="tab" data-toggle="tab">&nbsp;Overview</a>
                        </li>
                        <li role="presentation"><a href="#lc-tab" aria-controls="lc-tab" role="tab" data-toggle="tab"><i
                                class="fw fw-lifecycle"></i>&nbsp;
                            Life-Cycle</a>
                        </li>
                        <li><a href="#endpoints-tab" aria-controls="endpoints-tab" data-toggle="tab"><i
                                class="fw fw-endpoint"></i>&nbsp; Endpoints</a>
                        </li>
                        <li><a href="#resources-tab" aria-controls="resources-tab" data-toggle="tab"><i
                                class="fw fw-tabesource"></i>&nbsp;
                            Resources</a></li>
                        <li><a href="#documents-tab" aria-controls="documents-tab" data-toggle="tab"><i
                                class="fw fw-document"></i>&nbsp; Documents</a>
                        </li>
                        <li><a href="#actrl-tab" aria-controls="actrl-tab" data-toggle="tab"><i
                                class="fw fw-contract"></i>&nbsp; Access Control</a>
                        </li>
                        <li><a href="#mediation-tab" aria-controls="mediation-tab" data-toggle="tab"><i
                                class="fw fw-sequence"></i>&nbsp;
                            Mediation</a>
                        </li>
                        <li><a href="#scripting-tab" aria-controls="scripting-tab" data-toggle="tab"><i
                                class="fw fw-prototype"></i>&nbsp; Scripting</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="overview-tab">
                    <div class="card">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="lc-tab">LC content</div>
                <div role="tabpanel" class="tab-pane fade" id="endpoints-tab">endpoints content</div>
                <div role="tabpanel" class="tab-pane fade" id="resources-tab">resources</div>
                <div role="tabpanel" class="tab-pane fade" id="documents-tab">documents-tab...</div>
                <div role="tabpanel" class="tab-pane fade" id="actrl-tab">actrl-tab...</div>
                <div role="tabpanel" class="tab-pane fade" id="mediation-tab">mediation-tab...</div>
                <div role="tabpanel" class="tab-pane fade" id="scripting-tab">scripting-tab...</div>
            </div>
        </div>
    </div>
    <input type="hidden" name="apiId" value="{{@pathParams.id}}"/>
{{/fillZone}}