<div class="form-group" id="applications-list">
    <label for="application-list">Applications</label>
    <select id="application-list" class="form-control" onchange="applicationSelectionChange()">
        <option value="-">Select Application...</option>
        <option value="createNewApp">New Application...</option>
        {{#if @params.applications}}
            <optgroup label="My Applications">
                {{#each @params.applications}}
                    {{#if isDefault}}
                        <option selected value="{{applicationId}}" data-applicationId>{{name}}</option>
                    {{else}}
                        <option value="{{applicationId}}">{{name}}</option>
                    {{/if}}
                {{/each}}
            </optgroup>
        {{/if}}
    </select>
</div>
