<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="description" content=""/>

    <title>{{#placeholder "title"}}UUF Foundation{{/placeholder}}</title>
    <!-- Le fav and touch icons -->
    {{#placeholder "favicon"}}
        <link rel="shortcut icon" href="{{public "images/default-favicon.png"}}" type="image/png" />
    {{/placeholder}}

    {{placeholder "css"}}
    {{placeholder "headJs"}}
    {{placeholder "headOther"}}
</head>
<body class="sticky-footer">
<!-- header -->
<header class="header header-default">
    <div class="container-fluid">
        <div class="pull-left brand float-remove-xs text-center-xs">
            <a href="{{@contextPath}}/">
                <img src="{{public "images/logo.png"}}" class="logo" />
                <h1>{{@config.appName}}</h1>
            </a>
        </div>

        <ul class="nav navbar-right float-remove-xs text-center-xs">
            <li class="visible-inline-block">
                <a title="user account" href="#" class="dropdown" data-toggle="dropdown">
					            <span class="icon fw-stack fw-lg">
					               <i class="fw fw-circle-outline fw-stack-2x"></i>
					               <i class="fw fw-user fw-stack-1x"></i>
					            </span>
                    <span class="hidden-xs"> &nbsp; admin<span class="caret"></span></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right float-remove-xs position-static-xs text-center-xs remove-margin-xs slideInDown" role="menu">
                    <li class="dropdown-header visible-xs">&nbsp; admin <span class="caret"></span></li>

                    <li><a title="My Account" href="/store/site/pages/user-info.jag"><i class="fw fw-settings"></i> &nbsp; My Account</a></li>

                    <li class="divider visible-xs"></li>
                    <li><a title="Sign Out" href="#" id="logout-link"><i class="fw fw-sign-out"></i> &nbsp; Sign Out</a></li>
                </ul>
            </li>
        </ul>
        <!-- TODO: Check and include relevant -->
        <!--  -->
    </div>
</header>
<!-- #page-content-wrapper -->
<div class="page-content-wrapper">
    <!-- media-->
    <div class="media">
        <!-- media left-->
        <div class="media-left sidebar-wrapper sidebar-nav visible-side-pane" id="left-sidebar" data-spy="affix" data-offset-top="50" data-side="left" data-width="200">


            <!-- Sidebar -->

            <nav class="navigation">
                <ul>

                    <li class="purple active"><a title="APIs" href="/store/"><i class="fw fw-api icon"></i><span class="left-menu-item ">APIs</span></a></li>
                    <li class="green"><a title="Applications" href="/store/site/pages/applications.jag" class="link-myapplications"><i class="fw fw-application icon"></i><span class="left-menu-item">Applications</span></a></li>

                    <li class="orange"><a title="forum" href="/store/forum"><i class="fw fw-forum icon"></i><span class="left-menu-item">Forum</span></a></li>

                    <li class="yellow"><a title="Statistics" href="/store/site/pages/statistics.jag?stat=perAppAPICount" class=""><i class="fw fw-statistics icon"></i><span class="left-menu-item">Statistics <i class="fw fw-down fw-stack-1x toggle-icon-up remove-float"></i></span></a>
                        <ul class="sublevel-menu">
                            <li><a title="API Usage" href="/store/site/pages/statistics.jag?stat=perAppAPICount" class=""><i class="fw fw-api icon"></i><span class="name">API Usage</span></a></li>
                            <li><a title="Top Users" href="/store/site/pages/statistics.jag?stat=topUsers" class=""><i class="fw fw-api icon"></i><span class="name">Top Users</span></a></li>
                            <li><a title="Resource Usage" href="/store/site/pages/statistics.jag?stat=apiCallType" class=""><i class="fw fw-api icon"></i><span class="name">Resource Usage</span></a></li>
                            <li><a title="Faulty Invocations" href="/store/site/pages/statistics.jag?stat=faultCount" class=""><i class="fw fw-api icon"></i><span class="name">Faulty Invocations</span></a></li>
                            <li><a title="Manage Alert Types" href="/store/site/pages/manage-alert-type.jag" class=""><i class="fw fw-notification icon"></i><span class="name">Manage Alert Types</span></a></li>
                        </ul>
                    </li>

                </ul>
            </nav>

            <div class="tags-wrapper hidden-xs hidden-sm" id="tagcloud" style="display:none">
                <div class="tag-title">Tags</div>
                <div class="tag-content" id="tag-content" style="width:100%;">
                </div>
            </div>




        </div><!-- media left-->

        <!-- Page Content -->


        <!-- media body-->
        <div class="media-body">


            <!-- navbar -->
            <div class="navbar-wrapper navbar-search">
                <nav class="navbar navbar-default" data-spy="affix" data-offset-top="50" data-offset-bottom="40">
                    <a class="navbar-menu-toggle hidden-sm hidden-lg hidden-md" title="left-sidebar" data-toggle="sidebar" data-target="#left-sidebar" data-container=".page-content-wrapper" data-container-divide="true" aria-expanded="false" rel="leftmenu-sidebar">
                        <span class="icon fw-stack">
                            <i class="fw fw-menu fw-stack-1x toggle-icon-cancel"></i>
                        </span>
                    </a>



                    <form action="https://10.100.1.24:9443/store/apis/list?" id="search_apis">
                        <div class="col-xs-10 col-sm-12 col-md-6 col-lg-5">

                            <div class="input-group input-wrap search-wrap">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Category">All <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://10.100.1.24:9443/store/apis/list">All</a></li>
                                        <li><a href="https://10.100.1.24:9443/store/apis/list?type=production">Production</a></li>
                                        <li><a href="https://10.100.1.24:9443/store/apis/list?type=prototyped">Prototyped</a></li>
                                    </ul>
                                </div>
                                <input type="text" class="form-control appm-content-search" title="apim_search"  name="query" id="query" placeholder="Search...">
                                <div class="input-group-btn">
                                    <button class="btn btn-default wrap-input-right" id="searchAPI" type="submit" title="Search">
                                        <i class="fw fw-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="input-group-btn">
                                    <a class="help_popup" title="Search Options" rel="popover" data-popover-content="#apiSearchTips" data-placement="bottom">
          <span class="icon fw-lg  add-margin-bottom-1x add-margin-left-2x" style="font-size:16px;">
            <i class="fw fw-info fw-inverse" title="Search Options"></i>
          </span>
                                    </a>
                                </div>
                                <div id="apiSearchTips" class="hide help-popover-content" >
                                    <ol>
                                        <li>By API Name [Default]</li>
                                        <li>By API Provider [ Syntax - provider:xxxx ]  or</li>
                                        <li>By API Version [ Syntax - version:xxxx ]  or</li>
                                        <li>By Context [ Syntax - context:xxxx ]  or</li>
                                        <li>By Description [ Syntax - description:xxxx ] or</li>
                                        <li>By Tags [ Syntax - tags:xxxx ] or</li>
                                        <li>By Sub-Context [ Syntax - subcontext:xxxx ] or</li>
                                        <li>By Documentation Content [ Syntax - doc:xxxx ]</li>
                                    </ol>
                                </div>

                            </div><!-- /input-group -->
                        </div>
                    </form>
                </nav>
            </div>
            <div class="container-fluid">
                <div class="body-wrapper">

                    {{defineZone "content"}}

                </div>
            </div><!-- /#media body-->
        </div><!-- /#media-->
    </div><!-- /#page-content-wrapper -->
    <!-- footer -->
    <footer class="footer">
        <div class="container-fluid">
            {{defineZone "footer"}}
        </div>
    </footer>
    <!-- /footer -->
    {{placeholder "js"}}
</body>
</html>
