{{js "js/permissions.js"}}
{{js "css/permissions.css"}}
<div class="page-header">
    <h4 class="lead">{{i18n "API Permissions"}}</h4>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6" id="search_role">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3 col-md-3 col-lg-3" for="role-name">
                    {{i18n "Role"}} :
                </label>
                <div class=" col-xs-8 col-sm-6 col-md-6 col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control"
                               id="role-name"
                               placeholder="role name">
                        <span class="input-group-btn">
                            <button class="btn btn-primary add-role" type="button" id="add_role">Add</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-sm-6">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="set-permissions-list">
                    <div class="well">
                        {{i18n "Role permissions for the API"}}
                        <hr>
                        <div class="message message-info" id="no-roles-msg">
                            <p><i class="icon fw fw-info"></i>&emsp; No roles added yet.</p>
                        </div>
                        <div class="input-group hide" id="permission-div">
                            <label for="permission-options">
                            </label>
                            <input type="checkbox" value="READ" class="permissionCheck">&nbsp;Read &nbsp; &nbsp;
                            <input type="checkbox" value="UPDATE" class="permissionCheck">&nbsp;Update &nbsp; &nbsp;
                            <input type="checkbox" value="DELETE" class="permissionCheck">&nbsp;Delete &nbsp; &nbsp; &nbsp;
                            <!--&emsp;-->
                            <!--<span class="fw fw-delete delete-role"></span>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-6 col-sm-9">
                    <button id="update-api-permissions" class="btn btn-primary">Update Permissions</button>
                </div>
            </div>
        </form>
    </div>
</div>