{{fragment "org.wso2.carbon.uuf.common.foundation.ui.data-tables" }}
{{js "js/index.js"}}

<div class="page-header">
{{#if @queryParams.api}}
    <h2 id="tierTopic">{{i18n "Add.Advanced.Throttle.Policy"}}</h2>
    {{else if @queryParams.application}}
    <h2 id="tierTopic">{{i18n "add.application.level.policy"}}</h2>
    {{else if @queryParams.subscription}}
    <h2 id="tierTopic">{{i18n "add.subscription.tier"}}</h2>
    {{/if}}
    <p class="lead"></p>
</div>

<form class="form-horizontal" method="" id="" action="">
    <div class="page-header">
        <p class="lead">{{i18n "General.Details"}}</p>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">{{i18n "Tier.Name"}}: <span class="required-astrix">*</span>
            <a class="help_popup" help_data="name_help" data-content="{{i18n "Name.of.the.throttle.policy"}}"
               data-trigger="hover" data-placement="bottom"
               title="">
							<span class="icon fw-stack fw-lg" style="font-size:6px">
								<i class="fw fw-circle fw-stack-2x" data-original-title="" title=""></i>
								<i class="fw fw-question fw-stack-1x fw-inverse" style="font-size:8px"
                                   data-original-title="" title=""></i>
							</span>
            </a>

        </label>
        <div class="col-md-9">
            <input class="form-control required validRegistryName validateForwardSlashAtEnd validInput apiNameExists noSpace"
                   type="text" id="policy-name" name="policy-nam" autofocus="autofocus" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="policy-description">{{i18n "Tier.Description"}}:
            <a class="help_popup" help_data="desc_help" data-content ="{{i18n "Description.of.the.throttle.policy"}}"
               data-trigger="hover" data-placement="bottom"
               data-original-title="" title="">
                    	<span class="icon fw-stack fw-lg" style="font-size:6px">
								<i class="fw fw-circle fw-stack-2x" data-original-title="" title=""></i>
								<i class="fw fw-question fw-stack-1x fw-inverse" style="font-size:8px"
                                   data-original-title="" title=""></i>
							</span>
            </a>
        </label>
        <div class="col-sm-9">
            <textarea
                    class="form-control required validRegistryName validateForwardSlashAtEnd validInput apiNameExists noSpace"
                    id="policy-description" cols="40" rows="2" name="policy-description"></textarea>
        </div>
    </div>

    <div class="page-header">
        <h2><br/></h2>
        <p class="lead">{{i18n "Default.Limits"}}</p>
    </div>

    <div id="quotaTypeRadioDev">
        <div class="form-group">
            <label class="control-label col-sm-3"></label>
            <div class="radio radio-inline">
                <label class="checkbox-inline">
                    <input type="radio" name="select-quota-type" value="requestCount" id="requestCountType" checked="checked"
                           onchange="showHideDefaultQuotaPolicy()"/>
                    {{i18n "Request.Count"}}
                </label>
            </div>
            <div class="radio radio-inline">
                <label class="checkbox-inline">
                    <input type="radio" name="select-quota-type" value="bandwidthVolume" id="bandwidthType"
                           onchange="showHideDefaultQuotaPolicy()"/>
                    {{i18n "Request.Bandwidth"}}
                </label>
            </div>
        </div>
    </div>

    <div id="defaultRequestCountBasedDiv">
        <div class="form-group">
            <label class="control-label col-sm-3">Request Count: <span class="required-astrix">*</span>
                <a class="help_popup" href="#" help_data="request_count_help" data-content="{{i18n "Number.of.requests.allowed"}}
                "
                   data-trigger="hover"
                   data-placement="bottom" data-original-title="" title="">
                    	<span class="icon fw-stack fw-lg" style="font-size:6px">
								<i class="fw fw-circle fw-stack-2x" data-original-title="" title=""></i>
								<i class="fw fw-question fw-stack-1x fw-inverse" style="font-size:8px" data-original-title="" title=""></i>
							</span>
                </a>
            </label>
            <div class="col-sm-9">
                <input class="form-control required validInput noSpace" type="text" id="request-count" name="request-count" autofocus="autofocus" value="" />
            </div>
        </div>
    </div>
    <div id="defaultBandwidthBasedDiv" class="hide">
        <div class="form-group">
            <label class="control-label col-sm-3">{{i18n "Data.Bandwidth"}} : <span class="required-astrix">*</span>
                <a class="help_popup" help_data="bandwidth_help" data-content="{{i18n "Bandwidth.Allowed"}}"
                   data-trigger="hover"
                   data-placement="bottom" data-original-title="" title="">
                    	<span class="icon fw-stack fw-lg" style="font-size:6px">
								<i class="fw fw-circle fw-stack-2x" data-original-title="" title=""></i>
								<i class="fw fw-question fw-stack-1x fw-inverse" style="font-size:8px" data-original-title="" title=""></i>
							</span>
                </a>
                <p id="bandwidth_help" class="hide">{{i18n "Bandwidth.Allowed"}}</p>
            </label>
            <div class="col-sm-6">
                <input class="form-control required validInput noSpace" type="text" id="bandwidth" name="bandwidth" autofocus="autofocus" value="" />
            </div>
            <div class="col-sm-3">
                <select class="form-control select required" id="bandwidth-unit" name="bandwidth-unit">
                    <option value="KB"  selected="true">KB</option>
                    <option value="MB">MB</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">{{i18n "Unit.Time"}} : <span class="required-astrix">*</span>
            <a class="help_popup" help_data="unit_time_help" data-content="{{i18n "Time.Configuration"}}"
            data-trigger="hover"
               data-placement="bottom"
               data-original-title="" title="">
                    	<span class="icon fw-stack fw-lg" style="font-size:6px">
								<i class="fw fw-circle fw-stack-2x" data-original-title="" title=""></i>
								<i class="fw fw-question fw-stack-1x fw-inverse" style="font-size:8px" data-original-title="" title=""></i>
							</span>
            </a>
            <p id="unit_time_help" class="hide">{{i18n "Time.Configuration"}}</p>
        </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" id="unit-time-count" name="unit-time-count" autofocus="autofocus" value="" />
        </div>
        <div class="col-sm-3">
            <select class="form-control select required" id="request-count-unit" name="request-count-unit">
                <option value="min">{{i18n "Minutes(s)"}}</option>
                <option value="hour">{{i18n "Hour(s)"}}</option>
                <option value="days">{{i18n "Day(s)"}}</option>
                <option value="month">{{i18n "Month(s)"}}</option>
                <option value="year">{{i18n "Year(s)"}}</option>
            </select>
        </div>
    </div>
    {{#if @queryParams.subscription}}
    <div class="page-header">
        <h2><br></h2>
        <p class="lead">{{i18n "burst.control.rate.limiting"}}</p>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">{{i18n "Request.Count"}} </label>
        <div class="col-sm-6">
            <input class="form-control" type="text" id="rateLimitCount" name="rateLimitCount"/>
        </div>
        <div class="col-sm-3">
            <select class="form-control select required" id="rateLimitTimeUnit" name="rateLimitTimeUnit">
                <option value="sec" selected="true">{{i18n "request.s"}}</option>
                <option value="min">{{i18n "request.min"}}</option>
            </select>
        </div>
    </div>
        <div class="page-header">
            <h2><br></h2>
            <p class="lead">{{i18n "policy.flags"}}</p>
        </div>
    <div class="form-group">
        <label class="control-label col-sm-3">{{i18n "stop.on.quota.reach"}}</label>
        <div class="col-sm-6">
            <label class="checkbox">
                <input type="checkbox" id="stopOnQuotaReach" name="stopOnQuotaReach">
                <span class="helper"></span>
            </label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 control-label">{{i18n "billing.plan"}}</label>
        <div class="col-sm-3">
            <select class="form-control select required" id="tierPlan" name="tierPlan">
                <option value="FREE" selected="true">{{i18n "free"}}</option>
                <option value="COMMERCIAL">{{i18n "commercial"}}</option>
            </select>
        </div>
    </div>

        <div class="page-header">
            <h2><br></h2>
            <p class="lead">{{i18n "custom.attributes"}}</p>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <button id="add-attribute-btn" name="add-attribute-btn" type="button" class="btn"
                        value="<%=i18n.localize('Custom Attributes')%>" >
                                <span class="icon fw-stack">
	                                    <i class="fw fw-add fw-stack-1x"></i>
	                                    <i class="fw fw-circle-outline fw-stack-2x"></i>
	                 			</span>
                    {{i18n "add.custom.attribute"}}
                </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <table id="custom-attribute-table">
                    <tbody id="custom-attribute-tbody" name="custom-attribute-tbody"/>
                </table>
            </div>
        </div>

        <legend>{{i18n "permissions"}}</legend>
        <div class="form-group">
            <label class="col-sm-3 control-label">{{i18n "Roles"}}
                <span class="requiredAstrix">*</span></label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="roles" name="roles" value=""/>
                <p class="help-block">{{ i18n "this.tier.is"}}
                    <span class="label label-success">
	                        				{{i18n "allowed"}}</span>
	                        		{{i18n "for.above.roles"}}
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-3" id="permissionTypes">
                <label class="radio">
                    <input type="radio" name="permissionAction" value="allow">
                    <span class="helper">{{i18n "allow"}}</span>
                </label>
                <label class="radio">
                    <input type="radio" name="permissionAction" value="deny">
                    <span class="helper">{{i18n "deny"}}</span>
                </label>
            </div>
        </div>

    {{/if}}
</form>
{{#if @queryParams.api}}
<div class="page-header">
    <h2><br/></h2>
    <p class="lead">{{i18n "Conditional.Groups"}}</p>
</div>
<div id="throttle-policies-pipeline-content" class="form-group">
    <button class="btn btn-secondary" type="button" onclick="addPolicy()">
            <span class="icon fw-stack">
                <i class="fw fw-add fw-stack-1x"></i>
                <i class="fw fw-circle-outline fw-stack-2x"></i>
                </span>&nbsp;{{i18n "Add.Conditional.Group"}}
    </button>
</div>


{{defineZone "pipeline-content"}}
{{/if}}

<div class="page-header">
    <h2><br/></h2>
</div>

<div id="add-policy-button" class="form-group">
    <button type="button" id="addThrottleBtn" name="addThrottleBtn" class="btn btn-primary has-spinner">
            <span class="icon fw-stack">
                <i class="fw fw-save fw-stack-1x"></i>
                <i class="fw fw-circle-outline fw-stack-2x"></i>
            </span>
        &nbsp;{{i18n "Save"}}
    </button>
    <button type="button" id="cancel-tier-btn" class="btn btn-secondary">
            <span class="icon fw-stack">
                <i class="fw fw-cancel fw-stack-1x"></i>
                <i class="fw fw-circle-outline fw-stack-2x"></i>
            </span>
        {{i18n "Cancel"}}
    </button>
</div>
