<div class="api-documentation">
	{{#each processedDocuments}}
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle">{{this.type}}</a>
			</div>
			<div class="accordion-body">
				<div class="accordion-inner">
					{{#each this.docs}}
						<div class="doc-type-shift">
							{{#if this.otherType}}
								<h5>{{this.otherTypeName}}</h5>
							{{/if}}
						</div>
						<div class="documentation {{#if this.otherType}}doc-shift{{/if}}">
							<h6>{{t ../../locale.name}}:</h6>
							<p>{{this.name}}</p>
							<div class="documentaion-body">
								{{#if this.summary}}
									<h6>{{t ../../../locale.docSum}}:</h6>
									<p>{{this.summary}}</p>
								{{/if}}
								{{#if this.sourceUrl}}
								<p><a href="{{this.sourceUrl}}" class="doc-content" target="_blank">
									{{#if this.sourceTypes.url}}
										{{this.sourceUrl}}</a></p>
									{{else}}
										{{t ../../../../locale.viewDoc}}</a></p>
									{{/if}}
								{{else}}
									{{#if this.filePath}}
										<p><a href="#" onclick="downloadDocument('{{this.filePath}}', '{{../../tenant.tenantDomain}}');"
												class="doc-content" download>{{t ../../../../locale.download}}</a></p>
									{{else}}
										<div>
											<a href="#" class="doc-content" onclick="viewDocument('{{this.name}}',
													'{{tenant.tenantDomain}}');" >{{t ../../../../locale.viewDoc}}</a>
										</div>
									{{/if}}
								{{/if}}
							</div>
							<hr/>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	{{/each}}
	{{#if processedDocuments.empty}}
		<div class="alert alert-info" style="margin-bottom:10px">
			<i class="fa fa-info"></i> &nbsp;&nbsp; No documents have been associated with this API so far.
		</div>
	{{/if}}
</div>

