<% jagg.template("api/documentation", function(inputs, outputs, jagg) {
var provider= encode.forUriComponent(request.getParameter("provider"));
var name= encode.forUriComponent(request.getParameter("name"));
var version= encode.forUriComponent(request.getParameter("version"));
var reqUrl = request.getRequestURI();
var docUrl=jagg.getAbsoluteUrl("/site/pages/doc-viewer.jag");
var docMappedUrl=jagg.getMappedUrl("/site/pages/doc-viewer.jag");
var urlPrefix;
var tenantDomain=request_tenant;
if(tenantDomain!=null) {urlPrefix="&tenant="+tenantDomain;}else{urlPrefix='';}
%>

<div class="api-documentation">
	{{#each processedDocuments}}
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle">{{this.type}}</a>
		</div>
		<div class="accordion-body">
			<div class="accordion-inner">
				{{each this.docs}}
				<div class="doc-type-shift">
					{{#if this.otherType}}
					<h5>{{this.otherTypeName}}</h5>
					{{/if}}
				</div>
				<div class="documentation {{#if this.otherType}}doc-shift{{/if}}">
				<h6>{{t locale.name}}:</h6>
				<p>{{this.name}}</p>
				<div class="documentaion-body">
					{{#if this.summary}}
					<h6>{{t locale.docSum}}:</h6><p>{{this.summary}}</p>
					{{/if}}
					{{#if this.sourceUrl}}
					<p><a href="{{this.sourceUrl}}" class="doc-content" target="_blank">
						{{#if doc.sourceTypes.url}}
							{{this.sourceUrl}}</a></p>
					<%}else{%>

					{{t locale.viewDoc}}</a></p>
					<%}}else if(doc.filePath && doc.filePath!=""){%>

					<p><a href="<%=jagg.url("/site/themes/responsive/templates/api/documentation/download.jag?tenant=" + tenantDomain + "&resourceUrl=" + doc.filePath) %>" class="doc-content" target="_blank" download><%=i18n.localize("download")%></a></p>

					<%}else{
					%>
					<div>
						<%if(reqUrl.indexOf(".jag")>=0){%>
						<a href="doc-viewer.jag?docName=<%= encode.forUriComponent(doc.name)%>&name=<%= encode.forUriComponent(name) %>&version=<%= encode.forUriComponent(version)%>&provider=<%= encode.forUriComponent(provider)%>&<%=urlPrefix%>" class="doc-content"  target="_blank"><%=i18n.localize("viewDoc")%></a>
						<%}else{%>
						<a href="../site/pages/doc-viewer.jag?docName=<%= encode.forUriComponent(doc.name) %>&name=<%= encode.forUriComponent(name)%>&version=<%= encode.forUriComponent(version) %>&provider=<%=encode.forUriComponent(provider)%>&<%=urlPrefix%>" class="doc-content"  target="_blank"><%=i18n.localize("viewDoc")%></a>
						<%}%>
					</div>
					<%}%>
				</div>
				<hr/>
			</div>
			<% } %>
		</div>
	</div>
</div>
{{/each}}
<% if(empty) { %>
<div class="alert alert-info" style="margin-bottom:10px">
	<i class="fa fa-info"></i> &nbsp;&nbsp; No documents have been associated with this API so far.
</div>
<% } %>
</div>

