<legend>{{t "Production and Sandbox URLs"}}:</legend>
<forum class='form-horizontal'>
 {{#if assets.isDefaultVersion}}
 <div class='control-group'>
        <input class='input-xxlarge' type='text' disabled
               value="{{assets.httpEndpoint}}{{assets.attributes.overview_context}}"/>
    </div>
    <div class='control-group'>
        <input class='input-xxlarge' type='text' disabled
               value="{{assets.httpsEndpoint}}{{assets.attributes.overview_context}}"/>
    </div>
{{else}}
    <div class='control-group'>
        <input class='input-xxlarge' type='text' disabled
               value="{{assets.httpEndpoint}}{{assets.attributes.overview_context}}"/>
    </div>
    <div class='control-group'>
        <input class='input-xxlarge' type='text' disabled
               value="{{assets.httpsEndpoint}}{{assets.attributes.overview_context}}"/>
    </div>
{{/if}}
</forum>
<div class=" padding-top-double">
<legend>{{t "Share"}}:</legend>
<div class='tabbable'>
    <ul class='nav nav-tabs btn-group'>
        <li class='btn-tab'><a href='#api-social-buttons' data-toggle='tab'>{{t "Social Sites"}}</a></li>
        <li class='btn-tab'><a href='#api-embed' data-toggle='tab'>{{t "Embed"}}</a></li>
        <li class='btn-tab'><a href='mailto:?Subject={{assets.name}}'><i class='icon-envelope'></i> {{t "Email"}}</a></li>
    </ul>
    <!--div class='btn-group nav nav-tabs'>
        <button class='btn'>Social sites</button>
        <button class='btn'>Embedded</button>
        <button class='btn'><i class='icon-envelope'></i>Email</button>
    </div-->

    <div class='tab-content'>
        <div id='api-social-buttons' class='tab-pane active'>
            {{> api_social_buttons .}}
        </div>
        <div id='api-embed' class='tab-pane'>
            {{> api_embed_snippet .}}
        </div>
    </div>
</div>
</div>
<div class=" padding-top-double">
<legend>Comments</legend>
<div>
    {{#if features.social.enabled}}
        <iframe name="socialIfr" id="socialIfr"
                src="{{features.social.keys.socialAppUrl}}?target={{rxt.shortName}}:{{assets.id}}&user={{cuser.username}}"
                width="100%" height="100%" style="height: 300px;"
                data-script="{{features.social.keys.socialScriptSource}}"
                data-script-type="{{features.social.keys.socialScriptType}}"></iframe>
    {{/if}}
    {{#if inDashboard}}
        <div id="comment-content" class="content"></div>
    {{else}}
        <div id="comment-content" class="content user-review"></div>
    {{/if}}
</div>
    </div>
