<div class='span3'>
	<a href='{{social_sites.facebook.href}}'><img class='apim-social-button' src='{{url ""}}/extensions/assets/api/themes/store/imgs/facebook.png' /></a>
	<a href='{{social_sites.twitter.href}}'><img class='apim-social-button' src='{{url ""}}/extensions/assets/api/themes/store/imgs/twitter.png' /></a>
	<a href='{{social_sites.gplus.href}}'><img class='apim-social-button' src='{{url ""}}/extensions/assets/api/themes/store/imgs/google.png' /></a>
	<a href='{{social_sites.diggit.href}}'><img class='apim-social-button' src='{{url ""}}/extensions/assets/api/themes/store/imgs/diggit.png' /></a>
</div>

