<script>
    var isSocial = ('{{features.social.enabled}}' == 'true');

</script>
<h1>{{assets.name}}</h1>	
<div class='container-fluid'>
		<div class='row-fluid'>
			<div class='span3'>
				<div class ='row'>
					<a><i class='icon-user'></i> {{api.provider}}</a>
					{{#if api.thumbnailurl}}
					<img src='{{api.thumbnailurl}}' class='img-polaroid'></img>
					{{else}}
					<img src='{{url ""}}/extensions/assets/api/themes/store/imgs/api-default.png' class='img-polaroid'></img>
					{{/if}}
				</div>	
			</div>
			<div class='span9'>
				<table class='table'>
					<thead>
					</thead>
					<tbody>
						<tr>
							<td><b>{{t "Rating"}}</b></td>
							<td>
								{{t "Your rating:"}}
								<span class="asset-rating">
                            		<div style="width:{{ratingPx}}px"></div>
                    			</span>
							</td>
						</tr>
						<tr>
							<td><b>{{t "Version"}}</b></td>
							<td>{{api.version}}</td>
						</tr>
						<tr>
							<td><b>{{t "Status"}}</b></td>
							<td>{{status}}</td>
						</tr>
						<tr>
							<td><b>{{t "Updated"}}</b></td>
							<td>{{api.lastUpdatedTime}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			{{#if showSubscribe}} 
			<div class='span5' appStyleFix>
				<div class='well'>
				<legend></legend>

				<select id='application-list'>	
         {{#unless subscribedToDefault}} 
         <option value="-">{{t "Select Application..."}}</option>		             
         {{/unless}}        
         <option value="createNewApp">{{t "New Application..."}}</option>	
         <optgroup label="My Applications">		    
				    {{#each applications}}
					<option value="{{id}}" {{#if selectedDefault}} selected {{/if}}>{{name}}</option>
				    {{/each}}
		 </optgroup>			   
				</select>

				<select id="tiers-list" name="tiers-list">
                   {{#if tiers}}		                   
				   {{#each tiers}}
					<option value="{{this}}">{{this}}</option>
				    {{/each}}{{/if}}
		                    
		                </select>
				<div class="simple-space-maker">
		                    <button onclick="triggerSubscribe()" id="subscribe-button" class="btn btn-primary " {{#unless tiersAvailable}} disabled="disabled" {{/unless}}>{{t "Subscribe"}}					
		                    </button>
		                     {{#unless tiersAvailable}}
                                <span id="subsBtnDesc" class="help-block">{{t "You may not be entitled to any of the available tiers"}}</span>
                            {{/unless}}
		                    
		                </div>

				</div>
			</div>
			{{/if}}
			<input type="hidden" id="apiname" value="{{api.name}}">
			<input type="hidden" id="version" value="{{api.version}}">
			<input type="hidden" id="provider" value="{{api.provider}}">
		</div>	
</div>
<ul class='nav nav-tabs'>
	<li><a href='#api-overview'>{{t "Overview"}}</a></li>
	<li><a href='#api-docs'>{{t "Documentation"}}</a></li>
	<li><a href='#'>{{t "API Console"}}</a></li>
	<li><a href='#'>{{t "Throttling Info"}}</a></li>
	<li><a href='#'>{{t "Forum"}}</a></li>
</ul>

<div class='tab-content'>
	<div class='tab-pane active' id='api-overview'>
		{{> api_overview .}}
	</div>
	<div class='tab-pane' id='api-docs'>{{t "Docs"}}</div>
</div>
