<h1>APIs</h1>
<div>
    <div id="assets-container" data-pages="{{pages}}">

        {{#if assets}}
        <!--{{#slice assets size="4"}}-->
            <div class="row-fluid">

                {{#each .}}
                    <div class="span3 asset" data-id="{{name}}-{{version}}-{{attributes.overview_provider}}"
                         data-type="{{type}}">
                        <div class="asset-icon">
                        {{#if thumbnail}}
                            <img src='{{thumbnail}}'>
                        {{else}}
                            <img src='{{url ""}}/extensions/assets/api/themes/store/imgs/api-default.png'>
                        {{/if}}
                        </div>
                        <!--a href="{{url "/asts"}}/api/details/{{name}}-{{version}}-{{provider}}"-->
                        <a href="{{url "/asts"}}/api/details/{{id}}?name={{name}}&version={{version}}&provider={{attributes.overview_provider}}">
                            <div class="asset-details">
                                <div class="asset-name">
                                    <ul>
                                        <li>
                                            <h4>{{t "name"}}</h4>
                                            <a class="asset-name" href="#">{{name}}</a>
                                        </li>
                                        <li>
                                            <h4>{{t "version"}}</h4>
                                            <a class="asset-version" href="#">{{version}}</a>

                                        </li>

                                        <li>
                                            <h4>{{t "author"}}</h4>
                                            <a class="asset-author" href="#">{{attributes.overview_provider}}</a>

                                        </li>

                                    </ul>

                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        {{/slice}}
        {{else}}
            <div class="empty-assert">{{t "We couldn't find anything for you."}}</div>
        {{/if}}

    </div>
    <div class="loading-inf-scroll"></div>

</div>
