<script>
    var isSocial = ('{{features.social.enabled}}' == 'true');


</script>
<div class="asset-description padding-bottom-double ">
    <div class="asset-description-header">
        <div class="col-lg-12 white-bg left ">
            <h3>{{assets.name}}</h3>

            <div class="clear"></div>
            <hr>
        </div>
    </div>
    <div class="asset-details-header ">
        <!-- aset details -->
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-12 white-bg">
            <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-2 white-bg">

                {{#if api.thumbnailurl}}
                    <img src='{{api.thumbnailurl}}' class="img-responsive"/>
                {{else}}
                    <img src='{{url ""}}/extensions/assets/api/themes/store/imgs/api-default.png'
                         class="img-responsive"/>
                {{/if}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-8 ">
                <div class="col-lg-9">
                    <h4 class="margin-none">{{t "Your rating:"}}
                        <span class="asset-rating">
                            		<div style="width:{{ratingPx}}px"></div>
                    			</span></h4>

                    <p class="grey padding-none margin-none">{{t "Version"}} {{api.version}}</p>
                    <p class="grey padding-none margin-none">{{t "Status"}} {{status}}</p>
                    <p class="grey padding-none margin-none">{{t "Updated"}} {{api.updatedDate}}</p>
                    <p class="light-blue padding-none margin-none">{{t "by"}} <a><i class='icon-user'></i> {{api.provider}}</a></p>
                </div>

            </div>
        </div>
        <!-- end of asset details-->

    <!--<div class="white-bg asset-details-wrapper ">-->
        <!--<div class="white-bg padding-right-double padding-left-double">-->
            <!--<table class='table'>-->
                <!--<thead>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td><b>{{t "Rating"}}</b></td>-->
                    <!--<td>-->

                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><b>{{t "Version"}}</b></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><b>{{t "Status"}}</b></td>-->
                    <!--<td>{{status}}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><b>{{t "Updated"}}</b></td>-->
                    <!--<td>{{api.updatedDate}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->
    {{#if showSubscribe}}

        <div class='col-lg-12 border-top panel appStyleFix'>
            <div class="col-lg-2">
                <label><strong>Applications</strong></label>
                <select id='application-list' class="span12">
                    {{#unless subscribedToDefault}}
                        <option value="-">{{t "Select Application..."}}</option>
                    {{/unless}}
                    <option value="createNewApp">{{t "New Application..."}}</option>
                    <optgroup label="My Applications">
                        {{#each applications}}
                            <option value="{{id}}" {{#if selectedDefault}} selected {{/if}}>{{name}}</option>
                        {{/each}}
                    </optgroup>
                </select>
            </div>
            <div class="col-lg-2">
                <label><strong>Tiers</strong></label>
                <select id="tiers-list" name="tiers-list" class="span12">
                    {{#if tiers}}
                        {{#each tiers}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}{{/if}}
                </select>
            </div>
            <div class="col-lg-1">
                <div class="simple-space-maker">
                    <button onclick="triggerSubscribe()" id="subscribe-button"
                            class="btn btn-primary span12" {{#unless tiersAvailable}}
                            disabled="disabled" {{/unless}}>{{t "Subscribe"}}
                    </button>
                    {{#unless tiersAvailable}}
                        <span id="subsBtnDesc"
                              class="help-block">{{t "You may not be entitled to any of the available tiers"}}</span>
                    {{/unless}}

                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <input type="hidden" id="apiname" value="{{api.name}}">
    <input type="hidden" id="version" value="{{api.version}}">
    <input type="hidden" id="provider" value="{{api.provider}}">

  <div class="asset-properties margin-top-double float-left">
      <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#api-overview">{{t "Overview"}}</a></li>
          <li><a data-toggle="tab" href="#api-docs">{{t "Documentation"}}</a></li>
          <li><a data-toggle="tab" href="#swagger">{{t "API Console"}}</a></li>
          <li><a data-toggle="tab" href="#">{{t "Throttling Info"}}</a></li>
          <li><a data-toggle="tab" href="#">{{t "Forum"}}</a></li>
      </ul>
      <div class="tab-content">
          <div id="api-overview" class="tab-pane fade in active">
          {{> api_overview .}}
          </div>
          <div id="api-docs" class="tab-pane fade">{{t "Docs"}}
          </div>
          <div id="swagger" class="tab-pane fade">{{t "Swagger"}}
          </div>
      </div>
  </div>



  </div>
