<div id='application-table-data'>
    <table class='table table-bordered table-condensed '>
        <thead>
        <tr>
            <th>{{t "Name"}}</th>
            <th>{{t "Tier"}}</th>
            <th>{{t "Status"}}</th>
            <th>{{t "Callback URL"}}</th>
            <th>{{t "Description"}}</th>
            <th>{{t "Actions"}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each applications}}
            <tr id='tr-application-{{id}}-data'>
                <td>{{name}}</td>
                <td>{{tier}}</td>
                {{#each status}}
                    {{#if isActive}}
                        <td>ACTIVE</td>
                    {{else}}
                        <td>INACTIVE</td>
                    {{/if}}
                {{/each}}
                <td>{{callbackUrl}}</td>
                <td>{{description}}</td>
                <td class="text-center">
                    {{#each status}}
                        {{#if isActive}}
                            <a href="javascript:changeAppRowtoEditView('{{../../name}}','{{../../../cuser.username}}','{{../../id}}','{{../../tier}}','{{isActive}}','{{../../callbackUrl}}','{{../../description}}');"><i class='fa fa-edit'></i> {{t "Edit"}}</a>
                        {{/if}}
                    {{/each}}&nbsp;&nbsp;
                    <a href="javascript:removeApplication('{{name}}','{{../cuser.username}}','{{id}}');"><i class='fa fa-trash'></i> {{t "Delete"}}</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
