<!--
  ~ Copyright (c) 2014, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar">
    <div class="col-md-9 wr-action-container">
        <div class="wr-asset-type-switcher">
            <a id="popoverExampleTwo" data-placement="bottom" class="ctrl-asset-type-switcher pull-left" href="#" data-original-title="" title="">
                <span class="btn-asset"></span>
            </a>

            <div class="popover menu fade bottom in">
                <div class="arrow"></div>
                <div class="popover-content">
                    {{#with navigationBar}}
                        {{#each types}}
                            <a class="ast-type-item {{#if selected}} selected {{/if}}" href="{{tenantedUrl ""}}{{this.listingUrl}}">
                                {{#if value.icon}}
                                <div style="background-image:url({{url ""}}{{ui.icon}})"></div>
                                {{else}}
                                <i class="{{ui.icon}}"></i>
                                {{/if}}
                                {{singularLabel}}
                            </a>
                        {{/each}}
                    {{/with}}
                </div>
            </div>
        </div><! menu Button -->
        <div class="search">
            {{#with searchBar}}
                {{>search .}}
            {{/with}}
        </div><!--search--->
    </div>
    <div class="col-xs-5 col-sm-5 col-lg-3 top-menu-right-custom right margin-top-sm">
        <!--<div class="inline-block  margin-right"> <img src="/store/themes/store/img/icons/Notifications.png"></div>-->
        <!--<div class="inline-block margin-right"> <img src="/store/themes/store/img/icons/Settings.png"></div>-->
        <div class="inline-block">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <img src="/store/themes/store/img/icons/store-.png"></a>
            <ul class="dropdown-menu dropdown-account" role="menu" aria-labelledby="dLabel">
                <li class="uppercase"> <a href="{{url "/pages/my-items"}}">My Subscription</a></li>
                <li class="uppercase"> <a href="{{url "/pages/my-items"}}">My bookmarks</a> </li>
            </ul>
        </div>
    </div>
</div>
<!-- secondary header - app bar -->


<!--Need to delete these sections down-->
<div  style="display: none" id="content-asset-types">
    <div>
        {{#with navigationBar}}
            {{#each types}}
                <a class="ast-type-item" target="_self" href="{{tenantedUrl ""}}{{this.listingUrl}}">
                    {{#if value.icon}}
                        <div style="background-image:url({{url ""}}{{ui.icon}})">
                        </div>
                    {{else}}
                        <i class="{{ui.icon}}"></i>
                    {{/if}}
                    {{singularLabel}}
                </a>
            {{/each}}
        {{/with}}
    </div>
</div>