<div id="container-search" class="container">
	<div class="row">
		<div class="span12 search-bar">
			<div class="row-fluid">
				<div class="span9">
					<a href='{{url ""}}/asts/api/list' data-toggle="dropdown" class="dropdown-toggle">
					<li class="dropdown">
						<div class="dropdown-icon-cont">
								<i class="icon-cog"></i>
						</div>
						<span style='font-size:11px;'>{{t "APIs"}}</span>
					</li></a>
					<a href='{{url ""}}/asts/api/prototyped_apis' data-toggle="dropdown" class="dropdown-toggle">
					<li class="dropdown">
						<div class="dropdown-icon-cont">
								<i class="icon-cog"></i>
						</div>
						<span style='font-size:11px;'>{{t "Prototyped APIs"}}</span>
					</li></a>
					<a href='{{url ""}}/asts/api/my_applications' data-toggle="dropdown" class="dropdown-toggle">
					<li class="dropdown">
						<div class="dropdown-icon-cont">
								<i class="icon-briefcase"></i>
						</div>
						<span style='font-size:11px;'>{{t "My Applications"}}</span>
					</li></a>
					<a href='{{url ""}}/asts/api/my_subscriptions' data-toggle="dropdown" class="dropdown-toggle">
					<li class="dropdown">
						<div class="dropdown-icon-cont">
								<i class="icon-tag"></i>
						</div>
						<span style='font-size:11px;'>{{t "My Subscriptions"}}</span>
					</li></a>
					<a href='{{url ""}}/asts/api/forum' data-toggle="dropdown" class="dropdown-toggle">
					<li class="dropdown">
						<div class="dropdown-icon-cont">
								<i class="icon-cog"></i>
						</div>
						<span style='font-size:11px;'>{{t "Forum"}}</span>
					</li></a>
					<a href='{{url ""}}/asts/api/statistics' data-toggle="dropdown" class="dropdown-toggle">
					<li class="dropdown">
						<div class="dropdown-icon-cont">
								<i class="icon-signal"></i>
						</div>
						<span style='font-size:11px;'>{{t "Statistics"}}</span>
					</li></a>
					<a href='{{url ""}}/asts/api/tools' data-toggle="dropdown" class="dropdown-toggle">
					<li class="dropdown">
						<div class="dropdown-icon-cont">
								<i class="icon-wrench"></i>
						</div>
						<span style='font-size:11px;'>{{t "Tools"}}</span>
					</li></a>
				</div>
				<div class="span3">
				{{#with searchBar}}	
					{{>search .}}
				{{/with}}
				</div>
			</div>

		</div>

	</div>
</div>