{{#each prototyped_apis_list}}
        <div class="ctrl-wr-asset ">
            <div class="itm-ast">
                <a class="ast-img " href="{{tenantedUrl "/assets"}}/{{../prototyped_api_type}}/details/{{uuid}}">
                    {{> assets-thumbnail ..}}
                </a>
                <div class="ast-content">
                    <div class="ast-title padding">
                        <a class="ast-name truncate" href="{{tenantedUrl "/assets"}}/{{../prototyped_api_type}}/details/{{uuid}}" title="{{id.apiName}}">{{id.apiName}}</a>
                        <span class="ast-auth" title="{{id.providerName}}">{{id.providerName}}</span>
                        <span class="ast-ver">{{t "V"}}{{id.version}}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
{{/each}}