<!--Hidden keys
    The keys are hidden  till the user ticks the show keys checkbox
-->

<div class='form-group'>
	<label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Access Token</label>

	<div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
		<span class='badge badge-success'><span
				class='fa fa-lock'>&nbsp;&nbsp;click 'Show Keys' to view the key</span></span>
	</div>
</div>
<div class='form-group'>
	<label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>&nbsp;</label>

	<div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
		<button type='button' class='btn btn-primary btn-small' value='Regenerate Key'
		        id='btn-refresh-{{ environment }}-token'>
			<i class='fa fa-refresh'> </i> Re-generate Key
		</button>
	</div>
</div>

<div class="span12">
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle curlurl-genbtn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"
		    title="View cURL command to generate a token as an end user">
			cURL <span class="caret"></span>
		</button>

		<a class="icon-question-sign curlHelp_popup_prod"></a>
        <div id="curlProdtoken_help"></div>

		<ul class="dropdown-menu" role="menu" aria-labelledby="gencurl-menu">
			<li role="gencurl"><a role="menuitem" tabindex="-1" href="javascript:generateCurl( 'ctx1/1.0','password', 'prodCurl');">GrantType: Password</a></li>
			<li role="gencurl"><a role="menuitem" tabindex="-1" href="javascript:generateCurl('ctx1/1.0','client_credentials', 'prodCurl');">GrantType: Client Credentials</a></li>
		</ul>
	</div>
</div>

<div class="row-fluid curl-testurlp-wrapper">
	<div class="span12">
		<div class="editable-div-wrapper">
    		<div class="editable-div curl-testurl" id="prodCurl" data-value="<%=app.prodConsumerKey%>:<%=app.prodConsumerSecret%>" contenteditable="true"></div>
        		<div class="copybtn-wrapper">
        			<span class="curl-copyinfo">Copied!</span>
    				<button id="prodCurlCopy" data-clipboard-target="prodCurl" title="Copy to clipboard" class="curl-copybtn"><i class="fa fa-clipboard"></i></button>
    			</div>
			</div>
   		 </div>
	</div>
</div>

<div class='form-group'>
	<label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>&nbsp;</label>

	<div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
		{{#if isScopeAvailable}}
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scopePopup-{{ ../environment }}"
			        id="btn-select-{{ ../environment }}-scopes-view">
				Select Scopes
			</button>
			<div id="scopePopup-{{ ../environment }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">Select Scopes</h4>
						</div>
						<div class="modal-body">
							{{#each scopes}}
								<input type="checkbox" name="chk_group_{{ ../environment }}" value="{{scopeKey}}"
								       id="{{scopeKey}}" class="Checkbox_{{ ../environment }}" {{#if checked}}
								       checked {{/if}}> {{scopeName}} : {{scopeKey}}
								<br/>{{/each}}
						</div>

						<div class="modal-footer">
							<input class="btn btn-primary" data-dismiss="modal" type="button" id="scopeSelectButtonPop"
							       value="Select">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div id="scopePopup-{{ ../environment }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">Select Scopes</h4>
						</div>
						<div class="modal-body">
							{{#each scopes}}
								<input type="checkbox" name="chk_group_{{ ../environment }}" value="{{scopeKey}}"
								       id="{{scopeKey}}" class="Checkbox_{{ ../environment }}" {{#if checked}}
								       checked {{/if}}> {{scopeName}} : {{scopeKey}}
								<br/>
							{{/each}}
						</div>

						<div class="modal-footer">
							<input class="btn btn-primary" data-dismiss="modal" type="button" id="scopeSelectButtonPop"
							       value="Select">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						</div>
					</div>
				</div>
			</div>


		{{/if}}
	</div>
</div>
<div class='form-group'>
	<label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Token Validity</label>

	<div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
		<input type='text' class='form-control' id='input-{{ environment }}-validityTime' value="{{validityTime}}"/> Seconds
	</div>
</div>
<div class='form-group'>
	<label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Consumer Key</label>

	<div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
		<span class='badge badge-success'><span
				class='fa fa-lock'>&nbsp;&nbsp;click 'Show Keys' to view the key</span></span>
	</div>
</div>
<div class='form-group'>
	<label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Consumer Secret</label>

	<div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
		<span class='badge badge-success'><span
				class='fa fa-lock'>&nbsp;&nbsp;click 'Show Keys' to view the key</span></span>
	</div>
</div>
{{#if keyScopeExist}}
	<div class='form-group'>
		<label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Scopes</label>

		<div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
			<span class='badge badge-success input-xlarge'>{{keyScopeValue}}</span>
		</div>
	</div>
{{/if}}

