<!--
Subscription listing page
-->
<div class='row-fluid'>
    <legend>{{t "Subscribed APIs "}}</legend>
</div>
<div class="row-fluid">{{#each subscriptions}}
    <div class="span3 asset">
        <div class="asset-icon">
            <img src="{{thumburl}}"/>
        </div>
        <div class="asset-details">
            <div class="asset-name">
                {{name}} - {{version}}
            </div>
            <small>{{provider}}<br/>
                {{tier}} Subscription</small>
        </div>
    </div>
{{/each}}
</div>