<!--
Subscription listing page
-->

<br/><br/>
<legend>{{t "Subscribed APIs "}}</legend>
<div id="assets-container" data-pages="{{pages}}">
    {{#if isDataNotAvailable}}
        <fieldset>
            <span class='help-block'>Please subscribe to APIs to view subscribed APIs</span>
        </fieldset>
    {{else}}
        <section>
            {{#each subscriptions}}
                <div class="ctrl-wr-asset">
                    <button title="Delete Subscription" type="button" class="close btn-del-sub"
                            onclick="removeAPISubscription('{{name}}','{{version}}','{{provider}}');
                                    return false;"><i class="fa fa-trash"></i> </button>
                    <div class="itm-ast">
                        <a class="ast-img " href="javascript:getAPIUrl('{{provider}}','{{name}}','{{version}}');" >
                            {{#if thumburl}}
                                <img src='{{url ""}}/storage/api/{{artifactId}}/{{thumburl}}'>
                            {{else}}
                                <img src='{{url ""}}/extensions/assets/api/themes/store/imgs/api-default.png'>
                            {{/if}}
                        </a>
                        <div class="ast-content">
                            <div class="ast-title padding">
                                <a class="ast-name truncate" href="javascript:getAPIUrl('{{provider}}','{{name}}','{{version}}');">{{name}}</a>
                                <span class="ast-auth">{{provider}}</span>
                                <span class="ast-auth">{{tier}}{{t " Subscription"}}</span>
                            </div>
                            <div class="pull-left asset-rating-container">
                        <span class="asset-rating">

                        </span>
                            </div>
                            <div class="pull-right">

                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </section>
    {{/if}}
</div>
<div class="loading-inf-scroll">

</div><div class="loading-inf-scroll"></div>