<!--Visible keys
    The view displays all the keys
-->
<div class='form-group'>
    <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Access Token</label>
    <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
        <span class='badge badge-success input-xlarge'>{{accessToken}}</span>
    </div>
</div>
<div class='form-group'>
    <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>&nbsp;</label>
    <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
        <button type='button' class='btn btn-primary btn-small' value='Regenerate Key'
                id='btn-refresh-{{ environment }}-token'>
            <i class='fa fa-refresh'> Re-generate Key</i>
        </button>
    </div>
</div>
<div class='form-group'>
    <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>&nbsp;</label>
    <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
       {{#if isScopeAvailable}}
                       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scopePopup-{{ ../environment }}" id="btn-select-{{ ../environment }}-scopes-view">
                                                  Select Scopes
                                                 </button>
                                                   <div id="scopePopup-{{ ../environment }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                                                       <div class="modal-dialog">
                                                                       <div class="modal-content">
                                                                       <div class="modal-header">
                                                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                       <h4 class="modal-title" id="myModalLabel">Select Scopes</h4>
                                                                       </div>
                                                                       <div class="modal-body">
                                                                       {{#each scopes}}
                                                                       <input type="checkbox" name="chk_group_{{ ../environment }}" value="{{scopeKey}}" id="{{scopeKey}}" class="Checkbox_{{ ../environment }}" {{#if checked}} checked {{/if}}> {{scopeName}} : {{scopeKey}}
                                                                       <br/>{{/each}}
                                                                       </div>

                                                                       <div class="modal-footer">
                                                                       <input class="btn btn-primary" data-dismiss="modal" type="button" id="scopeSelectButtonPop" value="Select">
                                                                       <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                                                       </div>
                                                                      </div>
                                                                      </div>
                                                               </div>
                                                     <div id="scopePopup-{{ ../environment }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                                                                                     <div class="modal-dialog">
                                                                                                     <div class="modal-content">
                                                                                                     <div class="modal-header">
                                                                                                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                                                     <h4 class="modal-title" id="myModalLabel">Select Scopes</h4>
                                                                                                     </div>
                                                                                                     <div class="modal-body">
                                                                                                     {{#each scopes}}
                                                                                                     <input type="checkbox" name="chk_group_{{ ../environment }}" value="{{scopeKey}}" id="{{scopeKey}}" class="Checkbox_{{ ../environment }}" {{#if checked}} checked {{/if}}> {{scopeName}} : {{scopeKey}}
                                                                                                     <br/>{{/each}}
                                                                                                     </div>

                                                                                                     <div class="modal-footer">
                                                                                                     <input class="btn btn-primary" data-dismiss="modal" type="button" id="scopeSelectButtonPop" value="Select">
                                                                                                     <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                                                                                     </div>
                                                                                                    </div>
                                                                                                    </div>
                                                   </div>



                   {{/if}}
    </div>
</div>
<div class='form-group'>
    <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Token Validity</label>
    <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
        <input type='text' class='form-control' id='input-{{ environment }}-validityTime' value='{{validityTime}}'/> Seconds
    </div>
</div>
<div class='form-group'>
    <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Consumer Key</label>
    <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
        <span class='badge badge-success input-xlarge'>{{consumerKey}}</span>
    </div>
</div>
<div class='form-group'>
    <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Consumer Secret</label>
    <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
        <span class='badge badge-success input-xlarge'>{{consumerSecret}}</span>
    </div>
</div>
{{#if keyScopeExist}}
<div class='form-group'>
    <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Scopes</label>
    <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
        <span class='badge badge-success input-xlarge'>{{keyScopeValue}}</span>
    </div>
</div>
{{/if}}





