<!-- Domain token view
The view is used to display the domain details
-->
{{#if isDataNotAvailable}}
    <div class='form-group'>
        <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>&nbsp;</label>
        <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
            <span class='help-block'>Please subscribe to APIs to view domain information</span>
        </div>
    </div>
{{else}}
    <div class='form-group'>
        <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Allowed Domains</label>
        <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
            <textarea class='form-control' id='input-{{ environment }}-allowedDomains'>{{allowedDomains}}</textarea>
            <span class='help-block flt-spn'>Leaving empty or filling with ALL will allow all domains</span>
        </div>
    </div>
    <div class='form-group'>
        <label class='custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12'>Token Validity</label>
        <div class='custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12'>
            <input type='text' class='form-control' id='input-{{ environment }}-validityTime' value='{{validityTime}}'/><span class="flt-spn"> Seconds</span>
        </div>
    </div>
{{/if}}
