<div>

    <div class='row-fluid'>
        <legend>Keys {{environment}}</legend>
    </div>
    <div class='row-fluid'>
        <div class='span7 well'>

            <!--View # 1: Token generation view -->
            <form>
                <fieldset>
                    <span class='help-block'>{{environment}} keys are not yet generated for this app </span>
                    <input type='button' class='btn btn-primary' value='Generate '/>
                </fieldset>
            </form>


            <!--View # 2: Keys view-->

            <!--form>
                <fieldset>
                    <h5>Access Token</h5>
                    <span class='badge badge-success input-xlarge'><span class='icon-lock icon-white'> Click Show keys</span></span>
                </fieldset>
            </form>

            <form class='form form-inline'>
               <button type='button' class='btn btn-primary btn-small' value='Regenerate Key' >
               <i class='icon-refresh'> Regenerate Key</i>
                </button>
               <label> {{t "Token Validity"}}</label>
               <input type='text' class='input input-small'/>
               <label> seconds </label>
            </form>
            <form>
                  <fieldset>
                      <h5>{{t "Consumer Key"}}</h5>
                      <span class='badge badge-success input-xlarge'><span class='icon-lock icon-white'> Click Show keys</span></span>

                      <h5>{{t "Consumer Secret"}}</h5>
                      <span class='badge badge-success input-xlarge'><span class='icon-lock icon-white'> Click Show keys</span></span>

                  </fieldset>
            </form-->

        </div>

        <div class='span5 well'>

            <form>
                <fieldset>
                    <h5>{{t "Allowed Domains"}}</h5>
                    <textarea class='input-xlarge'></textarea>
                    <span class='help-block'>{{t "Leaving empty or filling with ALL will allow all domains"}}</span>
                </fieldset>
            </form>

            <!--View # 1: Token data-->
            <h5>Token Validity</h5>
            <form class='form form-inline'>
                <fieldset>
                    <input type='text' class='input-small' />
                    <label>{{t "seconds"}}</label>
                </fieldset>
            </form>

            <!--View # 2: Update domain button -->
            <!--form>
                <fieldset>

                    <input type='button' class='btn btn-primary btn-block' value='Update Domains'>
                </fieldset>
            </form-->


        </div>

    </div>

</div>