<script src="{{url "/extensions/assets/api/themes/store/js/swagger/lib/jquery-1.11.1.min.js"}}"></script>
<div id="authorizations" class="">
    <form class="form-horizontal">
{{#if subscriptions}}
<div class="control-group"  style="margin-bottom:10px;">

        <div class="controls form-inline">
	<label class="label-align" for="inputEmail">Try</label>
          <select id="sub_app_list" class="inline">
          {{#each subscriptionsList}}
            <option value="{{application}}" data-sandbox="{{SANDBOX_KEY}}"
                   data-production="{{PRODUCTION_KEY}}">{{application}}
            </option>
          {{/each}}
          </select>
          <label class="label-align"> Using </label>
          <select id="key_type">
            <option value="production">Production</option>
            <option value="sandbox">Sandbox</option>
          </select>
          <label class="label-align"> Key </label>
          <label id="OnEnvironment"> On Environment</label>
          <select id="environment_name">
          <option value="Production and Sandbox" class="hybrid" >Production and Sandbox</option>

            </select>
          <!--label> Environment. </label-->
        </div>
      </div>
{{else}}
{{#if anonymous}}
    <div class="alert alert-info" style="margin-bottom:10px">
    <i class="fa fa-info"></i> &nbsp;&nbsp; Please subscribe to the API to generate an access token. If you already have an access token please provide it bellow.
    </div>
{{ else }}
    <div class="alert alert-info" style="margin-bottom:10px">
    <i class="fa fa-info"></i> &nbsp;&nbsp;You require an access token to try the API. Please login and subscribe to API to generate an access token. If you already have an access token please provide it bellow.
    </div>
{{/if}}
{{/if}}
    <div class="alert hide notoken">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> Selected application do not have an access token for selected environment. Please go to subscription page and generate an access token first.
    </div>

      <div class="control-group" style="margin-top:10px; margin-bottom:0px;font-weight:bolder;">
        <label class="control-label" for="inputKey">Set Request Header </label>
        <div class="controls form-inline">
          <div class="input-prepend">
          <span class="add-on">Authorization : Bearer </span>
          <input type="text" id="access_token" name="access_token" placeholder="Access Token" class="input-xxlarge" onkeypress="return checkOnKeyPress(event)">
          </div>
        </div>
      </div>
    </form>
</div>



<div class="swagger-section">
<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
<div id="Download" style="float:right;font-size:14px"><a href='{{swaggerAPI}}' target="_blank" class="swagger" ><i class="icon-share-alt" ></i> Swagger ( /swagger.json )</a></div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</div>
