<div id="swagger-ui-container"></div>
<body>
<table class="table table-bordered table-striped" id="resourceTable">
	<thead>
	<tr>
		<th>{{t locale.urlPrefix}}</th>
		<th>{{t locale.urlPattern}}</th>
		<!--Throttling fix-->
		<th style="width:290px;">{{t locale.throttlingLimit}}</th>
		<!--Throttling fix-->
	</tr>
	</thead>
	<tbody>
	<tr id="resourceRow" style="display:none;">
		<td><span class="contextForUrl">/{context}/{version}</span></td>
		<td>
			<input type="text" class="input resourceTemplate" style="width:95%" name="resourceTemplate"/>
		</td>
	{{#each templateRepresentation}}
		<tr id="item-<%=String(i)%>" class="resourceRow">
			<td><span id="contextForUrlDefault">{{../api.context}}</span></td>
			<td><span id="contextForUrlDefault1">{{this.templateName}}</span></td>
			<td id="throttlingTierList">
				{{#each this.tierLimitDescriptions}}
					{{this.description}}</br>
				{{/each}}</td>
		</tr>
	{{/each}}
</table>
</body>
