<div>
    {{#if features.social.enabled}}
        <iframe name="socialIfr" id="socialIfr"
                src="{{features.social.keys.socialAppUrl}}?target={{rxt.shortName}}:{{assets.id}}&user={{cuser.username}}"
                width="100%" height="100%" style="height: 300px;"
                data-script="{{features.social.keys.socialScriptSource}}"
                data-script-type="{{features.social.keys.socialScriptType}}"></iframe>
    {{/if}}
    {{#if inDashboard}}
        <div id="comment-content" class="content"></div>
    {{else}}
        <div id="comment-content" class="content user-review"></div>
    {{/if}}
</div>
