<div>
    <iframe width="1300" height="500" src="{{features.social.keys.socialAppUrl}}?target={{rxt.shortName}}:{{assets.id}}&user={{cuser.username}}&urlDomain={{features.social.keys.urlDomain}}" frameborder="0" allowfullscreen></iframe>
</div>