<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 col-md-height col-sm-middle col-lg-top"
     id="api-thumbnail">
    <div class="white-wrapper details-wrapper">
        <div class="thumbnail icon">
            <div class="square-element setbgcolor">
                <div class="api-name-icon"></div>
                <div style="display: none">
                    <a href="" title="api name" class="api-name">{{@params.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-md-height col-md-top">
    <div class="white-wrapper">
        <div class="api-details-container">
            <div class="add-padding-4x">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 control-label"><strong>{{i18n "Version"}}:</strong></label>

                        <div class="col-xs-8 col-sm-8">
                            <p class="form-control-static">{{@params.version}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 control-label"><strong>{{i18n "By"}}:</strong></label>

                        <div class="col-xs-8 col-sm-8">
                            <p class="form-control-static">{{@params.provider}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 control-label"><strong>{{i18n "Updated"}}:</strong></label>

                        <div class="col-xs-8 col-sm-8">
                            <p class="form-control-static">24/May/2017 18:04:17 PM IST</p>
                        </div>
                    </div>
                    {{#if @params.isStandardAPI}}
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-4 control-label"><strong>{{i18n "Status"}}:</strong></label>

                            <div class="col-xs-8 col-sm-8">
                                <p class="form-control-static"><span
                                        class="label label-primary">{{@params.lifeCycleStatus}}</span></p>
                            </div>
                        </div>
                    {{/if}}
                    {{#if @params.rating}}
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-4 control-label"><strong>{{i18n "Rating"}}:</strong></label>

                            <div class="col-xs-5 col-sm-5">
                                <p class="form-control-static">
                                    <input type="hidden" class="rating-tooltip-manual rate_save"
                                           value=""/>
                                    <a class="remove_rating" title="remove rates"><i class="fw fw-error"
                                                                                     style="font-size:11px;"></i></a>
                                </p>
                            </div>
                        </div>
                    {{/if}}
                    {{#unless @params.isStandardAPI}}
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-4 control-label"><strong>{{i18n "Application"}}:</strong></label>

                            <div class="col-xs-8 col-sm-8">
                                <p class="form-control-static"><a class="" href="{{@contextPath}}/applications/{{@params.applicationId}}">{{i18n "Go to Application"}}</a></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-4 col-sm-4 control-label"><strong>{{i18n "Implementation"}}:</strong></label>
                            <div class="col-xs-8 col-sm-8">
                                    <a href="http://localhost:9091" target="_blank" class="btn btn-info" >Open Editor</a>
                            </div>
                        </div>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</div>

