<nav class="navigation">
    <ul>

        <li class="purple active"><a title="APIs" href="{{@contextPath}}/apis"><i class="fw fw-api icon"></i><span class="left-menu-item ">APIs</span></a></li>
        <li class="green"><a title="Applications" href="{{@contextPath}}/applications" class="link-myapplications"><i class="fw fw-application icon"></i><span class="left-menu-item">Applications</span></a></li>

        <li class="orange"><a title="forum" href="{{@contextPath}}/forum"><i class="fw fw-forum icon"></i><span class="left-menu-item">Forum</span></a></li>

        <li class="yellow"><a title="Statistics" href="{{@contextPath}}/statistic/apiUsage" class=""><i class="fw fw-statistics icon"></i><span class="left-menu-item">Statistics <i class="fw fw-down fw-stack-1x toggle-icon-up remove-float"></i></span></a>
            <ul class="sublevel-menu">
                <li><a title="API Usage" href="{{@contextPath}}/statistic/apiUsage" class=""><i class="fw fw-api icon"></i><span class="name">API Usage</span></a></li>
                <li><a title="Top Users" href="{{@contextPath}}/statistic/topUsers" class=""><i class="fw fw-api icon"></i><span class="name">Top Users</span></a></li>
                <li><a title="Resource Usage" href="{{@contextPath}}/statistic/apiCallType" class=""><i class="fw fw-api icon"></i><span class="name">Resource Usage</span></a></li>
                <li><a title="Faulty Invocations" href="{{@contextPath}}/statistic/faultCount" class=""><i class="fw fw-api icon"></i><span class="name">Faulty Invocations</span></a></li>
                <li><a title="Manage Alert Types" href="{{@contextPath}}/statistic/manage" class=""><i class="fw fw-notification icon"></i><span class="name">Manage Alert Types</span></a></li>
            </ul>
        </li>
        <li class="blue"><a title="Composite APIs" href="{{@contextPath}}/composite-apis"><i class="fw fw-endpoint icon"></i><span class="left-menu-item">Composite APIs</span></a></li>

    </ul>
</nav>