<tr role="row" class="odd">
    <td class="sorting_1">
        <a title="applications"
           href="/store/application/{{name}}/">{{name}}</a>
    </td>
    <td>{{tier}}</td>
    <td>{{status}}</td>
    <td>{{subscriptions}}</td>
    <td>
        <a title="View" href="/store/application/DefaultApplication"
           class="btn  btn-sm padding-reduce-on-grid-view">
      <span class="fw-stack">
          <i class="fw fw-ring fw-stack-2x"></i>
          <i class="fw fw-view fw-stack-1x"></i>
      </span>
            <span class="hidden-xs">View</span>
        </a>
        <a title="Edit" href="/store/application/edit"
           class="btn  btn-sm padding-reduce-on-grid-view">
      <span class="fw-stack">
          <i class="fw fw-ring fw-stack-2x"></i>
          <i class="fw fw-edit fw-stack-1x"></i>
      </span>
            <span class="hidden-xs">Edit</span>
        </a>
        <a title="Delete" href="#" data-id="DefaultApplication" data-count="1"
           class="btn btn-sm padding-reduce-on-grid-view deleteApp">
      <span class="fw-stack">
          <i class="fw fw-ring fw-stack-2x"></i>
          <i class="fw fw-delete fw-stack-1x"></i>
      </span>
            <span class="hidden-xs">Delete</span>
        </a>
    </td>
</tr>