<div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 col-md-height col-md-top">

    <form class="form-api-subscription add-padding-4x">

        <div class="form-group">
            <label for="application-list">Applications</label>
            <select id="application-list" class="form-control">
                {{#unless isSubscribedToDefault}}
                    <option value="-">Select Application...</option>
                {{/unless}}
                <option value="createNewApp">New Application...</option>
                <optgroup label="My Applications">
                    {{#each applications}}
                        {{#if isDefault}}
                            <option selected value="{{id}}">{{name}}</option>
                        {{else}}
                            <option value="{{id}}">{{name}}</option>
                        {{/if}}
                    {{/each}}
                </optgroup>
            </select>
        </div>
        <div class="form-group">
            <label for="tiers-list" class="hidden-xs">Tiers</label>
            <select id="tiers-list" name="tiers-list" class="form-control">
                {{#each tiers}}
                    <option title="<%= tierDisplayName%>"
                            data-content="<span><strong><%= tierDisplayName %></strong><br /><%=tiersList[j].tierDescription%></span>"
                            value="<%=tier%>"><%=tierDisplayName%>
                    </option>
                {{/each}}
            </select>

        </div>
        <button type="button" onclick="triggerSubscribe()" id="subscribe-button"
                {{#unless tiers}}
                disabled="disabled"
                {{/unless}}
                class="btn btn-primary btn-mobile">
                                    <span class="icon fw-stack">
                                        <i class="fw fw-subscribe fw-stack-1x"></i>
                                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                                    </span>
            Subscribe
            {{#unless tiers}}
                <span id="subsBtnDesc" class="help-block">You may not be entitled to any of the available tiers</span>
            {{/unless}}
        </button>
    </form>

</div>