{{layout "main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Applications | " @config.appName}}
{{js "js/main.js"}}
{{js "js/left-navigation.js"}}
{{js "js/script.js"}}
{{js "js/common.js"}}
{{js "js/application/view/application-view.js"}}
{{css "css/custom.css"}}
{{#fillZone "contentTop"}}
    <!-- navbar -->
    <div class="navbar-wrapper ">
        <nav class="navbar navbar-default" data-spy="affix" data-offset-top="50" data-offset-bottom="40">
            <a class="navbar-menu-toggle hidden-sm hidden-lg hidden-md" title="left-sidebar" data-toggle="sidebar"
               data-target="#left-sidebar" data-container=".page-content-wrapper" data-container-divide="true"
               aria-expanded="false" rel="leftmenu-sidebar">
                        <span class="icon fw-stack">
                            <i class="fw fw-menu fw-stack-1x toggle-icon-cancel"></i>
                        </span>
            </a>

            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a title="Applications List" href="/store/application/">
                                   <span class="icon fw-stack">
	                                    <i class="fw fw-left fw-stack-1x"></i>
	                                    <i class="fw fw-circle-outline fw-stack-2x"></i>
                                   </span>
                                Application List
                            </a>
                        </li>
                        <li>
                            <a title="Applications List" href="/store/application/edit">
                                   <span class="icon fw-stack">
	                                    <i class="fw fw-edit fw-stack-1x"></i>
	                                    <i class="fw fw-circle-outline fw-stack-2x"></i>
                                   </span>
                                Edit
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>
{{/fillZone}}
{{#fillZone "content"}}
    <div id="details"></div>
    <input type="hidden" id="appid" value="{{id}}">
{{/fillZone}}