<div class="api-documentation panel-group accordion" role="tablist">
    {{#each documentations}}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{@index}}" data-toggle="collapse" data-parent=".accordion"
                 href="#accordion1-collapse{{@index}}" aria-expanded="true"
                 aria-controls="accordion1-collapse{{@index}}">
                <h4 class="panel-title">
                    <label class="radio">
						<span class="fw-stack">
					    	<i class="fw {{this.icon}} fw-stack-2x"></i>
					    </span>
                    </label>

                    <div>
                        <div class="heading no-description">{{this.typeName}}</div>
                        <div class="status">
                            <i class="fw fw-down"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </h4>
            </div>
            <div id="accordion1-collapse{{@index}}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="heading{{@index}}">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-2">Name</th>
                            <th class="col-md-8">Summary</th>
                            <th class="col-md-2"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each this}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.summary}}</td>
                                <td>
                                    {{#if this.isURL}}
                                        <a href="{{this.sourceUrl}}" title="URL Documentation" class="doc-content"
                                           target="_blank">{{this.sourceUrl}}</a>
                                    {{/if}}
                                    {{#if this.isFile}}
                                        <a href="{{this.sourceUrl}}" title="File Documentation" class="doc-content"
                                           target="_blank">Download</a>
                                    {{/if}}
                                    {{#if this.isInLine}}
                                        <a href="/store/apis/{{../../api.id}}/documents/{{this.documentId}}" title="Inline Documentation" class="doc-content"
                                           target="_blank">View Content</a>
                                    {{/if}}
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {{/each}}
</div>
