<div class="row">
    <div class="add-margin-3x white-wrapper">

        <ul class="nav nav-tabs" role="tablist">
            {{#each tabList}}

                <li {{#if this.tabClass}} class="{{this.tabClass}}" {{else}} class="" {{/if}}id="{{@index}}">
                    <a data-toggle="tab" title="{{this.title}}" href="#{{this.id}}" onclick="setLocalStorageValue()">{{this.title}}</a>
                </li>
            {{/each}}
        </ul>

        <div class="tab-content">
         {{#each tabList}}
            <div class="tab-pane fade {{#if this.contentClass}} {{this.contentClass}}{{/if}}" id="{{this.id}}"></div>
         {{/each}}
        </div>
    </div>
</div>