<label for="tiers-list" class="hidden-xs">Tiers</label>
<select id="tiers-list" name="tiers-list" class="form-control">
    {{#each api.tiers}}
        <option title="{{tier}}"
                data-content="<span><strong>{{this}}</strong><br />{{this}}</span>"
                value="{{this}}">{{this}}
        </option>
    {{/each}}
</select>