{{js "js/create.js"}}
{{css "css/create.css"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header" id="apiTitleContainer">
                <h2>Add New API</h2>
            </div>
            <div class="col-md-10" data-toggle="loading" data-loading-style="overlay"
                 data-loading-text="Creating API ..." data-loading-inverse="true">
                <!-- Name version context input fields-->
                <div class="row basic-inputs ">
                    <div class="col-xsm-12 col-lg-4">
                        <div class="input-group input-wrap res-wrap">
                            <label class="control-label">Name</label><span class="requiredAstrix">*</span>
                            <input id="new-api-name" type="text" class="form-control" placeholder="MyAPIName"
                                   required>
                        </div>
                    </div>
                    <div class="col-xsm-12 col-lg-4">
                        <div class="input-group input-wrap res-wrap">
                            <label class="control-label">Context</label><span class="requiredAstrix">*</span>
                            <input id="new-api-context" type="text" class="form-control"
                                   placeholder="APIContext"
                                   required>
                        </div>
                    </div>
                    <div class="col-xsm-12 col-lg-4">
                        <div class="input-group input-wrap res-wrap">
                            <label class="control-label">Version</label><span class="requiredAstrix">*</span>
                            <input id="new-api-version" type="text" class="form-control" placeholder="1.0.0"
                                   required>
                        </div>
                    </div>
                </div>

                <!-- Tab view for different api input methods -->
                <div class="row add-padding-top-5x">
                    <h4>Implementation Method</h4>
                    <div class="col-xs-3"> <!-- required for floating -->
                        <!-- Nav tabs -->
                        <form class="form-horizontal" id="implementation-option-form">
                            <ul class="impl-selection">
                                <li class="active">
                                    <label class="radio apim-pub-new-api">
                                        <input type="radio" name="implementation-options" value="endpoint-option"
                                               checked="checked" data-tab="endpointTab">
                                        <span class="helper">Endpoint</span>
                                    </label>
                                </li>
                                <li class="">
                                    <label class="radio apim-pub-new-api no-border">
                                        <input type="radio" name="implementation-options" value="swagger-option"
                                               data-tab="swaggerTab">
                                        <span class="helper">Import Swagger</span>
                                    </label>
                                </li>
                                <li class="">
                                    <label class="radio apim-pub-new-api no-border">
                                        <input type="radio" name="implementation-options" value="mock-option"
                                               data-tab="mockTab">
                                        <span class="helper">Mock</span>
                                    </label>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="col-xs-9 impl-content">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="endpointTab">
                                    {{fragment "org.wso2.carbon.apimgt.publisher.commons.ui.api-endpoint-create"}}
                            </div>
                            <div class="tab-pane" id="swaggerTab">
                                <form class="form-horizontal sub-implementation-option" id="swagger-option-form">
                                    <div class="form-group">
                                        <div class="col-sm-12 toggleRadios">
                                            <label class="radio sub-labels urlSelect-label"> <input
                                                    type="radio"
                                                    checked="checked"
                                                    name="import-definition"
                                                    value="swagger-url">
                                                <span
                                                        class="helper">Swagger URL</span>
                                            </label>
                                            <label class="radio sub-labels">
                                                <input type="radio"
                                                       name="import-definition"
                                                       id=""
                                                       value="swagger-file"> <span
                                                    class="helper">Swagger File</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group toggleContainers">
                                        <div class="controls col-sm-12">
                                            <div>
                                                <input name="swagger-url" id="swagger-url" class="form-control"
                                                       title="swagger url"
                                                       type="text"
                                                       checked="checked"
                                                       placeholder="http://petstore.swagger.io/v2/swagger.json">
                                            </div>
                                        </div>
                                        <div class="controls col-sm-12">
                                            <div class="input-group input-wrap file-upload-control hidden">
                                                <input type="text" placeholder="Click on brows to add a file" class="form-control" readonly="">
                                                <input name="swagger-file" id="swagger-file" type="file" class="form-control" multiple=""/>
                                                <div class="input-group-btn">
                                                    <button class="btn browse" type="button" title="Browse File">
                                                        <i class="fw fw-file-browse" aria-hidden="true"></i>
                                                        <span class="hidden-xs">Browse</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="mockTab"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--Advanced Settings-->
                <a href="#" id="api-create-advanced"><h4><i class="fw fw-gadget"></i>&nbsp;{{i18n "Advanced.Options"}}</h4></a>
                <div class="row add-padding-top-5x" id="api-create-advanced-div" style="display: none;">
                    <h4>{{i18n "API.Permissions"}}</h4>
                    <div class="col-xs-3"> <!-- required for floating -->
                        <!-- Nav tabs -->
                        <form class="form-horizontal" id="api-creation-advanced-form">
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3" for="role-name">
                                    {{i18n "Role"}} :
                                </label>
                                <div class=" col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               id="role-name"
                                               placeholder="role name">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary add-role" type="button">{{i18n "Add"}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <form class="form-horizontal" id="role-list">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="set-permissions-list">
                                    <div class="well">
                                        <p>{{i18n "Role.permissions.for.API"}}</p>
                                        <div class="message message-info" id="no-roles-msg">
                                            <p><i class="icon fw fw-info"></i>&emsp;{{i18n "No.roles.added."}}</p>
                                        </div>
                                        <div class="input-group hide" id="permission-div">
                                            <label class="permission-options">
                                            </label>
                                            <input type="checkbox" value="READ">&nbsp;{{i18n "Read"}} &nbsp; &nbsp;
                                            <input type="checkbox" value="UPDATE">&nbsp;{{i18n "Update"}} &nbsp; &nbsp;
                                            <input type="checkbox" value="DELETE">&nbsp;{{i18n "Delete"}} &nbsp; &nbsp; &nbsp;
                                            &emsp;
                                            <span class="fw fw-delete delete-role"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- Button -->
                <hr/>
                <button id="api-create-submit" class="btn btn-primary" data-resource-path="/apis" data-resource-method="post" data-toggle="modal"
                        data-target="#myModal2">Create API
                </button>
            </div>
        </div>
    </div>
</div>