<div class="form-group">
    <label class="control-label col-md-3 col-lg-3" for="application-name">Name<span
            class="requiredAstrix">*</span></label>

    <div class="col-md-9 col-lg-9">
        <input type="text" class="form-control required validateSpecialChars validName"
               title="Application Name" id="application-name" autofocus="autofocus" value="{{application.name}}"/>
    </div>
</div>
<div class="form-group">

    <label class="col-md-3 col-lg-3 control-label" for="appTier">Per Token Quota</label>
    <div class="col-md-9 col-lg-9">
        <select id="appTier" name="appTier" onChange="tierChanged(this)">
            {{#each appTiers}}
                <option title={{ name }} value={{ name }}> {{ name }} {{ description }}</option>
            {{/each}}
        </select>
        <div id="tierHelpStr" class="help-block" style="padding-left: 10px; display: inline;">
            <em>Allows unlimited requests</em>
        </div>
        <div class="help-block"> This feature allows you to assign an API request quota per access token.
            Allocated quota will be shared among all the subscribed APIs of the application.
        </div>
        <input type="hidden" id="tierDescriptions" name="tierDescriptions"
               value="Allows unlimited requests,Allows 50 request per minute,Allows 20 request per minute,Allows 10 request per minute"/>
    </div>
</div>
<div class="form-group">
    <label for="description" class="col-md-3 col-lg-3 control-label">Description</label>
    <div class="col-md-9 col-lg-9">
        <textarea id="description" class="form-control" type="text" rows="3">{{application.description}}</textarea>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        <input type="submit" id="application-edit-button" class="btn btn-primary" onclick="jagg.sessionAwareJS({redirect:'/site/pages/applications.jag'})" value="Update"/>
        <a title="Cancel" href="<%= jagg.urlTenanted("/site/pages/application.jag?name="+request.getParameter("name")) %>" class="btn btn-default">Cancel</a>
    </div>
</div>
<input type="hidden" id="application-name-old" value="<%= encode.forHtmlAttribute(app.name)%>"/>