{{layout "org.wso2.carbon.apimgt.publisher.commons.ui.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Home | " @config.appName}}
{{css "css/portal.css"}}
{{css "css/asset.css"}}
{{#fillZone "content"}}
    <h1>WelCome to Admin Portal</h1>
{{/fillZone}}