{{layout "main"}}
{{title @config.appName " - "apiId}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.uuf-client"}}
{{fragment "api-doc-client"}}
{{fragment "action-buttons"}}
{{js "js/main.js"}}
{{js "js/left-navigation.js"}}
{{js "js/script.js"}}
{{js "js/common.js"}}
{{js "js/apis/api-id/index.js"}}
{{js "js/apis/subscribe.js"}}
{{css "css/custom.css"}}
{{#fillZone "contentTop"}}
    {{fragment "back-nav-bar"}}
{{/fillZone}}
{{#fillZone "content"}}
    <input type="hidden" id="apiId" value="{{apiId}}"/>
    <div class="page-header">
        {{defineZone "api-header"}}
    </div>
    <div class="page-content">
        <div class="row">
            <div class="row-height">
                {{defineZone "api-info"}}
                {{defineZone "api-subscribe"}}
            </div>
        </div>
        <div class="row" id="tab-list">

        </div>
    </div>
{{/fillZone}}