{{layout "main"}}
{{title @config.appName " - "apiId}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.uuf-client"}}
{{fragment "api-doc-client"}}
{{js "js/main.js"}}
{{js "js/left-navigation.js"}}
{{js "js/script.js"}}
{{js "js/common.js"}}
{{js "js/apis/{apiId}/index.js"}}
{{js "js/apis/subscribe.js"}}
{{css "css/custom.css"}}
{{#fillZone "contentTop"}}
    {{fragment "back-nav-bar"}}
{{/fillZone}}
{{#fillZone "content"}}
    <input type="hidden" id="apiId" value="{{apiId}}"/>
    <div class="page-header">
        {{defineZone "api-header"}}
    </div>
    <div class="page-content">
        <div class="row">
            <div class="row-height">
                {{defineZone "api-info"}}
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 col-md-height col-md-top">
                    <form class="form-api-subscription add-padding-4x">
                        {{defineZone "application-list"}}
                        {{defineZone "tier-list"}}
                    </form>
                </div>
            </div>
        </div>
        <div class="row" id = "tab-list">

        </div>
    </div>
{{/fillZone}}