{{layout "main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Listing | " @config.appName}}
{{js "js/main.js"}}
{{js "js/left-navigation.js"}}
{{js "js/script.js"}}
{{js "js/common.js"}}
{{js "js/apis/{apiId}.js"}}
{{js "js/apis/documents/document-download.js"}}
{{css "css/custom.css"}}
{{#fillZone "contentTop"}}
    {{fragment "searchBar"}}
{{/fillZone}}
{{#fillZone "content"}}
    <input type="hidden" id="apiId" value="{{apiId}}"/>
    <div class="page-header">
    </div>
    <div class="page-content">
        <div class="row">
            <div class="row-height">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 col-md-height col-sm-middle col-lg-top"
                     id="api-thumbnail">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-md-height col-md-top" id="api-info">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 col-md-height col-md-top">
                    <form class="form-api-subscription add-padding-4x">
                        <div class="form-group" id="applications-list">
                        </div>

                        <div class="form-group" id="tier-list">
                        </div>

                    </form>

                </div>

            </div>
        </div>

        <div class="row" id = "tab-list">

        </div>
    </div>
{{/fillZone}}