{{js "js/tinymce/tinymce.min.js"}}
{{js "js/inline-editor.js"}}

<input type="hidden" id="apiId" value="{{this.@pathParams.apiId}}"/>
<input type="hidden" id="docId" value="{{this.@pathParams.documentId}}"/>
<div class="page-header">
    <h1 id="api-name" class="text-primary"></h1>
    <h3 id="api-version" class="text-primary"></h3>
    <h3 id="doc-name" class="text-primary"></h3>
</div>
<div class="row">
    <div>
    	<div class="col-md-8">
	       <textarea id="inlineEditor" style="width:100%;height:500px;"></textarea>
    	</div>
    </div>
     <div class="col-md-12">
                    <div style="padding:10px 0;">
                        <button type="button" title="{{ i18n "Save the changes to the document and stay in this tab"}}" class="btn btn-primary" id="inline-apply-button" onclick="">{{i18n "Save"}}</button>
                        <button type="button" title="{{i18n "Save the document and close this tab"}}" class="btn btn-primary" id="inline-save-button" onclick="">{{i18n "Save and Close"}}</button>
                        <button type="button" title="{{i18n "Cancel all the unsaved changes and close this tab"}}"  class="btn btn-default" id="inline-cancel-button" onclick="">{{i18n "Cancel"}}</button>

                    </div>
                </div>
</div>