{{layout "org.wso2.carbon.apimgt.publisher.commons.ui.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Listing | " @config.appName}}
{{js "js/apis/api.js"}}
{{css "css/custom.css"}}
{{#fillZone "content"}}
    <div class="body-wrapper">
        <div class="page-header"> <h2>Statistics</h2> </div>
        <div class="message message-warning">
            <h4><i class="icon fw fw-warning"></i>Not Configured</h4>
            <p> <a href="https://docs.wso2.com/display/AM200/Configuring+APIM+Analytics" target="_blank" title="WSO2 documentation on APIM Analytics" class="warningLink">
                Refer our documentation to configure API Manager Analytics correctly </a></p>
        </div>
        <div class="col-sm-4">
            <h3>APIs</h3>
            <ul class="nav nav-pills secondary-nav collapse in " id="secondaryMenu" role="menu" aria-labelledby="btn-1">
                <li><a class="substats" "created="" apis="" over="" time"="" href="/publisher/site/pages/all-statistics.jag?page=apis-time&amp;stat=stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=apis-time&amp;stat=stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-pie-chart" title="Created APIs Over Time"></i>
                    Created APIs Over Time</a></li>

                <li><a class="substats" title="API Usage" href="/publisher/site/pages/all-statistics.jag?page=api-usage-user&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-usage-user&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-bar-chart" title="API Usage"></i>
                    API Usage</a></li>
                <!--li><a class="substats" title="API Response Times"
                    href="/publisher/site/pages/all-statistics.jag?page=api-response-times&stat=all-stat"
                    onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-response-times&stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-bar-chart" title="API Response Times"></i>
                    API Response Times</a></li-->
                <li><a class="substats" title="API Last Access Times" href="/publisher/site/pages/all-statistics.jag?page=api-last-access-times&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-last-access-times&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-table" title="API Last Access Times"></i>
                    API Last Access Times</a></li>
                <li><a class="substats" title="Usage by Resource Path" href="/publisher/site/pages/all-statistics.jag?page=api-usage-resource-path&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-usage-resource-path&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-table" title="Usage by Resource Path"></i>
                    Usage by Resource Path</a></li>
                <li><a class="substats" title="Usage by Destination" href="/publisher/site/pages/all-statistics.jag?page=api-usage-destination&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-usage-destination&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-table" title="Usage by Destination"></i>
                    Usage by Destination</a></li>
                <li><a class="substats" title="API Usage Comparison" href="/publisher/site/pages/all-statistics.jag?page=api-usage&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-usage&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-pie-chart" title="API Usage Comparison"></i>
                    API Usage Comparison</a></li>
                <li><a class="substats" title="API Throttled Requests" href="/publisher/site/pages/all-statistics.jag?page=api-throttledcounts&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-throttledcounts&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-bar-chart" title="API Throttled Requests"></i>
                    API Throttled Requests</a></li>

                <li><a class="substats" title="Faulty Invocations" href="/publisher/site/pages/all-statistics.jag?page=faulty-invocations&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=faulty-invocations&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-bar-chart" title="Faulty Invocations"></i>
                    Faulty Invocations</a></li>
                <li><a class="substats" title="API Latency" href="/publisher/site/pages/all-statistics.jag?page=api-latencytime&amp;stat=stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-latencytime&amp;stat=stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-statistics" title="API Latency"></i>
                    API Latency</a></li>
                <li><a class="substats" title="API Usage Across Geo Locations" href="/publisher/site/pages/all-statistics.jag?page=api-geolocation-usage&amp;stat=stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-geolocation-usage&amp;stat=stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-globe" title="API Usage Across Geo Locations"></i>
                    API Usage Across Geo Locations</a></li>
                <li><a class="substats" "api="" usage="" across="" agent"="" href="/publisher/site/pages/all-statistics.jag?page=api-user-agent-usage&amp;stat=stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-user-agent-usage&amp;stat=stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-pie-chart" title="API Usage Across Usage Agent"></i>
                    API Usage Across Usage Agent</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>Applications</h3>
            <ul class="nav nav-pills secondary-nav  collapse in " id="secondaryMenu" role="menu" aria-labelledby="btn-1">
                <li><a class="substats" title="App Throttled Requests" href="/publisher/site/pages/all-statistics.jag?page=application-throttledcounts&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=application-throttledcounts&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-bar-chart" title="App Throttled Requests"></i>
                    App Throttled Requests</a></li>
                <li><a class="substats" title="Applications Created Over Time" href="/publisher/site/pages/all-statistics.jag?page=applications-time&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=applications-time&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-table" title="Applications Created Over Time"></i>
                    Applications Created Over Time</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>Subscriptions</h3>
            <ul class="nav nav-pills secondary-nav  collapse in " id="secondaryMenu" role="menu" aria-labelledby="btn-1">

                <li><a class="substats" title="API Subscriptions" href="/publisher/site/pages/all-statistics.jag?page=api-subscriptions&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=api-subscriptions&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-pie-chart" title="API Subscriptions"></i>
                    API Subscriptions</a></li>
                <li><a class="substats" title="Developer Signups Over Time" href="/publisher/site/pages/all-statistics.jag?page=developers-time&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=developers-time&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-table" title="Developer Signups Over Time"></i>
                    Developer Signups Over Time</a></li>
                <li><a class="substats" title="Subscriptions Created Over Time" href="/publisher/site/pages/all-statistics.jag?page=subscriptions-time&amp;stat=all-stat" onclick="jagg.sessionAwareJS({redirect:'/publisher/site/pages/all-statistics.jag?page=subscriptions-time&amp;stat=all-stat',e:event,ssoEnabled:false})">
                    <i class="icon fw fw-table" title="Subscriptions Created Over Time"></i>
                    Subscriptions Created Over Time</a></li>
            </ul>
        </div>
    </div>
{{/fillZone}}