{{layout "org.wso2.carbon.apimgt.publisher.commons.ui.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Subscriptions | " @config.appName}}
{{js "js/main.js"}}
{{js "js/left-navigation.js"}}
{{js "js/script.js"}}
{{js "js/common.js"}}
{{css "css/custom.css"}}
{{#fillZone "content"}}
    {{!--<div class="body-wrapper">


        <script>
            function toggleKey(btn){
                if($(btn).next().is(":visible")){
                    $(btn).next().hide('fast');
                    $(btn).html('<i class=" icon-chevron-down" title="show-key"></i> Show Key');
                }else{
                    $(btn).next().show('fast');
                    $(btn).html('<i class=" icon-chevron-up" title="hide-key"></i> Hide Key');
                }

            }
        </script>
        <div id="col-sm-12">
            <div id="userKey">
                <div class="page-header">
                    <h2>Manage Subscriptions</h2>
                </div>

                <div id="manage-subscriptions_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="dataTablesTop"><div id="manage-subscriptions_filter" class="dataTables_filter"><label><i class="fw fw-search search-icon"></i><input type="search" class="form-control" placeholder="Filter by ..." aria-controls="manage-subscriptions"></label></div><div class="dataTables_toolbar"></div></div><table id="manage-subscriptions" class="table table-responsive table-striped dataTable no-footer" role="grid" aria-describedby="manage-subscriptions_info">
                    <thead>
                    <tr role="row"><th class="userSpecialCell sorting_asc" rowspan="1" colspan="1" aria-label="User">User</th><th class="appSpecialCell sorting" tabindex="0" aria-controls="manage-subscriptions" rowspan="1" colspan="1" aria-label="Application: activate to sort column ascending">Application</th><th class="apiSpecialCell sorting" tabindex="0" aria-controls="manage-subscriptions" rowspan="1" colspan="1" aria-label="API: activate to sort column ascending">API</th><th class="userSpecialCell sorting_disabled" rowspan="1" colspan="1" aria-label="Still Subscribed?">Still Subscribed?</th><th class="actionSpecialCell sorting_disabled" rowspan="1" colspan="1" aria-label=""></th></tr>
                    </thead>
                    <tbody id="users">



                    <tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No data available in table</td></tr></tbody>
                </table><div class="dataTablesBottom"><div class="dataTables_length" id="manage-subscriptions_length"><label>Show <select name="manage-subscriptions_length" aria-controls="manage-subscriptions" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div class="dataTables_info" id="manage-subscriptions_info" role="status" aria-live="polite">Showing 0 to 0 of 0 entries</div><div class="dataTables_paginate paging_simple_numbers" id="manage-subscriptions_paginate" style="display: none;"><ul class="pagination"><li class="paginate_button previous disabled" id="manage-subscriptions_previous"><a href="#" aria-controls="manage-subscriptions" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button next disabled" id="manage-subscriptions_next"><a href="#" aria-controls="manage-subscriptions" data-dt-idx="1" tabindex="0">Next</a></li></ul></div></div></div>


                <!--START Pagination links-->




            </div>
        </div>




    </div>--}}
    <div class="page-header">
        <h1>{{i18n "Subscriptions"}}</h1>
    </div>
    <div class="page-content">
        <div class="message message-info">
            <h4><i class="icon fw fw-info"></i>This feature is not supported yet.</h4>
        </div>
    </div>
{{/fillZone}}